---
title: 'Accessibility Statement'
date: "2023-08-28T14:02:52"
updated: "2023-08-28T14:09:08"
slug: accessibility-statement
permalink: /en/accessibility-statement/
status: publish
pageHero: true
sourceType: pages
excerpt: 'Accessibility Statement General This is the accessibility statement for the Generation AI project. The generation-ai-stn website is subject to the law on the provision of digital services, which requires that public online services be accessible. This accessibility statement concerns the website www.gen-ai-stn.fi and was prepared on 28.08.2023. The accessibility of this digital service has been assessed by a third-party program Axe devtools, which is considered one of the best accessibility assessment software tools. Status of the digital service''s accessibility The service has been tested automatically and to that extent meets all WCAG 2.1. AA accessibility requirements. Digital service accessibility feedback…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: en
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "591_790e74-2b",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "center",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "591_be01e1-36",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "591_c2c078-fb",
    "level": 1,
    "align": "center",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Accessibility Statement
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading">General</h2>



<p>This is the accessibility statement for the Generation AI project. The generation-ai-stn website is subject to the law on the provision of digital services, which requires that public online services be accessible. This accessibility statement concerns the website www.gen-ai-stn.fi and was prepared on 28.08.2023. The accessibility of this digital service has been assessed by a third-party program Axe devtools, which is considered one of the best accessibility assessment software tools.</p>



<h2 class="wp-block-heading">Status of the digital service's accessibility</h2>



<p>The service has been tested automatically and to that extent meets all WCAG 2.1. AA accessibility requirements. </p>



<h2 class="wp-block-heading">Accessibility feedback</h2>



<p>Send an email to info@generation-ai-stn.fi</p>



<h2 class="wp-block-heading">Supervisory authority</h2>



<p>If you notice accessibility problems on the website, please give feedback to us, the website administrator. The response may take 14 days. If you are not satisfied with the response you receive or do not receive a response within two weeks, <a href="https://www.saavutettavuusvaatimukset.fi/oikeutesi/" target="_blank" rel="noreferrer noopener">you can file a complaint with the Regional State Administrative Agency of Southern Finland Opens in a new window</a>. The Regional State Administrative Agency of Southern Finland website provides detailed information on how to file a complaint and how the matter will be handled.</p>



<p><strong>SUPERVISORY AUTHORITY CONTACT INFORMATION</strong></p>



<p>Regional State Administrative Agency of Southern Finland<br>Accessibility Supervision Unit<br>www.saavutettavuusvaatimukset.fi<br>saavutettavuus(at)avi.fi<br>phone number switchboard 0295 016 000</p>