---
permalink: /en/genai-opetettava-kone/
eleventyExcludeFromCollections: true
layout: layouts/redirect.njk
lang: en
sourceType: pages
redirectTo: https://www.gen-ai.fi/en/tools/tm
redirectTitle: Teaching Machine - moved
redirectMessage: This page has moved to a new address.
redirectLinkLabel: Go to the new address
---
