---
title: 'Newsletter Privacy Statement'
date: "2023-08-28T09:20:07"
updated: "2023-08-28T10:00:53"
slug: newsletter-privacy-statement
permalink: /en/newsletter-privacy-statement/
status: publish
pageHero: true
sourceType: pages
excerpt: 'Newsletter Privacy Statement Privacy statement for the Generation AI project newsletter. Generation AI publishes an electronic newsletter that can be subscribed to through the project''s website. The newsletter is sent by email to subscribers (opt-in). Personal data is used only for sending the newsletter. From newsletter subscribers, only the email address, name and organization are stored. Of these data, only providing the email address is mandatory. Additional information provided by the data subject can also be processed if necessary to target the newsletter, for example…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: en
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "572_c37073-38",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "572_2cb44f-b0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "572_78198d-ba",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "572_675b55-22",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "572_f5362c-7d",
    "align": "center",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "xxl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Newsletter Privacy Statement
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h3 class="wp-block-heading">Generation AI project newsletter</h3>



<p>Generation AI publishes an electronic newsletter that can be subscribed to through the project's website. The newsletter is sent by email to its subscribers (opt-in). Personal data is used only for sending the newsletter.</p>



<p>From newsletter subscribers, only the email address, name and organization are stored. Of these data, only providing the email address is mandatory. Additional information provided by the data subject can also be processed if necessary to target the newsletter, for example by the organization's field of activity. Personal data is retained as long as it is necessary to send the newsletter (until the subscription is cancelled or the newsletter service ceases to exist).</p>



<p>Newsletter subscribers have the opportunity to cancel their subscription or change their subscription settings each time they receive a newsletter. The subscription can also be cancelled through <strong>the Generation AI project's website</strong>. Personal data of those who have cancelled their newsletter subscription will be destroyed without delay.</p>



<p>The service collects and stores information about newsletter openings or clicks to meet the reporting requirements of the Generation AI project's funder. Subscribers are subject only to the monitoring, tracking or supervision required by the project's reporting requirements in connection with subscribing to or receiving the newsletter.</p>



<h4 class="wp-block-heading">Basis for our processing</h4>



<p>We process the newsletter's personal data based on the controller's legitimate interest.</p>



<h4 class="wp-block-heading">Disclosure and transfer of personal data</h4>



<p>The controller of personal data is the work package responsible for interaction in the Generation AI project in the Faculty of Education and Psychology at the University of Oulu.</p>



<p>The newsletter is part of the Generation AI project's website, which operates on the web servers of the Finnish Zoner company on a WordPress platform. The newsletter is based on a WordPress extension called Newsletter. The extension is fully GDPR compliant.</p>



<p>Data is not disclosed for direct marketing and opinion or market research purposes, unless specifically provided by law for disclosure for this purpose.</p>



<p>Personal data processing is carried out within the EU/EEA area. Personal data will not be transferred to third countries or international organizations.</p>



<h4 class="wp-block-heading">Your data protection rights related to personal data processing</h4>



<p>In this section, we inform you of your data protection rights related to the Generation AI project's electronic newsletter.</p>



<h5 class="wp-block-heading">Right to information about personal data processing</h5>



<ul>
<li>you have the right to know for what purposes and in what ways we process your personal data</li>



<li>through this description of our privacy practices, we aim to provide a comprehensive picture of personal data processing in our operations. However, if some part of the personal data processing we carry out remains unclear, we have not succeeded in our efforts. In that case, you can submit clarifying questions by sending them to the Generation project's interaction team by email (see contact details below)</li>
</ul>



<h5 class="wp-block-heading">Right of access to information</h5>



<ul>
<li>you have the right to know whether we process personal data concerning you. If we do, you have the right to receive a copy of this data, unless we have a legal basis to refuse to exercise the right</li>
</ul>



<h5 class="wp-block-heading">Right to rectify information</h5>



<ul>
<li>if personal data concerning you that we process is inaccurate, you can request us to correct the information</li>



<li>if we correct the information at your request, we are obliged to inform all parties to whom the information was previously disclosed of the correction, where possible</li>
</ul>



<h5 class="wp-block-heading">Right to restrict data processing</h5>



<ul>
<li>if you believe that the personal data we process concerning you is inaccurate, is being processed unlawfully, or you have objected to the processing of your data, you can request us to restrict the processing of your data</li>



<li>in that case, we can process your data only with your consent
<ul>
<li>if we need the data to prepare, submit or defend a legal claim</li>



<li>for reasons of public interest, or</li>



<li>to protect the rights of another person</li>
</ul>
</li>



<li>if we restrict data processing at your request, we are obliged to inform all parties to whom the information was previously disclosed of the restriction, where possible</li>
</ul>



<h4 class="wp-block-heading">Obligation to notify regarding deletion or correction of personal data</h4>



<p>The Generation AI project must notify all recipients to whom personal data has been disclosed of any corrections or restrictions on processing of personal data.</p>



<h4 class="wp-block-heading">Right to object to personal data processing<br></h4>



<p>You have the right to object to the processing of your personal data that we carry out, if you so wish. You can do this at any time on the basis of your particular personal situation.</p>



<p>In that case, we may no longer process your personal data, except where there is a compelling and justified reason for the processing that overrides your interests, rights and freedoms, or if the processing of data is necessary to prepare, submit or defend a legal claim.</p>



<h4 class="wp-block-heading">Contact information for exercising your rights</h4>



<p>You can submit a request regarding your data protection rights to the Generation AI project's interaction coordinator by email (info@generation-ai-stn.fi)</p>