---
title: 'Research'
date: "2023-09-19T21:02:42"
updated: "2025-01-23T13:54:05"
slug: research
permalink: /en/research/
status: publish
sourceType: pages
excerpt: 'The Generation project is part of the Strategic Research Council''s Shield programme Scientific conferences and other events Scientific publications'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: en
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "950_ed2384-86",
    "colLayout": "right-golden",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "950_725327-83",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "950_5cc094-57",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "lg",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
The Generation project is part of the Strategic Research Council's Shield programme
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<figure class="wp-block-image aligncenter size-full is-resized"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/72a0207c-4463-469d-803c-10c9a2abb3db-w_960_h_960.jpg" alt="" class="wp-image-15" style="width:261px;height:82px"/></figure>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "950_4acff0-bd",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/accordion",
  "shortName": "accordion",
  "attrs": {
    "uniqueID": "950_ab8cc2-8e"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "950_714e9c-9d"
  }
} %}
{% set kadenceInnerHtml %}
<button class="kt-blocks-accordion-header kt-acccordion-button-label-show" type="button"><span class="kt-blocks-accordion-title-wrap"><span class="kt-blocks-accordion-title">About the Generation AI project </span></span><span class="kt-blocks-accordion-icon-trigger"></span></button></div><div class="kt-accordion-panel"><div class="kt-accordion-panel-inner">
<h2 class="wp-block-heading">The Generation AI project addresses three interconnected societal challenges: </h2>



<ul class="wp-block-list">
<li>The weakening of security, control, and sense of agency in a data-driven society</li>



<li>The erosion of trust in authorities, media, science, civil society, and citizens, and </li>



<li>Rapidly growing inequality related to the mastery and agency in constantly evolving information and communication technology.&nbsp;&nbsp; </li>
</ul>


{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "950_f0e9c4-d5",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fas_lightbulb",
        "size": 50,
        "width": 1,
        "title": "",
        "color": "#ffffff",
        "hoverColor": "#ffffff",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46.png" alt="" width="1200" height="1200" class="kt-info-box-image wp-image-97"/></div></div></div></div></div><div class="kt-infobox-textcontent"><p class="kt-blocks-info-box-text">The project establishes a foundation upon which technology education for the "AI generation" can be built: technology education that considers the functioning principles of artificial intelligence, the opportunities it offers and its dynamic impacts – without forgetting its shortcomings and risks or how AI systems can increase polarization, discrimination, insecurity, and erode trust.</p>
{% endset %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "950_232298-fd",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 1,
        "title": "",
        "color": "#ffffff",
        "hoverColor": "#ffffff",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face.png" alt="" width="1024" height="1024" class="kt-info-box-image wp-image-88"/></div></div></div></div></div><div class="kt-infobox-textcontent"><p class="kt-blocks-info-box-text">The project brings together technology developers, schools, authorities, businesses, and civil society organizations. It strengthens children's and young people's ability to face the global societal impacts of technology and produces pedagogical tools for teachers in response to the transformation of learning. </p>
{% endset %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "950_ebbf0b-42",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fas_lightbulb",
        "size": 50,
        "width": 1,
        "title": "",
        "color": "#ffffff",
        "hoverColor": "#ffffff",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2022/12/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00.png" alt="" width="1200" height="1200" class="kt-info-box-image wp-image-92"/></div></div></div></div></div><div class="kt-infobox-textcontent"><p class="kt-blocks-info-box-text">Enabling children and young people to understand technology, on which future society is increasingly dependent, is one of the most significant challenges of the 21st century. Inspired by this challenge, the "Generation AI" project produces and sharpens scientific understanding that enables educational solutions responsive to the competence needs of the AI generation.</p>
{% endset %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "950_bbd4a8-e3",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "950_585075-92",
    "text": "Read more about the project",
    "link": "https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}</div>
{% endset %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "950_7007ca-5d"
  }
} %}
{% set kadenceInnerHtml %}
<button class="kt-blocks-accordion-header kt-acccordion-button-label-show" type="button"><span class="kt-blocks-accordion-title-wrap"><span class="kt-blocks-accordion-title"><strong>Read more about the Shield programme</strong></span></span><span class="kt-blocks-accordion-icon-trigger"></span></button></div><div class="kt-accordion-panel"><div class="kt-accordion-panel-inner">{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "950_bc211d-f2",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "lg",
      "",
      ""
    ],
    "fontWeight": "inherit"
  }
} %}
{% set kadenceInnerHtml %}
Generation AI is part of the Strategic Research Council's Shield programme
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p><strong>Generation AI</strong>&nbsp;is a project funded by the Strategic Research Council (STN) operating in connection with the Academy of Finland. Generation AI is one of the projects of the&nbsp;<a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield" target="_blank" rel="noreferrer noopener">Security and Trust in the Age of Algorithms (Shield)</a>&nbsp;programme.</p>



<p>The <a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield" target="_blank" rel="noreferrer noopener">Shield programme</a>&nbsp;focuses on security and trust in a world of information technologies and hybrid influence. In addition to more traditional security threats, the threats and opportunities created by digitalization and technological development, as well as various crises from biodiversity loss to climate change, financial crises, and geopolitical conflicts, are reshaping the operational environment in unpredictable ways.&nbsp;</p>



<figure class="wp-block-image size-full is-resized"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/72a0207c-4463-469d-803c-10c9a2abb3db-w_960_h_960.jpg" alt="" class="wp-image-15" style="width:267px;height:84px"/></figure>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "950_a6820e-f7",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "950_5e8fcd-62",
    "text": "Read more about the Shield programme"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}</div>
{% endset %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "950_c0cdb7-dd"
  }
} %}
{% set kadenceInnerHtml %}
<button class="kt-blocks-accordion-header kt-acccordion-button-label-show" type="button"><span class="kt-blocks-accordion-title-wrap"><span class="kt-blocks-accordion-title">The Shield programme has also funded three other research projects</span></span><span class="kt-blocks-accordion-icon-trigger"></span></button></div><div class="kt-accordion-panel"><div class="kt-accordion-panel-inner">
<h3 class="wp-block-heading" style="font-size:24px;line-height:1.3"><strong><strong><a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/deca/" title="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/deca/">Democracy's Epistemic Capacity in the Age of Algorithms (DECA)</a></strong></strong></h3>



<p>Consortium leader:&nbsp;<strong>Mervi Pantti</strong>, University of Helsinki<br>Interaction coordinator:&nbsp;<strong>Minna Horowitz</strong>, University of Helsinki</p>



<p>Consortium composition: University of Helsinki, Aalto University, University of Tampere, University of Eastern Finland, Youth Research Society</p>



<h3 class="wp-block-heading" style="font-size:24px;line-height:1.3"><strong><a href="https://wordpress.org"></a><a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/repair/"><strong>Fractures in Algorithmic Systems </strong></a><strong><a href="https://wordpress.org" target="_blank" rel="noopener" title="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/repair/">and</a></strong><a href="https://wordpress.org"></a><a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/repair/"><strong> New Beginnings (REPAIR)</strong></a></strong></h3>



<p>Consortium leader:&nbsp;<strong>Minna Ruckenstein</strong>, University of Helsinki<br>Interaction coordinator:&nbsp;<strong>Johannes Mikkonen</strong>, Demos Helsinki</p>



<p>Consortium composition: University of Helsinki, LUT University, University of Tampere, Demos Helsinki</p>



<h3 class="wp-block-heading has-medium-font-size" style="line-height:1.3"><strong><a href="http://wordpress.org" target="_blank" rel="noopener" title="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/trust-m/">Designing Trustworthy and Non-Discriminatory Digital Public Services for Immigrants (Trust-M) </a></strong></h3>



<p>Consortium leader:&nbsp;<strong>Nitin Sawhney</strong>, Aalto University<br>Interaction coordinator:&nbsp;<strong>Suvi Sankari</strong>, Aalto University</p>



<p>Consortium composition: Aalto University, University of Tampere, University of Helsinki, City of Espoo</p>
</div>
{% endset %}
{% include "blocks/kadence/pane.njk" %}
{% endset %}
{% include "blocks/kadence/accordion.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading has-text-align-left has-large-font-size">Scientific conferences and other events</h2>


{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "950_7b7781-45"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/postgrid.njk" %}


<h2 class="wp-block-heading has-text-align-left has-large-font-size">Scientific publications</h2>



[zotpress style="apa" sort="ASC" download="yes"]


<!-- TODO: kadence/dynamiclist ei tuettu — alkuperäinen sisältö säilytetty -->
<div class="block-fallback block-fallback--dynamiclist" data-original-block="kadence/dynamiclist">

</div>