---
title: 'Somekone teaching materials - moved'
permalink: /en/materiaalit/somekone-some-emulator-en/teaching-materials-of-somekone-emulator/
eleventyExcludeFromCollections: true
layout: layouts/redirect.njk
lang: en
sourceType: pages
redirectTo: https://www.gen-ai.fi/en/materials/somekone-unit
redirectTitle: Somekone teaching materials - moved
redirectMessage: This page has moved to a new address.
redirectLinkLabel: Go to the new address
---
