---
title: 'Welcome to the Generation AI project website!'
date: "2021-03-20T14:59:17"
updated: "2026-01-24T08:57:30"
slug: welcome-to-the-generation-ai-project-website
permalink: /en/welcome-to-the-generation-ai-project-website/
status: publish
sourceType: pages
sourceId: 306
sourceUrl: "https://www.generation-ai-stn.fi/"
excerpt: 'Applications and learning materials can be found here: The Generation AI project addresses three interconnected societal challenges We are building a foundation for the AI generation In the project, we are building a foundation on which we can build technology education for the "AI generation": technology education that takes into account the principles of artificial intelligence, the opportunities it offers and its dynamic impacts – without forgetting its shortcomings and risks or how AI systems can increase confrontation, discrimination, insecurity and erode…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
kadenceBlocks:
  - singlebtn
  - advancedbtn
  - column
  - rowlayout
  - advancedheading
  - listitem
  - iconlist
  - postgrid
lang: en
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_f4d29e-02",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "sm",
      "",
      "xxl",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_2bd064-b3",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<h2 class="wp-block-heading has-text-align-center has-large-font-size">Applications and learning materials can be found here:</h2>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "306_63b70e-94"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "306_505b3a-85",
    "text": "Generation AI learning materials",
    "link": "https://www.generation-ai-stn.fi/materiaalit"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_f8ea77-b4",
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "xs",
      "",
      "xl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_e5d05b-ea",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_7dc5e0-43",
    "align": "left",
    "color": "var(--global-palette1)",
    "fontSize": [
      "xl",
      "",
      "lg"
    ]
  }
} %}
{% set kadenceInnerHtml %}
The Generation AI project addresses three interconnected societal challenges
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_208a66-25",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/iconlist",
  "shortName": "iconlist",
  "attrs": {
    "uniqueID": "306_1dd953-c0"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "306_40ca17-41",
    "icon": "fe_check"
  }
} %}
{% set kadenceInnerHtml %}
Weakening of safety, control and sense of free will in a data-driven society
{% endset %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "306_99ffd5-be",
    "icon": "fe_check"
  }
} %}
{% set kadenceInnerHtml %}
Decline in trust in authorities, media, science, civil society and citizens, and
{% endset %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "306_219811-32",
    "icon": "fe_check"
  }
} %}
{% set kadenceInnerHtml %}
Rapidly growing inequality related to mastery and agency in ever-changing information and communication technology.&nbsp;&nbsp;
{% endset %}
{% include "blocks/kadence/listitem.njk" %}
{% endset %}
{% include "blocks/kadence/iconlist.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_c5126e-a6",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_64e8bc-b9",
    "padding": [
      "",
      "lg",
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_0ebdf6-a5",
    "color": "var(--global-palette9)",
    "fontSize": [
      "xl",
      "",
      "xl"
    ]
  }
} %}
{% set kadenceInnerHtml %}
We are building a foundation for the AI generation
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_5efc96-1b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_70ca46-26",
    "color": "var(--global-palette9)"
  }
} %}
{% set kadenceInnerHtml %}
In the project, we are building a foundation on which we can build technology education for the "AI generation": technology education that takes into account the principles of artificial intelligence, the opportunities it offers and its dynamic impacts – without forgetting its shortcomings and risks or how AI systems can increase confrontation, discrimination, insecurity and erode trust.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "306_f40128-32",
    "collection": "ajankohtaista",
    "postsToShow": 6,
    "postLayout": "carousel",
    "title": "Current news"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/postgrid.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_4062ef-db",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_85201c-14",
    "padding": [
      "",
      "lg",
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_017137-08",
    "color": "var(--global-palette9)",
    "fontSize": [
      "xl",
      "",
      "xl"
    ]
  }
} %}
{% set kadenceInnerHtml %}
We develop tools and materials together
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_a80ef0-43",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_9c1b76-19",
    "color": "var(--global-palette9)"
  }
} %}
{% set kadenceInnerHtml %}
The project brings together technology developers, schools, authorities, companies and civil society organizations. It strengthens children's and young people's ability to face the global societal impacts of technology and produces pedagogical tools for teachers in the transformation of learning.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "306_1556f9-03",
    "collection": "hankkeen-toiminta",
    "postsToShow": 6,
    "postLayout": "carousel",
    "title": "Project activities"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/postgrid.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_7a3eaf-ef",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_551849-fd",
    "padding": [
      "",
      "lg",
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_701457-b6",
    "color": "var(--global-palette9)",
    "fontSize": [
      "xl",
      "",
      "xl"
    ]
  }
} %}
{% set kadenceInnerHtml %}
The project produces and refines scientific understanding
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_ddd7e9-98",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-theme-palette-9-color has-text-color">Helping children and young people understand the technology on which future society is increasingly dependent is one of the most significant challenges of the 21st century. Inspired by this challenge, the "Generation AI" project produces and refines scientific understanding that enables educational solutions that meet the competence needs of the AI generation.</p>



<p><a href="/?page_id=420"></a></p>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "306_203f89-64",
    "collection": "tutkimus",
    "postsToShow": 6,
    "postLayout": "carousel",
    "title": "Research"
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/postgrid.njk" %}