---
permalink: /en/what-we-do/
eleventyExcludeFromCollections: true
lang: en
layout: layouts/redirect.njk
redirectTo: /en/activities/
redirectTitle: What we do - moved
redirectMessage: This page has moved.
redirectLinkLabel: Go to the current page
---
