---
title: 'What we do?'
date: "2023-09-14T14:43:00"
updated: "2025-02-12T22:08:24"
slug: what-we-do
permalink: /en/what-we-do/
status: publish
sourceType: pages
excerpt: 'Hanke tuottaa ja terävöittää tieteellistä ymmärrystä, joka mahdollistaa AI- sukupolven osaamistarpeisiin vastaavat koulutusratkaisut Generation AI The project will build a foundation on which to build technology education for the “AI generation”: technology education that takes into account how AI works, the opportunities it offers and its dynamic effects – without ignoring its shortcomings and risks,…'
categories: []
tags: []
lang: en
author: admin
layout: layouts/page.njk
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "647_5029fd-ba",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_e7e6fa-ad",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2",
    "verticalAlignment": "top"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_4f5fdf-3d",
    "color": "var(--global-palette4)",
    "textTransform": "uppercase",
    "fontWeight": "400",
    "fontSize": "sm"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Hanke tuottaa ja terävöittää tieteellistä ymmärrystä, joka mahdollistaa AI- sukupolven osaamistarpeisiin vastaavat koulutusratkaisut
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_cd8f3c-f6",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Generation AI
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>The project will build a foundation on which to build technology education for the "AI generation": technology education that takes into account how AI works, the opportunities it offers and its dynamic effects - without ignoring its shortcomings and risks, or how AI systems can foster confrontation, discrimination, insecurity and erode trust. The project supports learners' understanding of safety and trust in artificial intelligence (AI)- and machine learning (ML)-based systems.  </p>
<cite>Ote hankkeen tilannekuvaraportista. Lue lisää: <a href="https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/" title="Tilannekuva 2022 – tiivistelmä">Tilannekuva 2022 – tiivistelmä</a></cite></blockquote>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_2aa858-05",
    "hAlign": "left"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_013ef0-ec",
    "text": "Download the project snapshot report here",
    "link": "https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/rowlayout.njk" %}
<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Choose one of the three options:</h2>
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "647_e309f6-a6",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "xxs",
      "",
      "3xl",
      ""
    ],
    "align": "full"
  }
} %}
{% set _kb_save_24 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_931c84-d0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_11 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_528143-2d",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": "md"
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}
I am a teacher or other person interested in teaching and learning
{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_7c28ba-66",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set _kb_save_8 = kadenceBlock %}
{% set kadenceInnerHtml %}
Explore the free applications, materials and methods developed by the project, especially for use by pre-primary and primary education professionals.
{% endset %}
{% set kadenceBlock = _kb_save_8 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_564242-04",
    "hAlign": "left"
  }
} %}
{% set _kb_save_10 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_ada0dc-47",
    "text": "Read more",
    "link": "https://www.generation-ai-stn.fi/opettajalle/"
  }
} %}
{% set _kb_save_9 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_9 %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_10 %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_11 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_6f3b11-dc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_17 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_12 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_12 %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_2fec08-fc",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": "md"
  }
} %}
{% set _kb_save_13 = kadenceBlock %}
{% set kadenceInnerHtml %}
I am a researcher or other person interested in science
{% endset %}
{% set kadenceBlock = _kb_save_13 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_bd9206-55",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set _kb_save_14 = kadenceBlock %}
{% set kadenceInnerHtml %}
Get to know the high quality and international research that the project is carrying out. The applications, learning materials and methodologies are based on this research.
{% endset %}
{% set kadenceBlock = _kb_save_14 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_ca0840-65",
    "hAlign": "left"
  }
} %}
{% set _kb_save_16 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_faba52-06",
    "text": "Read more",
    "link": "https://www.generation-ai-stn.fi/generation-ai-hankkeessa-tehtava-tutkimus/"
  }
} %}
{% set _kb_save_15 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_15 %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_16 %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_17 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_e3f39a-ac",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_23 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_18 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_18 %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_00bc74-2b",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": "md"
  }
} %}
{% set _kb_save_19 = kadenceBlock %}
{% set kadenceInnerHtml %}
I am a citizen interested in artificial intelligence
{% endset %}
{% set kadenceBlock = _kb_save_19 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_f593b2-44",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set _kb_save_20 = kadenceBlock %}
{% set kadenceInnerHtml %}
Our project employs a number of internationally renowned top experts in AI. Here you can find interviews and other related content from the media.
{% endset %}
{% set kadenceBlock = _kb_save_20 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_fb5396-e2",
    "hAlign": "left"
  }
} %}
{% set _kb_save_22 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_f1e98b-b6",
    "text": "Read more",
    "link": "https://www.generation-ai-stn.fi/medialle/"
  }
} %}
{% set _kb_save_21 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_21 %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_22 %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_23 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_24 %}
{% include "blocks/kadence/rowlayout.njk" %}
