---
title: 'As the role of artificial intelligence grows in society, children''s and young people''s competences must be developed in pre- and primary education'
date: "2023-01-19T20:15:29"
updated: "2023-01-28T21:07:32"
slug: as-the-role-of-artificial-intelligence-grows-in-society-children-s-and-young-peo
permalink: /en/current-affairs/as-the-role-of-artificial-intelligence-grows-in-society-children-s-and-young-peo/
status: publish
sourceType: posts
excerpt: 'AI-based technologies have rapidly become widespread across different areas of society. Many of them collect vast amounts of information about people, on the basis of which various actors profile and model citizens, which makes it possible to predict human behavior and influence people''s actions. This data collection also extends to children, but although parents and educators are expected to play a key role in protecting and supporting children''s privacy and safety online, adults themselves also have difficulty understanding the processes of today''s data economy. …'
categories:
  - News
  - Generation AI monthly AI news (newsletter)
tags:
  - uutiskirje
author: admin
featuredImage: "https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face.png"
layout: layouts/post.njk
lang: en
---
<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-300x300.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-300x300.png" alt="" class="wp-image-214 size-medium"/></figure><div class="wp-block-media-text__content">
<p>AI-based technologies have rapidly become widespread across different areas of society. Many of them collect vast amounts of information about people, on the basis of which various actors profile and model citizens, which makes it possible to predict human behavior and influence people's actions.</p>



<p>This data collection also extends to children, but although parents and educators are expected to play a key role in protecting and supporting children's privacy and safety online, adults themselves also have difficulty understanding the processes of today's data economy.</p>



<p>There are significant differences in adults' ability to support children with privacy protection and safety-related issues, which increases inequality and makes some children more vulnerable than others. These actions are part of the world of legal and political regulations, such as the General Data Protection Regulation. Teenagers, parents, and educators are expected to be able and willing to make decisions based on this information when using various digital services and complex web data utilization consent mechanisms.</p>
</div></div>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">The role of artificial intelligence in society has grown, but there are gaps in teachers' competence and regulation of its use in schools</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>Although programming has been taught in primary schools according to the current curriculum at all grade levels since 2016, these traditional computer science teaching contents respond poorly to the challenges of a data-literate society. Clear gaps in the available tools for teaching artificial intelligence (such as Machine Learning for Kids) include, for example, the lack of Finnish language support and unclear use of the data they collect. Teachers' readiness to address AI-related topics as part of teaching also requires investment and new methods.</p>



<p></p>



<p>Every child and young person must be able to safely use applications and services that utilize artificial intelligence. Therefore, it is important to develop educational tools, learning packages, and pedagogical methods for teaching cybersecurity, privacy protection, and artificial intelligence in both pre- and primary education as well as teacher education. It is equally important to develop teacher education and various continuous training opportunities so that teachers and educators can act in a society where the role of artificial intelligence and machine learning is growing significantly.</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00-1024x683.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00-1024x683.png" alt="" class="wp-image-223 size-large"/></figure></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/spacer.njk" %}


<p></p>



<h4 class="alignwide">The project develops educational tools, learning packages, and methods for pre- and primary education</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46-1024x1024.png);background-position:59% 21%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46-1024x1024.png" alt="" class="wp-image-97 size-large"/></figure><div class="wp-block-media-text__content">
<p>The project plans and implements contents, materials, and methods for pre- and primary school students based on the use of artificial intelligence and machine learning, together with children, young people, and student teachers. The project also provides basic and continuing education for teachers on this new phenomenon.</p>



<p></p>



<p>The aim is to help students, teachers, and student teachers understand artificial intelligence/machine learning-related security issues, technologies, and models through experimentation and invention. Within the framework of the project, we improve the quality of technology education in both pre- and primary education and teacher education in the long term by having student teachers engage in close collaboration with schools.</p>



<p></p>



<p>In practice, this is realized by organizing several artificial intelligence-related co-design projects that involve both student teachers and pre- and primary school teachers and students. These learning packages and practical exercises focus on the basics of cybersecurity and its connections with artificial intelligence and machine learning.</p>



<p></p>



<p>In practice, we work with students to address basic concepts and skills of artificial intelligence as well as its ethical and social impacts in our daily lives. Students identify personally meaningful challenges related to cybersecurity and innovate solutions with the help of researchers. At the same time, they develop and deepen their understanding of artificial intelligence and machine learning.</p>



<p></p>



<p>The project plans easy-to-use digital learning environments and materials that can support school teaching as well as children's and their families' self-directed learning in their free time. Development work focuses particularly on the interaction between artificial intelligence and cybersecurity, and evaluates the usability and suitability of the developed educational tools for cybersecurity and combating misinformation, prejudice, and stereotypes.</p>



<p></p>



<p>Digital learning environments and materials also collect data on user preferences and learning outcomes. To achieve the widest possible impact, learning packages and educational tools are designed to be scalable and easy to implement.</p>
</div></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">The project produces recommendations for the realization of children's rights in AI-based systems</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>From a child's perspective, the online environment also presents a dilemma regarding protecting their privacy and safety against their opportunities for participation, freedom of expression, self-exploration, information seeking, and civil rights, as defined in the United Nations Convention on the Rights of the Child.</p>



<p></p>



<p>The project increases legal research on children's rights in the field of artificial intelligence. The project analyzes the data authority's legal requirements and identifies risks to children's rights from the perspective of protection and participation. The legal framework is compared with learners' attitudes and perceptions of their rights regarding their data and algorithmic manipulation.</p>



<p></p>



<p>The project examines legal concepts concerning children's consent and decision-making capacity in AI-based systems. It analyzes the statutory age limits for children's consent and parents' responsibility for giving and transferring consent for younger children to schools.</p>



<p></p>



<p>The project critically examines legal norms concerning children's consent, particularly in relation to the General Data Protection Regulation. It also examines the prerequisites for decision-making in AI-based teaching and learning tools, such as what artificial intelligence schools can use in teaching with the child's consent, parental permission, and the school's educational mandate.</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png" alt="" class="wp-image-113 size-full"/></figure></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">The project engages numerous stakeholders and disseminates information about artificial intelligence and machine learning</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face-1024x1024.png);background-position:71% 34%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face-1024x1024.png" alt="" class="wp-image-88 size-large"/></figure><div class="wp-block-media-text__content">
<p>The project produces recommendations for government, guardians, teacher educators, and educators (e.g., schools) on how they can fulfill their obligations regarding artificial intelligence and children's rights (relating, for example, to specific transparency requirements for AI, children's data management, and issues related to children's online profiling).</p>



<p></p>



<p>From the perspective of the Finnish school system, it is important that thanks to the project, artificial intelligence and machine learning phenomena can be taught in schools in a way that is appropriate for children's and young people's age level.</p>



<p></p>



<p>The materials and applications developed in the project develop both data agency, trust, and security for all parties and are based on inclusive and self-reflective methods. The pedagogical models and machine learning-based technologies developed make it possible to integrate artificial intelligence/machine learning topics into education. To support policymakers' decision-making, the project produces field-specific strategies and measures to strengthen agency and participation in the age of artificial intelligence.</p>



<p></p>



<p>In the long term, it is also important that the project engages Finnish teacher education. The project creates materials, course implementations, and other demonstrations and exhibitions that make it possible to integrate artificial intelligence and machine learning topics into teacher education. These topics are piloted in three universities: the University of Helsinki, University of Eastern Finland, and University of Oulu.</p>



<p></p>



<p>Graduating student teachers are encouraged to share the artificial intelligence and machine learning materials and experiences they learned about in teacher education with colleagues and students in their future workplaces. The project's alumni network offers teachers a newsletter, new and current information on security issues, and continuing education.</p>



<p></p>



<p>Future teachers are encouraged to share what they have learned and materials on this topic with students and colleagues in their workplaces. The alumni network offers teachers a newsletter, new and current information on security issues, and continuing education.</p>



<p>The project's impact is ensured through a new artificial intelligence and machine learning MOOC course and open educational materials as well as social media content.</p>



<p></p>



<p>The project also includes the science center Heureka, Joensuu Scifest, and CodeSchool Finland, which help disseminate the expertise generated in the project to their respective stakeholders.</p>



<p></p>



<p>In addition, children's ideas about artificial intelligence and machine learning, jointly designed applications, and perspectives can be shared on various platforms if children give permission. By doing this, educators, policymakers, and the general public better hear their voices, ideas, and perspectives.</p>



<p></p>



<p>Through these various measures, social media visibility, traditional media, and other activities (including events), we aim to reach over 10,000 people per year.</p>
</div></div>



<p></p>



<p></p>



<p></p>



<p><a>Projects in strategic research programs receive funding from</a> <a href="https://www.aka.fi/strateginen-tutkimus/">the Strategic Research Council (SRC)</a>, which operates under the Academy of Finland</p>