---
title: 'Generation AI will be present at ITK2024! Webinar 2.4.2024'
date: "2024-01-01T08:10:00"
updated: "2025-02-12T22:39:11"
slug: generation-ai-will-be-present-at-itk2024-webinar-2-4-2024
permalink: /en/news-from/generation-ai-will-be-present-at-itk2024-webinar-2-4-2024/
status: publish
sourceType: posts
excerpt: 'Interactive technology in education 2024 is approaching! Another sure sign of the success of ITK and spring are the ITK webinars. The Generation AI project will host a webinar on 2.4.2024 on “How do I teach AI to students? The Generation AI project presents a research-based solution” https://itk-konferenssi.fi/event/itk-webinaari-2-4-2024-222/register The same theme will also be used…'
categories:
  - GenAI project staff at events
  - News from
tags: []
lang: en
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3115_370dc5-1e"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Interactive technology in education 2024 is approaching!<br/><br/>Another sure sign of the success of ITK and spring are the ITK webinars. The Generation AI project will host a webinar on 2.4.2024 on "How do I teach AI to students? The Generation AI project presents a research-based solution" https://itk-konferenssi.fi/event/itk-webinaari-2-4-2024-222/register<br/><br/>The same theme will also be used for the actual ITK event, where the Generation AI themed activities will start with a workshop day on Wednesday and continue with an opening speech and a presentation in the Arena on Friday.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
