---
title: "YLE AREENA: New tool reveals how social media works"
date: "2024-02-23T08:02:00"
updated: "2025-02-12T22:39:12"
slug: yle-areena-new-tool-reveals-how-social-media-works
permalink: /en/news-from/yle-areena-new-tool-reveals-how-social-media-works/
status: publish
sourceType: posts
sourceId: 3868
sourceUrl: "https://www.generation-ai-stn.fi/en/news-from/yle-areena-new-tool-reveals-how-social-media-works/"
excerpt: "Yle interviewed our project leader Prof. Matti Tedre on 23.2.2024.Listen to the recording here: Social media has become a powerful tool for influence and therefore everyone should understand how social media works. Finnish researchers have developed a tool that makes the principles of the Soma visible. The app is currently being tested in schools. Interview…"
categories:
  - GenAI project staff in the media
  - News from
tags:
  - artificial intelligence
  - "how does social media work?"
  - Matti Tedre
  - social media
  - Somekone
lang: en
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3132_4289ea-07"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Yle interviewed our project leader Prof. Matti Tedre on 23.2.2024.<br/>Listen to the recording here:
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Social media has become a powerful tool for influence and therefore everyone should understand how social media works. Finnish researchers have developed a tool that makes the principles of the Soma visible. The app is currently being tested in schools. Interview with journalist Pauliina Tolvase by Professor Matti Tedre of the University of Eastern Finland. Also on stage are Ella Laukkanen, Hanna Ollikainen and Lassi Räty from Uimaharju school.<br/></p>
</blockquote>
