---
title: 'Publication:The data-driven comprehensive school – balancing the protection of children’s personal data with educational objectives'
date: "2024-10-03T07:54:00"
updated: "2025-02-12T22:39:26"
slug: publicationthe-data-driven-comprehensive-school-balancing-the-protection-of-childrens-personal-data-with-educational-objectives
permalink: /en/research/publicationthe-data-driven-comprehensive-school-balancing-the-protection-of-childrens-personal-data-with-educational-objectives/
status: publish
sourceType: posts
excerpt: 'Data is collected almost everywhere, and schools have also become data factories.Data literacy, personal data protection and digital security skills are becoming increasingly important and a prerequisite for participation in society. The concept of datafication describes the transformation of aspects of an individual’s life into digital data that can be used for descriptive, predictive or…'
categories:
  - Published on
  - Research
tags:
  - children's digital rights
  - data protection
  - datafication
  - digital pedagogy
lang: en
author: admin
layout: layouts/post.njk
---
<blockquote class="wp-block-quote">
<p>Data is collected almost everywhere, and schools have also become data factories.Data literacy, personal data protection and digital security skills are becoming increasingly important and a prerequisite for participation in society. The concept of datafication describes the transformation of aspects of an individual's life into digital data that can be used for descriptive, predictive or decision-making purposes. From the perspective of realising children's rights, datafication creates tensions between children's rights - their personal data must be protected, but children must also be able to participate equally in a digitally-enhanced society.</p>
</blockquote>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3181_ae5a45-4c"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<br/>Silvennoinen, E., Tedre, M., &amp; Valtonen, T. (2024). A data-driven primary school - balancing the protection of children's personal data with educational objectives. <em>Lawyer</em>, <em>122</em>(5), 655-678. Retrieved from https://journal.fi/lakimies/article/view/143755<br/>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3181_ea9e4c-1b"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}
