---
title: 'WAIE Monthly AI Expert Webinar Series'
date: "2024-04-25T08:23:00"
updated: "2025-02-12T22:39:21"
slug: waie-monthly-ai-expert-webinar-series
permalink: /en/news-from/waie-monthly-ai-expert-webinar-series/
status: publish
sourceType: posts
sourceId: 3889
sourceUrl: "https://www.generation-ai-stn.fi/en/news-from/waie-monthly-ai-expert-webinar-series/"
excerpt: 'Prof. Teemu Roos was interviewed at the Women In AI Ethics webinar on 25.4.2024. Watch the video below.'
categories:
  - GenAI project staff in the media
  - News from
  - Webinar
tags:
  - artificial intelligence
  - artificial intelligence
  - ehtics of ai
  - english
  - ethics of artificial intelligence
  - tea rose
  - webinar
  - webinar
lang: en
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3140_74b68d-7d"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos was interviewed at the Women In AI Ethics webinar on 25.4.2024. Watch the video below.<br/>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
