---
title: Somekone 2.0 has been published
date: "2025-01-23T21:56:18"
updated: "2025-02-12T22:39:34"
slug: somekone-2-0-has-been-published
permalink: /en/project-activities/somekone-2-0-has-been-published/
status: publish
sourceType: posts
sourceId: 3931
sourceUrl: "https://www.generation-ai-stn.fi/en/project-activities/somekone-2-0-has-been-published/"
excerpt: "A second-generation version of the social media simulator we developed in our project, the SOME Machine, has already been released. For the end-user, the most visible changes include the finalised Finnish language support and more advanced network connectivity management. Teachers often use the “core concepts” version of the machine, where e.g. the link in the…"
categories:
  - Project activities
tags:
  - Somekone
  - somekone 2.0
lang: en
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_99e0e9-73"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
A second-generation version of the social media simulator we developed in our project, the SOME Machine, has already been released.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_0fa3fd-0f"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
For the end-user, the most visible changes include the finalised Finnish language support and more advanced network connectivity management.  <br/><br/>Teachers often use the "core concepts" version of the machine, where e.g. the link in the learning materials will take you directly to. However, the machine also has a home page where you can select other functions. We will tell you more about them later.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_ddb0fd-e0"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Links</strong>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}
<ul class="wp-block-list">
<li>Click here to open the soma machine: <a href="https://somekone.generation-ai-stn.fi" target="_blank" rel="noopener" title="">https://somekone.generation-ai-stn.fi</a></li>



<li>Follow the development of the soma engine on Github: <a href="https://github.com/knicos/genai-somekone" target="_blank" rel="noopener" title="">https://github.com/knicos/genai-somekone</a></li>
</ul>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_366be6-a8"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}
