---
title: 'YLE AAMU: Artificial intelligence is developing faster than expected'
date: "2025-01-29T21:09:22"
updated: "2025-02-12T22:39:33"
slug: yle-aamu-artificial-intelligence-is-developing-faster-than-expected
permalink: /en/news-from/yle-aamu-artificial-intelligence-is-developing-faster-than-expected/
status: publish
sourceType: posts
excerpt: 'Prof. Teemu Roos was interviewed on YLE in the morning on 29.1.2025. Watch a recording of the broadcast here: https://areena.yle.fi/1-73261994 Deepseek, a Chinese company, has shaken up the artificial intelligence market and the debate about the future of the field. This is because it is estimated that Deepseek, an AI programme launched last week, is…'
categories:
  - GenAI project staff in the media
  - News from
  - YLE
tags:
  - artificial intelligence
  - interview
  - tea rose
lang: en
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3154_9decb5-46"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos was interviewed on YLE in the morning on 29.1.2025. Watch a recording of the broadcast here: <a href="https://areena.yle.fi/1-73261994" target="_blank" rel="noopener" title="">https://areena.yle.fi/1-73261994</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Deepseek, a Chinese company, has shaken up the artificial intelligence market and the debate about the future of the field. This is because it is estimated that Deepseek, an AI programme launched last week, is on a par with its competitors, particularly in the US, but at a fraction of their cost. What does this mean for the development of artificial intelligence? The interviewees are Professor of Computer Science Teemu Roos from the University of Helsinki and Senior Expert Tarmo Toikkanen from Sitra.</p>
</blockquote>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3154_7b3a78-2d"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}
