---
title: 'Generation AI project participates in EDUCA25 event'
date: "2025-01-25T08:05:28"
updated: "2025-02-12T22:39:33"
slug: generation-ai-project-participates-in-educa25-event
permalink: /en/news-from/generation-ai-project-participates-in-educa25-event/
status: publish
sourceType: posts
sourceId: 3918
sourceUrl: "https://www.generation-ai-stn.fi/en/news-from/generation-ai-project-participates-in-educa25-event/"
excerpt: 'At EDUCA, we will publish learning materials and guidelines to support the SOMEcon and the profiling game for Finnish teachers and students! We will also release an extension to the machine to be taught, making it an XAI (explainable AI) tool. In practice, the extension also makes the use of the machine being taught very…'
categories:
  - GenAI project staff at events
  - News from
tags: []
lang: en
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3111_287ae0-9a"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
At EDUCA, we will publish learning materials and guidelines to support the SOMEcon and the profiling game for Finnish teachers and students!<br/><br/>We will also release an extension to the machine to be taught, making it an XAI (explainable AI) tool. In practice, the extension also makes the use of the machine being taught very intuitive!<br/><br/><strong>Booth 6m8<br/></strong>You can meet us at EDUCA at our booth 6m8! Come and chat with us and get to know the materials/tools.<br/><br/><strong>FREE AI WORKSHOP<br/></strong>Come and learn about materials and tools at a free AI workshop on Sat 25 Jan 10:45-11:45 in room 103. Bring your own computer or at least your mobile phone! Because you don't have to just sit there and watch :)
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
