---
title: "YLE UUTISPODCAST: Deepseek says it is more efficient than its competitors – are the claims true?"
date: "2025-01-30T21:38:59"
updated: "2025-02-12T18:44:52"
slug: yle-uutispodcast-deepseek-says-it-is-more-efficient-than-its-competitors-are-the-claims-true
permalink: /en/news-from/yle-uutispodcast-deepseek-says-it-is-more-efficient-than-its-competitors-are-the-claims-true/
status: publish
sourceType: posts
sourceId: 3711
sourceUrl: "https://www.generation-ai-stn.fi/en/news-from/yle-uutispodcast-deepseek-says-it-is-more-efficient-than-its-competitors-are-the-claims-true/"
excerpt: "Prof. Teemu Roos was interviewed on YLE news podcast on 30.1.2025. Listen to the debate here: https://areena.yle.fi/podcastit/1-72885588 Deepseek, an AI company, has dispelled beliefs that China is lagging far behind in the AI race. Why does Deepseek work more efficiently than other AIs and is this as big a leap as initially thought? Sami Lindfors’…"
categories:
  - GenAI project staff in the media
  - News from
  - Podcast
  - YLE
tags:
  - artificial intelligence
  - tea rose
  - Yle
  - YLE news podcast
lang: en
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3162_3c9ac5-8b"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos was interviewed on YLE news podcast on 30.1.2025. Listen to the debate here: <a href="https://areena.yle.fi/podcastit/1-72885588" target="_blank" rel="noopener" title="">https://areena.yle.fi/podcastit/1-72885588</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Deepseek, an AI company, has dispelled beliefs that China is lagging far behind in the AI race. Why does Deepseek work more efficiently than other AIs and is this as big a leap as initially thought? Sami Lindfors' guest is Professor Teemu Roos from the University of Helsinki.</p>
</blockquote>
