---
title: "YLE YKKÖSAAMU: interview with Prof. Roos"
date: "2025-01-29T21:14:43"
updated: "2025-02-12T22:39:34"
slug: yle-ykkosaamu-interview-with-prof-roos
permalink: /en/news-from/yle-ykkosaamu-interview-with-prof-roos/
status: publish
sourceType: posts
sourceId: 3933
sourceUrl: "https://www.generation-ai-stn.fi/en/news-from/yle-ykkosaamu-interview-with-prof-roos/"
excerpt: "Prof. Teemu Roos was interviewed on YLE’s prime time programme on 29.1.2025. You can find the recording of the first morning here: https://areena.yle.fi/podcastit/1-72883304 Chinese company Deepseek has hit the AI world this week like a bolt from the blue. An AI company unveiled a new model for problem solving that is more efficient than known…"
categories:
  - GenAI project staff in the media
  - News from
  - Podcast
  - YLE
tags:
  - artificial intelligence
  - deepseek
  - interview
  - podcast
  - tea rose
  - Yle
lang: en
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3159_96c0db-09"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos was interviewed on YLE's prime time programme on 29.1.2025. You can find the recording of the first morning here: <a href="https://areena.yle.fi/podcastit/1-72883304" target="_blank" rel="noopener" title="">https://areena.yle.fi/podcastit/1-72883304</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Chinese company Deepseek has hit the AI world this week like a bolt from the blue. An AI company unveiled a new model for problem solving that is more efficient than known AIs, which has sent shares in many US tech giants plummeting. In the discussion, Professor Teemu Roos from the University of Helsinki and senior expert Tarmo Toikkainen from Sitra.</p>
</blockquote>
