---
title: 'Generation AI at ITK2025 Event'
date: "2025-04-25T17:14:25"
updated: "2025-04-25T20:29:32"
slug: generation-ai-at-itk2025-event
permalink: /en/current-affairs/generation-ai-at-itk2025-event/
status: publish
sourceType: posts
excerpt: 'Generation AI project greetings from ITK2025 The Generation AI project was strongly represented at the 2025 Interactive Technology in Education (ITK) event, which is the largest educational technology event in our country. ITK Forum Why is social media addictive? How does artificial intelligence work? Artificial intelligence is like a black box, its contents equally a mystery to children, young people and teachers alike. It is clear that we need tools, methods and content...'
mainCategory: "News"
extraCategories:
  - "GenAI Project Staff at Events"
tags:
  - Henriikka Vartiainen
  - interaktiivinen tekniikka koulutuksessa
  - itk2025
  - jari laru
  - jussi koivisto
  - tampere
  - teemu roos
  - tekoäly
author: admin
layout: layouts/post.njk
lang: en
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "4056_4d1824-82",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "3xl",
      "",
      "3xl",
      ""
    ],
    "align": "full"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_11de76-f7",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_19a8b9-84",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "",
      ""
    ],
    "textTransform": "uppercase"
  }
} %}
{% set kadenceInnerHtml %}
Generation AI Project Greetings from ITK2025
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_7b42c3-ff",
    "align": "left",
    "color": "var(--global-palette3)"
  }
} %}
{% set kadenceInnerHtml %}
The Generation AI project was strongly represented at the 2025 Interactive Technology in Education (ITK) event, which is the largest educational technology event in our country.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "4056_6bb141-7f",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "md",
      "",
      "xs",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_e13096-d4",
    "margin": [
      "",
      "0",
      "",
      "sm"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_55ead5-20",
    "level": 6,
    "color": "var(--global-palette6)",
    "fontSize": [
      "sm",
      "",
      ""
    ],
    "textTransform": "uppercase"
  }
} %}
{% set kadenceInnerHtml %}
ITK Forum
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_aa7c89-e1",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<strong>Why is social media addictive? How does artificial intelligence work?</strong>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_027490-9a",
    "color": "var(--global-palette3)"
  }
} %}
{% set kadenceInnerHtml %}
Artificial intelligence is like a black box, its contents equally a mystery to children, young people and teachers alike. It is clear that we need tools, methods and content to help children and young people learn about this phenomenon.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_af2f2e-84",
    "color": "var(--global-palette3)"
  }
} %}
{% set kadenceInnerHtml %}
At the ITK Forum, Megumi Iwata presented a new prototype interface for the social media machine that addresses the effects of social media, and an early version of educational materials designed for it. <br><br>From the accompanying materials, you can explore these prototype stage contents and interface!
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_8ede60-b3",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
<figure class="wp-block-embed is-type-rich is-provider-canva wp-block-embed-canva"><div class="wp-block-embed__wrapper">
https://www.canva.com/design/DAGlZEpfUq8/U4FQ0XvU9iVIEHkcMmjJpg/view
</div></figure>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "4056_2ee694-dd",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "md",
      "",
      "md",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_593eb8-3e",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
<figure class="wp-block-embed is-type-rich is-provider-canva wp-block-embed-canva"><div class="wp-block-embed__wrapper">
https://www.canva.com/design/DAGljuv0cEs/cny6tFQx3xea3ALhG7c7TQ/view
</div></figure>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_6d29b5-5e",
    "margin": [
      "",
      "0",
      "",
      "sm"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_3e8b80-96",
    "level": 6,
    "color": "var(--global-palette6)",
    "fontSize": [
      "sm",
      "",
      ""
    ],
    "textTransform": "uppercase"
  }
} %}
{% set kadenceInnerHtml %}
ITK Arena
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_06c0aa-6b",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<strong>Generation AI 3 years: What is the foundation of AI and safety education? What's next?</strong>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_478bf6-47",
    "color": "var(--global-palette3)"
  }
} %}
{% set kadenceInnerHtml %}
In this Arena presentation, we addressed our three-year journey as developers of AI and safety education through brief expert statements. We provided participants with balanced perspectives on the topic from pedagogical, technological and legal viewpoints. After the presentations, a panel discussion followed where the themes of the research presentations were further explored.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "4056_a41da7-56",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "align": "full"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_39e3e5-dc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_afbba6-38",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      null,
      36
    ]
  }
} %}
{% set kadenceInnerHtml %}
Generation AI Posters
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4056_391340-7c",
    "align": "center"
  }
} %}
{% set kadenceInnerHtml %}
Some of these posters were on display in the poster exhibition and some at our trade show booth. You can open the poster larger by clicking on it.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "4056_ac2f48-65",
    "columns": 4,
    "colLayout": "equal",
    "padding": [
      "",
      "0",
      "",
      "0"
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_6f6efa-b1",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {
    "link": "https://www.generation-ai-stn.fi/wp-content/uploads/2025/04/Hankkeen-yleisesittely.png"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_922413-32",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {
    "link": "https://www.generation-ai-stn.fi/wp-content/uploads/2025/04/Sovellukset.png"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_e813e8-1e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {
    "link": "https://www.generation-ai-stn.fi/wp-content/uploads/2025/04/Sovellukset-2.png"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "4056_878fdd-ff",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {
    "link": "https://www.generation-ai-stn.fi/wp-content/uploads/2025/04/Sovellukset-3.png"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/rowlayout.njk" %}