---
title: 'New tools and materials integration site!'
date: "2026-01-24T09:06:22"
updated: "2026-01-24T09:07:25"
slug: new-tools-and-materials-integration-site
permalink: /en/current-affairs/new-tools-and-materials-integration-site/
status: publish
sourceType: posts
sourceId: 4122
sourceUrl: "https://www.generation-ai-stn.fi/hankkeen-toiminta/uusi-tyokalut-ja-materiaalit-integroiva-sivusto/"
excerpt: 'New tools and materials integration site is now open! Welcome to explore! Community, feedback and sharing tools will be added to the site later, but even as it is, this update is a major step forward. Materials are no longer on the project website, but together with our unique AI tools designed for educational use, they form a comprehensive whole. The site can be found here: https://www.gen-ai.fi'
categories:
  - Project activities
  - Applications
tags:
  - opetusmateriaalit
  - oppimateriaalit
  - sovellukset
  - tekoälylukutaito
  - tekoälytaito
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
lang: en
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_0"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
New tools and materials integration site is now open! Welcome to explore!
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_1"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Community, feedback and sharing tools will be added to the site later, but even as it is, this update is a major step forward.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_2"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Materials are no longer on the project website, but together with our unique AI tools designed for educational use, they form a comprehensive whole.
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_3"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
The site can be found here: <a href="https://www.gen-ai.fi" target="_blank" rel="noopener" title="">https://www.gen-ai.fi</a>
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_9f3eb3-db"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/advancedheading.njk" %}