---
title: 'ICALT2024 bästa artikel: ett AI-utbildningsverktyg utan kod för att lära sig AI i K-12 genom att skapa maskininlärningsdrivna appar'
date: "2024-07-03T07:59:00"
updated: "2025-02-12T22:39:27"
slug: icalt2024-basta-artikel-ett-ai-utbildningsverktyg-utan-kod-for-att-lara-sig-ai-i-k-12-genom-att-skapa-maskininlarningsdrivna-appar
permalink: /sv/forskning/icalt2024-basta-artikel-ett-ai-utbildningsverktyg-utan-kod-for-att-lara-sig-ai-i-k-12-genom-att-skapa-maskininlarningsdrivna-appar/
status: publish
sourceType: posts
excerpt: 'Vår huvudprogrammerare Nicolas Popes artikel om en undervisningsmaskin valdes ut som den bästa artikeln vid IEEE:s flaggskeppskonferens om utbildningsteknik: Pope, N., Vartiainen, H., Kahila, J., Laru, J., & Tedre, M. (2024). Ett AI-utbildningsverktyg utan kod för att lära sig AI i K-12 genom att skapa maskininlärningsdrivna appar. 2024 IEEE International Conference on Advanced Learning Technologies…'
mainCategory: "Forskning"
extraCategories:
  - "Konferenshandlingar"
tags:
  - bästa papper
  - icalt
  - konferens
  - lärorik maskin
  - Pris
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3184_9b75af-87"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Vår huvudprogrammerare Nicolas Popes artikel om en undervisningsmaskin valdes ut som den bästa artikeln vid IEEE:s flaggskeppskonferens om utbildningsteknik:
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3184_a2abcb-ff"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Pope, N., Vartiainen, H., Kahila, J., Laru, J., &amp; Tedre, M. (2024). Ett AI-utbildningsverktyg utan kod för att lära sig AI i K-12 genom att skapa maskininlärningsdrivna appar. <em>2024 IEEE International Conference on Advanced Learning Technologies (ICALT)</em>, 105-109. https://doi.org/10.1109/ICALT61570.2024.00037
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3184_2d44f7-2a"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Vad i hela friden är IEEE</strong>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p><strong>Institute of Electrical and Electronics Engineers (IEEE)</strong> är en internationell <strong>ingenjörsorganisation</strong>. Den har mer än 400 000 medlemmar i över 160 länder.<sup><a href="https://fi.wikipedia.org/wiki/IEEE#cite_note-at-glance-1">[1]</a><a href="https://fi.wikipedia.org/wiki/IEEE#cite_note-FI-2">[2]</a></sup> Organisationen ger ut publikationer, anordnar vetenskapliga konferenser, främjar utbildning och fastställer viktiga <a href="https://fi.wikipedia.org/wiki/Standardi">standarder</a> inom många områden. IEEE publicerar totalt 132 av de viktigaste <a href="https://fi.wikipedia.org/wiki/Tiedejulkaisu">vetenskapliga tidskrifterna</a> inom området. IEEE är världens största professionella <a href="https://fi.wikipedia.org/wiki/Tekniikka">ingenjörsförening</a> med det största medlemskapet i världen, dedikerad till att utveckla teknik och tjäna mänskligheten.<sup><a href="https://fi.wikipedia.org/wiki/IEEE#cite_note-at-glance-1">[1]</a></sup></p>
</blockquote>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3184_ad8ca5-70"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
IEEE. (8.10.2024). <em>Wikipedia, </em>. hämtad 06.09, 3.02.2025 från //en.wikipedia.org/w/index.php?title=IEEE&amp;oldid=22689213.<br/>
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}
