---
title: 'Generation AI kommer att finnas på plats på ITK2024! Webbinarium 2.4.2024'
date: "2024-01-01T08:10:00"
updated: "2025-02-12T22:39:11"
slug: generation-ai-kommer-att-finnas-pa-plats-pa-itk2024-webbinarium-2-4-2024
permalink: /sv/nyheter-fran/generation-ai-kommer-att-finnas-pa-plats-pa-itk2024-webbinarium-2-4-2024/
status: publish
sourceType: posts
excerpt: 'Interaktiv teknik i utbildning 2024 närmar sig! Ett annat säkert tecken på ITK:s och vårens framgångar är ITK:s webbseminarier. Generation AI-projektet kommer att hålla ett webbinarium den 2.4.2024 om ”Hur lär jag ut AI till studenter? Generation AI-projektet presenterar en forskningsbaserad lösning” https://itk-konferenssi.fi/event/itk-webinaari-2-4-2024-222/register Samma tema kommer också att användas för själva ITK-evenemanget, där aktiviteterna på…'
mainCategory: "GenAI-projektets personal vid evenemang"
extraCategories:
  - "Nyheter från"
tags: []
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3115_370dc5-1e"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Interaktiv teknik i utbildning 2024 närmar sig!<br/><br/>Ett annat säkert tecken på ITK:s och vårens framgångar är ITK:s webbseminarier. Generation AI-projektet kommer att hålla ett webbinarium den 2.4.2024 om "Hur lär jag ut AI till studenter? Generation AI-projektet presenterar en forskningsbaserad lösning" https://itk-konferenssi.fi/event/itk-webinaari-2-4-2024-222/register<br/><br/>Samma tema kommer också att användas för själva ITK-evenemanget, där aktiviteterna på temat Generation AI inleds med en workshopdag på onsdagen och fortsätter med ett öppningstal och en presentation i arenan på fredagen.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
