---
title: 'socialt medium YLE AREENA: Nytt verktyg avslöjar hur saker fungerar'
date: "2024-02-23T08:02:00"
updated: "2025-02-12T22:39:12"
slug: socialt-medium-yle-areena-nytt-verktyg-avslojar-hur-saker-fungerar
permalink: /sv/nyheter-fran/socialt-medium-yle-areena-nytt-verktyg-avslojar-hur-saker-fungerar/
status: publish
sourceType: posts
excerpt: 'Yle intervjuade vår projektledare professor Matti Tedre den 23.2.2024.Lyssna på inspelningen här: socialt medium Sociala medier har blivit ett kraftfullt verktyg för påverkan och därför bör alla förstå hur det fungerar. Finska forskare har utvecklat ett verktyg som synliggör principerna för Soma. Appen testas för närvarande i skolor. Intervju med journalisten Pauliina Tolvase av professor…'
mainCategory: "GenAI-projektets medarbetare i media"
extraCategories:
  - "Nyheter från"
tags:
  - artificiell intelligens
  - Matti Tedre
  - sociala medier
  - "socialt medium hur fungerar det?"
  - Somekone
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3132_4289ea-07"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Yle intervjuade vår projektledare professor Matti Tedre den 23.2.2024.<br/>Lyssna på inspelningen här:
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>socialt medium Sociala medier har blivit ett kraftfullt verktyg för påverkan och därför bör alla förstå hur det fungerar. Finska forskare har utvecklat ett verktyg som synliggör principerna för Soma. Appen testas för närvarande i skolor. Intervju med journalisten Pauliina Tolvase av professor Matti Tedre vid Östra Finlands universitet. På scenen finns också Ella Laukkanen, Hanna Ollikainen och Lassi Räty från Uimaharju skola.<br/></p>
</blockquote>
