---
title: 'YLE YKKÖSAAMU: intervju med professor Roos'
date: "2025-01-29T21:14:43"
updated: "2025-02-12T22:39:34"
slug: yle-ykkosaamu-intervju-med-professor-roos
permalink: /sv/nyheter-fran/yle-ykkosaamu-intervju-med-professor-roos/
status: publish
sourceType: posts
sourceId: 3930
sourceUrl: "https://www.generation-ai-stn.fi/sv/nyheter-fran/yle-ykkosaamu-intervju-med-professor-roos/"
excerpt: 'Prof. Teemu Roos intervjuades i YLE:s program på bästa sändningstid 29.1.2025. Du hittar inspelningen av den första morgonen här: https://areena.yle.fi/podcastit/1-72883304 Det kinesiska företaget Deepseek har den här veckan slagit ner som en blixt från klar himmel i AI-världen. Ett AI-bolag presenterade en ny modell för problemlösning som är mer effektiv än kända AI:er, vilket har…'
categories:
  - GenAI-projektets medarbetare i media
  - Nyheter från
  - Podcast
  - YLE
tags:
  - artificiell intelligens
  - Deepseek
  - intervju
  - podcast
  - te ros
  - Yle
lang: sv
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3159_96c0db-09"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos intervjuades i YLE:s program på bästa sändningstid 29.1.2025. Du hittar inspelningen av den första morgonen här: <a href="https://areena.yle.fi/podcastit/1-72883304" target="_blank" rel="noopener" title="">https://areena.yle.fi/podcastit/1-72883304</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Det kinesiska företaget Deepseek har den här veckan slagit ner som en blixt från klar himmel i AI-världen. Ett AI-bolag presenterade en ny modell för problemlösning som är mer effektiv än kända AI:er, vilket har fått aktierna i många amerikanska teknikjättar att rasa. I diskussionen deltog professor Teemu Roos från Helsingfors universitet och senior expert Tarmo Toikkainen från Sitra.</p>
</blockquote>
