---
title: 'YLE UUTISPODCAST: Deepseek säger sig vara mer effektivt än sina konkurrenter – stämmer påståendena?'
date: "2025-01-30T21:38:59"
updated: "2025-02-12T18:44:52"
slug: yle-uutispodcast-deepseek-sager-sig-vara-mer-effektivt-an-sina-konkurrenter-stammer-pastaendena
permalink: /sv/nyheter-fran/yle-uutispodcast-deepseek-sager-sig-vara-mer-effektivt-an-sina-konkurrenter-stammer-pastaendena/
status: publish
sourceType: posts
excerpt: 'Prof. Teemu Roos intervjuades i YLE:s nyhetspodcast 30.1.2025. Lyssna på debatten här: https://areena.yle.fi/podcastit/1-72885588 Deepseek, ett AI-företag, har skingrat föreställningarna om att Kina ligger långt efter i AI-racet. Varför arbetar Deepseek mer effektivt än andra AI:n och är det här ett så stort steg som man först trodde? Sami Lindfors gäst är professor Teemu Roos från…'
categories:
  - GenAI-projektets medarbetare i media
  - Nyheter från
  - Podcast
  - YLE
tags:
  - artificiell intelligens
  - te ros
  - Yle
  - "YLE:s nyhetspodcast"
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3162_3c9ac5-8b"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos intervjuades i YLE:s nyhetspodcast 30.1.2025. Lyssna på debatten här: <a href="https://areena.yle.fi/podcastit/1-72885588" target="_blank" rel="noopener" title="">https://areena.yle.fi/podcastit/1-72885588</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Deepseek, ett AI-företag, har skingrat föreställningarna om att Kina ligger långt efter i AI-racet. Varför arbetar Deepseek mer effektivt än andra AI:n och är det här ett så stort steg som man först trodde? Sami Lindfors gäst är professor Teemu Roos från Helsingfors universitet.</p>
</blockquote>
