---
title: 'Generation AI-projektet deltar i EDUCA25-evenemang'
date: "2025-01-25T08:05:28"
updated: "2025-02-12T22:39:34"
slug: generation-ai-projektet-deltar-i-educa25-evenemang
permalink: /sv/nyheter-fran/generation-ai-projektet-deltar-i-educa25-evenemang/
status: publish
sourceType: posts
excerpt: 'På EDUCA kommer vi att publicera utbildningsmaterial och riktlinjer för att stödja SOMEcon och profileringsspelet för finska lärare och studenter! Vi kommer också att släppa ett tillägg till den maskin som ska läras ut, vilket gör den till ett XAI-verktyg (explainable AI). I praktiken gör tillägget också att användningen av den maskin som lärs ut…'
categories:
  - GenAI-projektets personal vid evenemang
  - Nyheter från
tags: []
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3111_287ae0-9a"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
På EDUCA kommer vi att publicera utbildningsmaterial och riktlinjer för att stödja SOMEcon och profileringsspelet för finska lärare och studenter!<br/><br/>Vi kommer också att släppa ett tillägg till den maskin som ska läras ut, vilket gör den till ett XAI-verktyg (explainable AI). I praktiken gör tillägget också att användningen av den maskin som lärs ut blir mycket intuitiv!<br/><br/><strong><br/>Monter</strong><strong>6m8</strong>Du kan träffa oss på EDUCA i vår monter 6m8!<strong></strong> Kom och prata med oss och bekanta dig med materialen/verktygen.<br/><br/><strong><br/>GRATIS AI-WORKSHOP</strong>Kom och lär dig mer om material och verktyg på en gratis AI-workshop lördagen den 25 januari kl. 10.45-11.45 i rum 103.<strong></strong> Ta med din egen dator eller åtminstone din mobiltelefon! För du behöver inte bara sitta där och titta på :)
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
