---
title: 'Somekone 2.0 har publicerats'
date: "2025-01-23T21:56:18"
updated: "2025-02-12T22:39:34"
slug: somekone-2-0-har-publicerats
permalink: /sv/projektaktiviteter/somekone-2-0-har-publicerats/
status: publish
sourceType: posts
excerpt: 'En andra generationens version av den simulator för sociala medier som vi utvecklade i vårt projekt, SOME Machine, har redan släppts. För slutanvändaren är de mest synliga förändringarna det finskspråkiga stödet och den mer avancerade hanteringen av nätverksanslutningar. Lärare använder ofta ”core concepts”-versionen av maskinen, där t.ex. länken i utbildningsmaterialet kommer att ta dig direkt…'
categories:
  - Projektaktiviteter
tags:
  - Somekone
  - somekone 2.0
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_99e0e9-73"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
En andra generationens version av den simulator för sociala medier som vi utvecklade i vårt projekt, SOME Machine, har redan släppts.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_0fa3fd-0f"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
För slutanvändaren är de mest synliga förändringarna det finskspråkiga stödet och den mer avancerade hanteringen av nätverksanslutningar.  <br/><br/>Lärare använder ofta "core concepts"-versionen av maskinen, där t.ex. länken i utbildningsmaterialet kommer att ta dig direkt till. Men maskinen har också en startsida där du kan välja andra funktioner. Vi kommer att berätta mer om dem senare.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_ddb0fd-e0"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Länkar</strong>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}
<ul class="wp-block-list">
<li>Klicka här för att öppna somamaskinen: <a href="https://somekone.generation-ai-stn.fi" target="_blank" rel="noopener" title="">https://somekone.generation-ai-stn.fi</a></li>



<li>Följ utvecklingen av soma-motorn på Github: <a href="https://github.com/knicos/genai-somekone" target="_blank" rel="noopener" title="">https://github.com/knicos/genai-somekone</a></li>
</ul>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_366be6-a8"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}
