---
title: 'YLE AAMU: Utvecklingen av artificiell intelligens går snabbare än väntat'
date: "2025-01-29T21:09:22"
updated: "2025-02-12T22:39:33"
slug: yle-aamu-utvecklingen-av-artificiell-intelligens-gar-snabbare-an-vantat
permalink: /sv/nyheter-fran/yle-aamu-utvecklingen-av-artificiell-intelligens-gar-snabbare-an-vantat/
status: publish
sourceType: posts
sourceId: 3922
sourceUrl: "https://www.generation-ai-stn.fi/sv/nyheter-fran/yle-aamu-utvecklingen-av-artificiell-intelligens-gar-snabbare-an-vantat/"
excerpt: 'Prof. Teemu Roos intervjuades på morgonen 29.1.2025 på YLE. Se en inspelning av sändningen här: https://areena.yle.fi/1-73261994 Det kinesiska företaget Deepseek har skakat om marknaden för artificiell intelligens och debatten om områdets framtid. Det beror på att Deepseek, ett AI-program som lanserades förra veckan, bedöms vara i nivå med sina konkurrenter, särskilt i USA, men till…'
categories:
  - GenAI-projektets medarbetare i media
  - Nyheter från
  - YLE
tags:
  - artificiell intelligens
  - intervju
  - te ros
lang: sv
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3154_9decb5-46"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos intervjuades på morgonen 29.1.2025 på YLE. Se en inspelning av sändningen här: <a href="https://areena.yle.fi/1-73261994" target="_blank" rel="noopener" title="">https://areena.yle.fi/1-73261994</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
<blockquote class="wp-block-quote">
<p>Det kinesiska företaget Deepseek har skakat om marknaden för artificiell intelligens och debatten om områdets framtid. Det beror på att Deepseek, ett AI-program som lanserades förra veckan, bedöms vara i nivå med sina konkurrenter, särskilt i USA, men till en bråkdel av deras kostnad. Vad innebär detta för utvecklingen av artificiell intelligens? Intervjupersonerna är professor i datavetenskap Teemu Roos från Helsingfors universitet och senior expert Tarmo Toikkanen från Sitra.</p>
</blockquote>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3154_7b3a78-2d"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}
