---
title: 'Generation AI på EDUCA2025 evenemanget'
date: "2025-12-24T08:59:00"
updated: "2026-01-24T09:02:23"
slug: generation-ai-pa-educa2025-evenemanget
permalink: /sv/nyheter-fran/generation-ai-pa-educa2025-evenemanget/
status: publish
sourceType: posts
sourceId: 4120
sourceUrl: "https://www.generation-ai-stn.fi/ajankohtaista/generation-ai-educa2025-tapahtumassa/"
excerpt: 'Välkommen till EDUCA2026 evenemanget för att testa våra nya applikationer, särskilt den lilla språkmodellen. Den lilla språkmodellen är världens första språkmodell som fungerar i webbläsaren (kräver ingen separat server) och som kan tränas med ditt eget material. På vår monter kan du också få en smygtitt på den nya webbplatsen (https://www.gen-ai.fi), som kombinerar våra applikationer och utbildningsmaterial till en helhet! Välkommen till monter 6k18 i messuhallarna!'
categories:
  - Aktuellt
  - GenAI-projektets personal på evenemang
tags:
  - Educa
  - mässor
  - lärare
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_0"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Välkommen till EDUCA2026 evenemanget för att testa våra nya applikationer, särskilt den lilla språkmodellen.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_1"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Den lilla språkmodellen är världens första språkmodell som fungerar i webbläsaren (kräver ingen separat server) och som kan tränas med ditt eget material.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_2"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
På vår monter kan du också få en smygtitt på den nya webbplatsen (https://www.gen-ai.fi), som kombinerar våra applikationer och utbildningsmaterial till en helhet!
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_3"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Välkommen till monter 6k18 i messuhallarna!
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}