---
title: 'Ny webbplats som integrerar verktyg och material!'
date: "2026-01-24T09:06:22"
updated: "2026-01-24T09:07:25"
slug: ny-webbplats-som-integrerar-verktyg-och-material
permalink: /sv/nyheter-fran/ny-webbplats-som-integrerar-verktyg-och-material/
status: publish
sourceType: posts
sourceId: 4122
sourceUrl: "https://www.generation-ai-stn.fi/hankkeen-toiminta/uusi-tyokalut-ja-materiaalit-integroiva-sivusto/"
excerpt: 'Ny webbplats som integrerar verktyg och material är nu öppen! Välkommen att utforska! Later kommer community-, feedback- och delningsverktyg att läggas till webbplatsen, men redan i nuvarande form är detta en stor förändring. Materialet är inte längre på projektwebbplatsen, utan bildar tillsammans med våra unika AI-verktyg designade för undervisning en helhet. Du hittar webbplatsen här: https://www.gen-ai.fi'
categories:
  - Projektaktiviteter
  - Applikationer
tags:
  - opetusmateriaalit
  - oppimateriaalit
  - sovellukset
  - tekoälylukutaito
  - tekoälytaito
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_0"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Ny webbplats som integrerar verktyg och material är nu öppen! Välkommen att utforska!
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_1"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Later kommer community-, feedback- och delningsverktyg att läggas till webbplatsen, men redan i nuvarande form är detta en stor förändring.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_2"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Materialet är inte längre på projektwebbplatsen, utan bildar tillsammans med våra unika AI-verktyg designade för undervisning en helhet.
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_3"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Du hittar webbplatsen här: <a href="https://www.gen-ai.fi" target="_blank" rel="noopener" title="">https://www.gen-ai.fi</a>
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_9f3eb3-db"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/advancedheading.njk" %}