---
title: 'Då artificiell intelligens växer i samhället bör barn och ungdomar utveckla sin kompetens redan i förskole- och grundundervisningen'
date: "2023-01-19T20:15:29"
updated: "2023-01-28T21:07:32"
slug: da-artificiell-intelligens-vaxer-i-samhallet-bor-barn-och-ungdomar-utveckla-sin-
permalink: /sv/nyheter-fran/da-artificiell-intelligens-vaxer-i-samhallet-bor-barn-och-ungdomar-utveckla-sin-/
status: publish
sourceType: posts
excerpt: 'Teknologier baserade på artificiell intelligens har snabbt blivit vanliga i olika delar av samhället. Många av dem samlar stora mängder information om människor, på grundval av vilken olika aktörer profilerar och modellerar medborgare, vilket möjliggör förutsägelse av människors beteende och påverkan på människors handlingar. Denna datainsamling sträcker sig också till barn, men även om föräldrar och utbildare förväntas vara nyckelroller i att säkerställa och stödja barnens integritetsskydd och säkerhet online,…'
mainCategory: "Aktuellt"
extraCategories:
  - "Generation AI månatliga AI-nyheter (nyhetsbrev)"
tags:
  - uutiskirje
author: admin
featuredImage: "https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face.png"
layout: layouts/post.njk
lang: sv
---
<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-300x300.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-300x300.png" alt="" class="wp-image-214 size-medium"/></figure><div class="wp-block-media-text__content">
<p>Teknologier baserade på artificiell intelligens har snabbt blivit vanliga i olika delar av samhället.&nbsp; Många av dem samlar stora mängder information om människor, på grundval av vilken olika aktörer profilerar och modellerar medborgare, vilket möjliggör förutsägelse av människors beteende och påverkan på människors handlingar.&nbsp; </p>



<p>Denna datainsamling sträcker sig också till barn, men även om föräldrar och utbildare förväntas vara nyckelroller i att säkerställa och stödja barnens integritetsskydd och säkerhet online, har vuxna själva svårigheter att förstå dagens dataekonomis processer. </p>



<p>Det finns betydande skillnader i vuxnas möjligheter att stödja barn i frågor relaterade till integritetsskydd och säkerhet, vilket ökar ojämlikhet och gör vissa barn mer sårbara än andra. Dessa åtgärder är en del av världen av juridiska och politiska regler, såsom den allmänna dataskyddsförordningen. Tonåringar, föräldrar och utbildare förväntas kunna och vilja fatta beslut baserade på denna kunskap när de använder olika digitala tjänster samt komplexa mekanismer för samtycke relaterade till användning av nätverksinformation.</p>
</div></div>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">Artificiell intelligens roll i samhället har växits, men det finns brister i lärares kompetens och reglering av användningen i skolvärlden</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>Även om grundskolor enligt den gällande läroplanen har undervisning i programmering på alla årskurser sedan 2016, motsvarar dessa traditionella IT-undervisningsinnehål dåligt utmaningarna i ett datafierat samhälle.&nbsp; Brister i de tillgängliga verktygen för undervisning i artificiell intelligens (t.ex. Machine learning for kids) inkluderar till exempel avsaknaden av stöd för finska språket och oklarhet om användningen av de data de samlar in. Lärarnas beredskap att hantera AI-relaterade ämnesområden som del av undervisningen kräver också investeringar och nya metoder.</p>



<p></p>



<p>Varje barn och ungdom ska kunna säkert använda applikationer och tjänster som använder artificiell intelligens. Det är därför viktigt att utveckla undervisningsverktyg, lärandekompletteringar och pedagogiska metoder för undervisning i cybersäkerhet, integritetsskydd och artificiell intelligens i både förskole- och grundundervisningen såväl som i lärarutbildningen. Lika viktigt är det att utveckla lärarutbildning och olika möjligheter till vidareutbildning så att lärare och utbildare kan agera i ett samhälle där roll av artificiell intelligens och maskininlärning växer avsevärt.</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00-1024x683.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00-1024x683.png" alt="" class="wp-image-223 size-large"/></figure></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/spacer.njk" %}


<p></p>



<h4 class="alignwide">I projektet utvecklas undervisningsverktyg, lärandekompletteringar och metoder för förskole- och grundundervisningen</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46-1024x1024.png);background-position:59% 21%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46-1024x1024.png" alt="" class="wp-image-97 size-large"/></figure><div class="wp-block-media-text__content">
<p>I projektet planeras och genomförs innehål, material och metoder baserade på användning av artificiell intelligens och maskininlärning som är lämpliga för elever i förskole- och grundundervisningen tillsammans med barn, ungdomar och lärarstudenter. Projektet erbjuder också grund- och vidareutbildning för lärare inom detta nya fenomen.</p>



<p></p>



<p>Syftet är att elever, lärare och lärarstudenter ska förstå säkerhetsfrågor relaterade till artificiell intelligens/maskininlärning samt teknologier och modeller genom experiment och uppfinningar. Vi förbättrar teknologiutbildningens kvalitet i både förskole- och grundundervisningen såväl som i lärarutbildningen på lång sikt genom att få lärarstudenter att samarbeta nära med skolor.&nbsp;</p>



<p></p>



<p>Detta genomförs praktiskt genom att genomföra flera projekt med co-design relaterade till artificiell intelligens, som engagerar både lärarstudenter och lärare och elever i förskole- och grundundervisningen. I dessa lärandekompletteringar och praktiska övningar fokuseras på grunderna i cybersäkerhet och dess kopplingar till artificiell intelligens och maskininlärning.&nbsp;</p>



<p></p>



<p>I praktiken hanterar vi grundläggande begrepp och färdigheter inom artificiell intelligens tillsammans med elever samt dess etiska och sociala konsekvenser i vår dagliga liv.&nbsp; Elever definierar cybersäkerhet-relaterade, personligt meningsfulla utmaningar och innoverar lösningar på dem med hjälp av forskare. Samtidigt utvecklar och fördjupar de sin förståelse för artificiell intelligens och maskininlärning.</p>



<p></p>



<p>I projektet planeras användarvänliga digitala lärandebärer och -material, som kan stödja såväl undervisning i skolan som barn och deras familjer under fritid. Utvecklingsarbetet fokuseras särskilt på samspelet mellan artificiell intelligens och cybersäkerhet samt bedömning av användarvänligheten och lämpligheten av utvecklade undervisningsverktyg för cybersäkerhet samt motverkan av desinformation, fördomarna och stereotyper.&nbsp;</p>



<p></p>



<p>Med hjälp av digitala lärandebärer och -material samlas också data om användarnas preferenser och inlärningsresultat. För att uppnå så stor effektivitet som möjligt utformas lärandekompletteringar och undervisningsverktyg för att vara skalbara och lätta att implementera.</p>
</div></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">Projektet producerar rekommendationer för att barns rättigheter ska förverkligas i system baserade på artificiell intelligens</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>Från barns perspektiv skapar onlinemiljön också ett dilemma relaterat till skyddet av deras integritet och säkerhet i relation till deras möjligheter till delaktighet, yttrandefrihet, självutforskning, informationssökning och medborgerliga rättigheter, enligt vad som föreskrivs i Förenta Nationernas allmänna konvention om barnets rättigheter.&nbsp;</p>



<p></p>



<p>Projektet ökar juridisk forskning om barnets rättigheter inom området artificiell intelligens. Projektet analyserar dataintegritetsmyndighetens juridiska krav och identifierar risker för barns rättigheter från perspektivet skydd och delaktighet. Den juridiska ramen jämförs med lärandepersonernas attityder och uppfattningar om sina rättigheter relaterade till deras data och algoritmisk manipulation.&nbsp; </p>



<p></p>



<p>Projektet undersöker juridiska begrepp relaterade till barns samtycke och beslutsfatningsförmåga i system baserade på artificiell intelligens. Det analyserar lagstiftningsäldersgränser för barns samtycke och föräldrarnas ansvar för att ge och överföra samtycke till skolor. </p>



<p></p>



<p>Projektet granskar kritiskt juridiska normer relaterade till barns samtycke, särskilt relaterat till dataskyddsförordningen. Det undersöker också förutsättningarna för beslutsfattande i undervisnings- och lärarverktyg baserade på artificiell intelligens, såsom vilken typ av artificiell intelligens som skolor kan tillämpa i undervisningen med barnets samtycke, föräldrarnas tillåtelse och skolans undervisningsmandat.</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png" alt="" class="wp-image-113 size-full"/></figure></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">Projektet engagerar många olika intressenter och sprider kunskap om artificiell intelligens och maskininlärning</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face-1024x1024.png);background-position:71% 34%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face-1024x1024.png" alt="" class="wp-image-88 size-large"/></figure><div class="wp-block-media-text__content">
<p>Projektet producerar rekommendationer till regeringen, föräldrar, lärarutbildare och utbildare (t.ex. skolor) om hur de kan uppfylla sina skyldigheter relaterade till artificiell intelligens och barns rättigheter (relaterat till t.ex. särskilda krav på transparens för artificiell intelligens, barns datahantering och frågor relaterade till barns profilering online).</p>



<p></p>



<p>För det finska skolsystemet är det viktigt att projektet gör det möjligt att lära ut fenomenen artificiell intelligens och maskininlärning på ett sätt som är lämpligt för barns och ungdomars åldernivå i skolor.&nbsp;</p>



<p></p>



<p>Material och applikationer som utvecklas i projektet utvecklar såväl dataorganisering, förtroende och säkerhet för alla parter och är baserade på inkluderande och självreflekterande metoder. De pedagogiska modellerna som utvecklas och teknologierna baserade på maskininlärning gör det möjligt att integrera ämnesområden för artificiell intelligens/maskininlärning i undervisningen. För att stödja beslut av politiska beslutsfattare producerar projektet branschspecifika strategier och medel genom vilka handlingskraft och delaktighet stärks i artificiell intelligens-tidvarvandet.&nbsp;</p>



<p></p>



<p>I det långsiktiga perspektivet är det också viktigt att projektet engagerar finländsk lärarutbildning. Projektet skapar material, kurskörning och andra demonstrationer och utställningar genom vilka integreringen av ämnesområdena artificiell intelligens och maskininlärning i lärarutbildningen möjliggörs. Dessa ämnesområden pilottestas vid tre universitet, vilket är Helsingfors universitet, Östra Finlands universitet och Uleåborgs universitet.</p>



<p></p>



<p>Nya utexaminerade lärare uppmuntras att dela material och erfarenheter relaterade till artificiell intelligens och maskininlärning som de lärde sig i lärarutbildningen med kollegor och elever på sina framtida arbetsplatser. Projektets alumninätverk erbjuder lärare ett nyhetsbrev, ny och aktuell information om säkerhetsfrågor samt vidareutbildning.</p>



<p></p>



<p>Framtida lärare uppmuntras att dela vad de lärt sig och material relaterat till detta ämne på sina arbetsplatser bland elever och kollegor. Alumninätverket erbjuder lärare ett nyhetsbrev, ny och aktuell information om säkerhetsfrågor samt vidareutbildning.</p>



<p>Projektets effektivitet säkerställs genom en ny MOOC-kurs om artificiell intelligens och maskininlärning och öppet lärandenmaterial samt innehål i sociala medier. </p>



<p></p>



<p>Projektet inkluderar också Science Centre Heureka, Joensuu Scifest och CodeSchool Finland, som för sin del sprider kunskap från projektet till sina egna intressenter.</p>



<p></p>



<p>Förutom detta kan barnens idéer om artificiell intelligens och maskininlärning, gemensamt utformade applikationer och synpunkter delas på olika plattformar om barnen ger sitt samtycke. På så sätt kan utbildare, politiska beslutsfattare och allmänheten bättre höra deras röst, idéer och perspektiv.&nbsp;&nbsp;</p>



<p></p>



<p>Genom dessa olika åtgärder, närvaron i sociala medier, traditionell media och andra aktiviteter (inklusive event) strävar vi efter en synlighet på över 10 000 personer per år.</p>
</div></div>



<p></p>



<p></p>



<p></p>



<p><a>Projekten under de strategiska forskningsprogrammen får finansiering från </a><a href="https://www.aka.fi/strateginen-tutkimus/">rådet för strategisk forskning (STN)</a>, som fungerar under Finlands Akademi</p>