---
title: 'Itä-Savo: Kerimäki-skolan använder redan AI som en del av undervisningen – ”Målet är personligt tänkande och förståelse av innehållet”'
date: "2024-05-15T07:50:00"
updated: "2025-02-12T22:39:21"
slug: ita-savo-kerimaki-skolan-anvander-redan-ai-som-en-del-av-undervisningen-malet-ar-personligt-tankande-och-forstaelse-av-innehallet
permalink: /sv/nyheter-fran/ita-savo-kerimaki-skolan-anvander-redan-ai-som-en-del-av-undervisningen-malet-ar-personligt-tankande-och-forstaelse-av-innehallet/
status: publish
sourceType: posts
excerpt: 'Grundskoleeleverna fick en Teachable Machine-app och läromedel som stöd för sin AI-inlärning. Jag kikar på datorskärmen hos Jesse Vainika, som går i sjunde klass, och AI:n känner igen mig som Tarja Halonen. Bredvid Aarne Vanhatalo och Hertta Rautiainen, som skrattar när detta händer med fler människor som testar ett AI-baserat bildigenkänningsprogram kodat av ungdomar. Läs…'
mainCategory: "GenAI-projektets medarbetare i media"
extraCategories:
  - "Nyheter från"
tags: []
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3127_e9c2d5-d4"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Grundskoleeleverna fick en Teachable Machine-app och läromedel som stöd för sin AI-inlärning.<br/></strong>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3127_ece0bb-a6"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Jag kikar på datorskärmen hos <strong>Jesse Vainika</strong>, som går i sjunde klass, och AI:n känner igen mig <strong>som Tarja Halonen</strong>. Bredvid <strong>Aarne Vanhatalo</strong> och <strong>Hertta Rautiainen</strong>, som skrattar när detta händer med fler människor som testar ett AI-baserat bildigenkänningsprogram kodat av ungdomar.<br/><br/>Läs hela artikeln i Itä-Savo-tidningen: <a href="https://www.ita-savo.fi/paikalliset/6767481">https://www.ita-savo.fi/paikalliset/6767481</a>
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3127_e8042d-62"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<br/>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}
