---
title: 'WAIE:s månatliga webbinarieserie för AI-experter'
date: "2024-04-25T08:23:00"
updated: "2025-02-12T22:39:21"
slug: waies-manatliga-webbinarieserie-for-ai-experter
permalink: /sv/nyheter-fran/waies-manatliga-webbinarieserie-for-ai-experter/
status: publish
sourceType: posts
excerpt: 'Prof. Teemu Roos intervjuades på webbinariet Women In AI Ethics den 25.4.2024. Se videon nedan.'
mainCategory: "GenAI-projektets medarbetare i media"
extraCategories:
  - "Nyheter från"
  - "Webbinarium"
tags:
  - artificiell intelligens
  - artificiell intelligens
  - ehtik av ai
  - engelska
  - etik inom artificiell intelligens
  - te ros
  - Webinar
  - Webinar
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3140_74b68d-7d"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos intervjuades på webbinariet Women In AI Ethics den 25.4.2024. Se videon nedan.<br/>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
