---
title: 'Publikation:Den datadrivna grundskolan – att balansera skyddet av barns personuppgifter med utbildningsmålen'
date: "2024-10-03T07:54:00"
updated: "2025-02-12T22:39:26"
slug: publikationden-datadrivna-grundskolan-att-balansera-skyddet-av-barns-personuppgifter-med-utbildningsmalen
permalink: /sv/forskning/publikationden-datadrivna-grundskolan-att-balansera-skyddet-av-barns-personuppgifter-med-utbildningsmalen/
status: publish
sourceType: posts
excerpt: 'Datakunskap, skydd av personuppgifter och digital säkerhet blir allt viktigare och en förutsättning för att kunna delta i samhällslivet. Begreppet datafiering beskriver omvandlingen av aspekter av en individs liv till digitala data som kan användas för beskrivande, prediktiva eller beslutsfattande ändamål. Ur perspektivet att förverkliga barns rättigheter skapar dataficering spänningar mellan barns rättigheter – deras…'
mainCategory: "Forskning"
extraCategories:
  - "Publicerad på"
tags:
  - artificiell intelligens
  - barns digitala rättigheter
  - data
  - datafiering
  - dataskydd
  - digital pedagogik
  - elisa silvennoinen
  - Matti Tedre
lang: sv
author: admin
layout: layouts/post.njk
---
<blockquote class="wp-block-quote">
<p>Datakunskap, skydd av personuppgifter och digital säkerhet blir allt viktigare och en förutsättning för att kunna delta i samhällslivet. Begreppet datafiering beskriver omvandlingen av aspekter av en individs liv till digitala data som kan användas för beskrivande, prediktiva eller beslutsfattande ändamål. Ur perspektivet att förverkliga barns rättigheter skapar dataficering spänningar mellan barns rättigheter - deras personuppgifter måste skyddas, men barn måste också kunna delta på lika villkor i ett digitalt förstärkt samhälle.</p>
</blockquote>
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3181_ae5a45-4c"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<br/>Silvennoinen, E., Tedre, M., &amp; Valtonen, T. (2024). En datadriven grundskola - att balansera skyddet av barns personuppgifter med utbildningsmålen <em>Juristen</em>, <em>122</em>(5), 655-678. Hämtad från https://journal.fi/lakimies/article/view/143755<br/>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3181_ea9e4c-1b"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}
