---
title: 'Maskinen som skulle läras ut var utrustad med ett XAI-verktyg. Nu kan du se i realtid hur AI klassificerar bilden'
date: "2025-01-16T22:06:57"
updated: "2025-02-12T22:39:34"
slug: maskinen-som-skulle-laras-ut-var-utrustad-med-ett-xai-verktyg-nu-kan-du-se-i-realtid-hur-ai-klassificerar-bilden
permalink: /sv/projektaktiviteter/maskinen-som-skulle-laras-ut-var-utrustad-med-ett-xai-verktyg-nu-kan-du-se-i-realtid-hur-ai-klassificerar-bilden/
status: publish
sourceType: posts
excerpt: 'En neural nätverksmodell baserad på djupinlärning av den maskin som undervisas fick en värmekartvy av den AI som skulle förklaras. Det underlättar inte bara användningen av appen genom att demonstrera hur och vad maskinen känner igen, utan ger också studenterna en praktisk erfarenhet av hur AI fungerar.'
mainCategory: "Projektaktiviteter"
tags:
  - förklarlig artificiell intelligens
  - lärorik maskin
  - värmekarta
  - xai
lang: sv
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3167_7e0b6a-eb"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
En neural nätverksmodell baserad på djupinlärning av den maskin som undervisas fick en värmekartvy av den AI som skulle förklaras. Det underlättar inte bara användningen av appen genom att demonstrera hur och vad maskinen känner igen, utan ger också studenterna en praktisk erfarenhet av hur AI fungerar.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
