---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}/</link>
    <description>Generation AI -hankkeen uusimmat uutiset, tapahtumat ja tutkimustulokset.</description>
    <language>fi</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    {% if collections.posts_fi and collections.posts_fi.length %}
    <lastBuildDate>{{ collections.posts_fi[0].date | rssDate }}</lastBuildDate>
    {% for item in collections.posts_fi | limitItems(20) %}
    <item>
      <title><![CDATA[{{ item.data.title }}]]></title>
      <link>{{ site.url }}{{ item.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ item.url }}</guid>
      <pubDate>{{ item.date | rssDate }}</pubDate>
      {% if item.data.excerpt %}<description><![CDATA[{{ item.data.excerpt }}]]></description>{% endif %}
    </item>
    {% endfor %}
    {% endif %}
  </channel>
</rss>
