---
title: "Ensimmäinen oppitunti: tekoälyn perusteet"
date: "2024-01-25T22:46:18"
updated: "2025-02-13T11:01:07"
slug: ensimmainen-oppitunti-tekoalyn-perusteet
permalink: /materiaalit/opetettavakone/tekoaly-haltuun-yhdessa-opetettavan-koneen-oppimateriaali/ensimmainen-oppitunti-tekoalyn-perusteet/
status: publish
sourceType: docs
sourceId: 2194
sourceUrl: "https://www.generation-ai-stn.fi/materiaalit/opetettavakone/tekoaly-haltuun-yhdessa-opetettavan-koneen-oppimateriaali/ensimmainen-oppitunti-tekoalyn-perusteet/"
excerpt: "yleistä Tavoitteet ja keskeiset käsitteet Keskeiset käsitteet: Tarvikkeet: Tehtävä: mitä tekoäly on? Työskentelytapa: Opettajajohtoinen keskustelu videon katsomisen jälkeen. Tekoäly on monin tavoin mukana arkipäiväisessä elämässämme. Tekoäly osana tuttuja sovelluksia auttaa meitä esimerkiksi tiedonhaussa, tarjoaa reittivaihtoehtoja, tukee yhteydenpitoa ystävien kanssa ja suosittelee uutisia, musiikkia tai elokuvia, jotka saattavat kiinnostaa meitä. Katsokaa video Keskustelu (opettaja vetää) Jos…"
categories: []
tags: []
author: admin
doc-category:
  - "Otetaan tekoäly haltuun yhdessä!"
knowledge-base:
  - Opetettava kone
layout: layouts/doc.njk
kadenceBlocks:
  - advancedheading
  - infobox
  - column
  - rowlayout
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2194_063cb5-c6",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "5xl",
      "",
      "5xl",
      ""
    ],
    "bottomSepColor": "var(--global-palette9)",
    "align": "center"
  }
} %}
{% set _kb_save_10 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2194_3b9f77-9d",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_9 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2194_ac4d7b-f2",
    "align": "left",
    "color": "var(--global-palette1)",
    "textTransform": "uppercase",
    "fontWeight": "300",
    "fontSize": "sm"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
yleistä
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2194_210455-73",
    "fontSize": "lg"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tavoitteet ja keskeiset käsitteet
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2194_600069-96",
    "columns": 3,
    "colLayout": "equal",
    "align": "center"
  }
} %}
{% set _kb_save_8 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2194_0039aa-0b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2194_7822a1-77",
    "mediaType": "none",
    "mediaIcon": [
      {
        "icon": "fe_layout",
        "size": 50,
        "width": 1.5,
        "title": "",
        "color": "var(--global-palette1)",
        "hoverColor": "var(--global-palette1)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Tekoälyä koskeva ymmärrys</strong></p><p class="kt-blocks-info-box-text">Tämän materiaalin tavoitteena on mm. tukea oppilasta ymmärtämään, miten tekoälyä ja koneoppimista hyödynnetään sovelluksissa ja miten tekoäly näkyy oppilaan arjessa.<br>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2194_b2c187-e3",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2194_b645ef-14",
    "mediaType": "none",
    "mediaIcon": [
      {
        "icon": "fe_search",
        "size": 50,
        "width": 1.5,
        "title": "",
        "color": "var(--global-palette1)",
        "hoverColor": "var(--global-palette1)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Design prosessin hyödyntäminen</strong></p><p class="kt-blocks-info-box-text">Tukea oppilasta hyödyntämään design-prosessia projektityössä<br>
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2194_ba9011-db",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "top"
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2194_058abf-99",
    "mediaType": "none",
    "mediaIcon": [
      {
        "icon": "fe_trendingUp",
        "size": 50,
        "width": 1.5,
        "title": "",
        "color": "var(--global-palette1)",
        "hoverColor": "var(--global-palette1)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Teknologian ottaminen hyötykäyttöön</strong></p><p class="kt-blocks-info-box-text">Tukea oppilaan valmiutta valjastaa teknologiaa hyötykäyttöön
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_8 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_9 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_10 %}
{% include "blocks/kadence/rowlayout.njk" %}


<ul style="border-radius:0px;padding-top:0;padding-bottom:0" class="wp-block-list">
<li>Pohditaan mitä tekoäly on?</li>



<li>Tunnistetaan miten tekoäly näyttäytyy arjessa ja millaisia vaikutuksia sillä on</li>



<li>Tutustutaan koneoppimisen neljään keskeiseen käsitteeseen, joita ovat opetusdata, luokittelija, varmuus ja hauraus</li>



<li>Harjoitellaan GenAI opetettavan koneen käyttämistä</li>
</ul>



<p><strong>Keskeiset käsitteet:</strong></p>



<ul class="wp-block-list">
<li>Tekoäly, koneoppiminen, data, opetusdata, sovellus, luokittelija, luokka, varmuus ja hauraus</li>
</ul>



<p><strong>Tarvikkeet:</strong></p>



<ul class="wp-block-list">
<li>Tietokone tai tablet-tietokone per oppilasryhmä tai pari</li>



<li>Tekoäly elämässäni materiaali jaettuna oppilaille joko sähköisesti (<a href="https://www.generation-ai-stn.fi/wp-content/uploads/2024/01/tekoaly_elamassani.pdf" title="">word doc</a>) tai tulosteena (<a href="https://www.generation-ai-stn.fi/wp-content/uploads/2024/01/tekoaly_elamassani.pdf" title="">pdf</a>) jaettuna</li>



<li>Opetettava kone sovellus (https://tm.generation-ai-stn.fi)</li>
</ul>



<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#c6c6c6;color:#c6c6c6"/>



<div class="wp-block-columns">
<div class="wp-block-column">
<h2 class="wp-block-heading">Tehtävä: mitä tekoäly on?</h2>



<p><strong>Työskentelytapa:</strong> Opettajajohtoinen keskustelu videon katsomisen jälkeen.</p>



<p>Tekoäly on monin tavoin mukana arkipäiväisessä elämässämme. Tekoäly osana tuttuja sovelluksia auttaa meitä esimerkiksi tiedonhaussa, tarjoaa reittivaihtoehtoja, tukee yhteydenpitoa ystävien kanssa ja suosittelee uutisia, musiikkia tai elokuvia, jotka saattavat kiinnostaa meitä. </p>



<p><strong>Katsokaa video</strong></p>



<ul class="wp-block-list">
<li>Katsokaa oheinen video "mitä tekoäly on?"</li>
</ul>



<p><strong>Keskustelu (opettaja vetää)</strong></p>



<ul class="wp-block-list">
<li>Mitä tekoäly tarvitsee oppiakseen?</li>



<li>Mitä data on?</li>



<li>Mitä luokittelija tekee?</li>
</ul>



<p>Jos kysymykset tuntuvat hankalailta, voitte katsoa videon uudelleen (video on ositettu, joten voitte katsoa helposti vain tietystä kohdasta)</p>
</div>



<div class="wp-block-column">
<figure class="wp-block-video"><video controls src="https://www.generation-ai-stn.fi/wp-content/uploads/2024/01/2-Video-1-Mita-tekoaly-on.mp4"></video></figure>
</div>
</div>



<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#c6c6c6;color:#c6c6c6"/>



<div class="wp-block-columns">
<div class="wp-block-column">
<h2 class="wp-block-heading wp-embed-aspect-16-9 wp-has-aspect-ratio">Tehtävä: miten tekoäly näkyy arjessani?</h2>



<p><br><br><em>Tämä tehtävä jakautuu kolmeen osioon</em>, joissa käytetään "tekoäly elämässäni" tehtävälomaketta (opettaja jakaa oppilaille joko sähköisesti tai tulosteena)</p>



<p><strong>Analysoi millaisia sovelluksia käytät arjessasi</strong> (materiaalin tehtävä 1)</p>



<p><strong>Työskentelytapa: </strong>Oppilas täyttää lomakkeen kohdan 1 itsenäisesti, jonka jälkeen omia vastauksia vertaillaan parin tai ryhmän muiden jäsenten kanssa</p>



<p><em>Lomakkeen tehtävässä 1 </em>kysytään mitä yleisesti tunnettuja sosiaalisen median sovelluksia oppilas käyttää ja mitkä niistä hänen tulkintansa mukaan hyödyntävät tekoälyä</p>



<p><strong>Keskustele millaista tietoa sovellukset keräävät käyttäjästään</strong> (materiaalin tehtävä 2)</p>



<p><strong>Työskentelytapa: </strong>pari tai ryhmä täyttää yhdessä tehtävän 2.</p>



<p>Tässä vaiheessa parin tai ryhmän pitää valita yksi tehtävälomakkeen somesovelluksista ja pohtia sen toimintaa lomakkeen ohjeiden mukaisesti. </p>



<p>Tämä tehtävä auttaa hahmottamaan millaista tietoa arjessa käytettävät sovellukset keräävät käyttäjistään. Tavoitteena on yhdistää tekoälyn kannalta keskeinen käsite, opetusdata, oppilaiden kokemusmaailmaan. </p>



<h6 class="wp-block-heading"><strong>Keskustelun purku opettajajohtoisesti</strong></h6>



<p><strong>Työskentelytapa: </strong>Opettajajohtoinen keskustelu</p>



<p>Tässä opettajajohtoisessa tehtävässä ryhmät esittelevät edellisessä tehtävässä tekemänsä havainnot muille. Käydään opettajan johdolla lävitse, miten erilaiset datajäljet (esim. kilkkaukset, tykkäykset ja kommentit) tuottavat tietoa, jota tekoälyä käyttävät järjestelmät hyödyntävät toiminnassaan. </p>



<p>Oppilaiden tehtävänä on pohtia keskustelussa, miten käyttäjiä voidaan luokitella heidän jättämiensä datajälkien perusteella erilaisiin luokkiin, kuten pelaajiin, hevosharrastajiin tai skeittajiin.</p>



<p>Näin tämän opetuskokonaisuuden toinen tärkeä käsite, luokittelija, esitellään ensimmäisen kerran ja liitetään oppilaiden omiin kokemuksiin. </p>
</div>



<div class="wp-block-column"><!-- TODO: kadence/advancedgallery ei tuettu — alkuperäinen sisältö säilytetty -->
<div class="block-fallback block-fallback--advancedgallery" data-original-block="kadence/advancedgallery">

</div></div>
</div>



<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#c6c6c6;color:#c6c6c6"/>



<div class="wp-block-columns">
<div class="wp-block-column">
<h2 class="wp-block-heading">Tehtävä: Katso miten opetettava kone (tekoäly) toimii?</h2>



<p><strong>Työskentelytapa: Opettaja näyttää oheisen videon oppilaille. </strong></p>



<p>Opetettava kone on sovellus, joka on helppokäyttöinen työkalu kuvien luokittelijoiden luomiseen. Oheisella videolla Code School Finlandin asiantuntija havainnollistaa luomalla yksinkertaisen eläinluokittelijan, jossa tekoälyä opetettiin tunnistamaan kissa, koira ja kani sille esitttävistä kuvista. </p>



<p>Käytännössä hän havainnollistaa videolla kuinka kuvat eläimistä muodostavat luokittelun perustan (opetusdata), kuinka varmasti kone tunnisti eläimiä (varmuus) ja missä tilanteissa luokittelija ei toimnut ja miten pienet muutokset toimintaympäristössä voivat heikentää luokittelijan toimintaa (hauraus). </p>
</div>



<div class="wp-block-column">
<figure class="wp-block-video"><video controls preload="auto" src="https://www.generation-ai-stn.fi/wp-content/uploads/2024/01/4-Video-2-Opetettava-kone-OPT.mp4"></video></figure>
</div>
</div>



<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#c6c6c6;color:#c6c6c6"/>



<div class="wp-block-columns">
<div class="wp-block-column">
<h2 class="wp-block-heading">Tehtävä: Kokeillaan kuinka luokittelija toimii!</h2>



<p><strong> Työskentelytapa: Oppilaat tekevät pienissä ryhmissä oman luokittelijan</strong></p>



<p>Edellä esiteltiin kuinka luokittelija eli opetettava kone toimii. Nyt on teidän vuoro opettaa kone luokittelemaan kuvia!</p>



<p>Tehkää tämä harjoitus pienissä ryhmissä. Voitte opettaa koneen luokittelemaan teitä itseänne kiinnostavia asioita. Ne voivat olla esimerkiksi kuvien, esineiden, erilaisten ilmeiden tai asentojen tunnistajia. </p>



<div class="wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://tm.generation-ai-stn.fi">Käynnistä opetettava kone tästä</a></div>
</div>



<p>HUOM! <strong>On erittäin tärkeätä, että keskeneräiset työt muistetaan tallentaa! </strong>Oppilaan työ tallentuu käytettävälle laitteelle .zip muotoisena tiedostona. Muistakaa siirtää .zip tiedostot talteen jos käytätte esim. lainakoneita!</p>
</div>



<div class="wp-block-column">
<figure class="wp-block-image size-large"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2024/01/luokittelija_kaappaukset-1024x582.png" alt="" class="wp-image-1912"/></figure>
</div>
</div>
