---
title: "Ensimmäinen oppitunti: tekoälyn perusteet"
permalink: /materiaalit/opetettavakone/tekoaly-haltuun-yhdessa-opetettavan-koneen-oppimateriaali/ensimmainen-oppitunti-tekoalyn-perusteet/
layout: layouts/redirect.njk
redirectTo: https://www.gen-ai.fi/fi/materials/classifier-lesson-1-2
---
