---
title: "Oppitunnit 1-2: perusteet ja profilointipeli"
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/johdanto-ja-profilointipeli/
layout: layouts/redirect.njk
redirectTo: https://www.gen-ai.fi/fi/materials/somekone-lesson-1-2
---
