---
title: "Oppitunnit 1-2: perusteet ja profilointipeli"
date: "2025-01-19T15:26:43"
updated: "2025-01-29T14:47:04"
slug: johdanto-ja-profilointipeli
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/johdanto-ja-profilointipeli/
status: publish
sourceType: docs
excerpt: Tässä osiossa tutustutaan somekoneen kannalta relevantteihin käsitteisiin ja pelataan profilointipeliä
categories: []
tags: []
author: admin
doc-category:
  - Sosiaalinen media ja tekoäly
doc-tag:
  - data
  - profiili
  - somekone
  - somekone
  - suosittelija
  - video
knowledge-base:
  - Somekone
layout: layouts/doc.njk
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_90cf69-6e",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_9 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_03211e-0f",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_01858e-1e",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, tee nämä valmistelut
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_c625a8-59",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_8 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/iconlist",
  "shortName": "iconlist",
  "attrs": {
    "uniqueID": "2772_70b8d4-6d"
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2772_c2d6b5-6a"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tänään pelataan profilointipeliä. Sitä voi pelata joko yksin tai pareittain. On suositeltavaa, että jaat oppilaat pareihin jo tässä vaiheessa, sillä somekonetta käytetään myöhemmin pareittain.
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2772_c59aba-a8"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Jokaisella pelaajalla (yksi oppilas tai pari) tulee olla käytössään puhelin, tablet tai tietokone sekä soveltuva verkkoyhteys.
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2772_020ee5-9e"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
Profilointipeliä ennen ja sen jälkeen on tehtäviä. Jaa oppilaille tehtävälomakkeet joko paperisena tai käytä esim. Google Classroom / M365 Teams sovellusta.
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2772_b17203-f9"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
Seuraa ohjeita, niin hyvin se menee!
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/listitem.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/iconlist.njk" %}



{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_339f19-f1",
    "mediaIcon": [
      {
        "icon": "fe_info",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "",
        "hoverColor": "",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fe_info" data-stroke="2" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Katso profilointipelin käyttöohjeet ohjesivulta!</h4><p class="kt-blocks-info-box-text">Profilointipeli on yksinkertainen sovellus. On kuitenkin syytä katsoa sen käyttöohjeet ennen sovelluksen käyttämistä.</p>
{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_8 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_9 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_89b61c-81",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_14 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_72201d-4d",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_13 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_57c811-53",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_12 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_149f75-ac",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_11 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_41a6c8-b5",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_10 = kadenceBlock %}
{% set kadenceInnerHtml %}
Aloitetaan!
{% endset %}
{% set kadenceBlock = _kb_save_10 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_11 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_12 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_13 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_14 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_9caf73-e6",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_17 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_294699-da",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_16 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_f4e20a-2e",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_15 = kadenceBlock %}
{% set kadenceInnerHtml %}
Jussi Koivisto kertoo alla olevalla videolla sosiaalisen median toimintaperiaatteiden kannalta kolmesta keskeistä käsitteestä: a) <em>data</em> b) <em>profiili</em> ja c) <em>suosittelija</em>. Tämä opetusmateriaali käsittelee näitä käsitteitä eri tavoin alusta loppuun saakka.
{% endset %}
{% set kadenceBlock = _kb_save_15 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_16 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_17 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_fdc144-f1",
    "columns": 1,
    "colLayout": "equal"
  }
} %}
{% set _kb_save_23 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_82987c-b1",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_22 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_403886-f0",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-var(--global-palette8)"
  }
} %}
{% set _kb_save_21 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_9e7f7a-ba",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_19 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_ba92e0-b4",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_18 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, näytä johdantovideo tässä vaiheessa
{% endset %}
{% set kadenceBlock = _kb_save_18 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_19 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_8e49e1-bc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_20 = kadenceBlock %}
{% set kadenceInnerHtml %}
<figure class="wp-block-video"><video controls src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/1.1-Data-profiili-suosittelija.mp4"><track src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/1.1-Data-profiili-suosittelija-SUBTITLES.vtt" srclang="fi" label="suomenkielinen tekstitys" kind="subtitles"/></video></figure>
{% endset %}
{% set kadenceBlock = _kb_save_20 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_21 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_22 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_23 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_5a8f02-ea",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_30 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_984571-c1",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_29 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_9a31c9-e8",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_25 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_24 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_24 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_25 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_3dcede-98",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_26 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_26 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_cf207a-ec",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_28 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_27 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_27 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_28 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_29 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_30 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_24dcba-43",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_37 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_7798ad-b2",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_32 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_bf8104-cd",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_31 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Muistelkaa hetki sitten katsottua videota</h3><p class="kt-blocks-info-box-text">Mitä Jussi kertoi mainonnan kohdentamisesta? Hänellä oli videon loppupuolella esimerkki verkkokaupasta</p>
{% endset %}
{% set kadenceBlock = _kb_save_31 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_32 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_622478-a8",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_34 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_52d205-fa",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_33 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Tutkikaa tehtävälomaketta 1</h3><p class="kt-blocks-info-box-text">Tutki tehtävälomakkeen "tee päätelmiä datasta" tehtäviä ja mieti mitä vastaisit kysymyksiin</p>
{% endset %}
{% set kadenceBlock = _kb_save_33 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_34 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_2b91ce-36",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_36 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_153f60-96",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_35 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Täytä tehtävälomake 1</h3><p class="kt-blocks-info-box-text">Täytä tehtävälomakkeen 1 "tee päätelmiä datasta" molemmat tehtävät</p>
{% endset %}
{% set kadenceBlock = _kb_save_35 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_36 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_37 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_27466a-9a",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_42 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_5b2734-a9",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_41 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_f7aee3-08",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_40 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_643318-b6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_39 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_bca9b3-1a",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_38 = kadenceBlock %}
{% set kadenceInnerHtml %}
Pelataan profilointipeliä!
{% endset %}
{% set kadenceBlock = _kb_save_38 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_39 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_40 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_41 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_42 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_3b2502-e7",
    "columns": 1,
    "colLayout": "equal"
  }
} %}
{% set _kb_save_48 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_9e5dcf-e5",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_47 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_abbec0-2e",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-var(--global-palette8)"
  }
} %}
{% set _kb_save_46 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_d12eec-57",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_44 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_3b9ff2-43",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_43 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, esittele profilointipeli videon avulla
{% endset %}
{% set kadenceBlock = _kb_save_43 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_44 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_7af302-a0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_45 = kadenceBlock %}
{% set kadenceInnerHtml %}
<figure class="wp-block-video"><video controls src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/1.3-Profilointipeli.mp4"><track src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/1.1-Data-profiili-suosittelija-SUBTITLES.vtt" srclang="fi" label="suomenkielinen tekstitys" kind="subtitles"/></video></figure>
{% endset %}
{% set kadenceBlock = _kb_save_45 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_46 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_47 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_48 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_3d89b0-4e",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_51 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_51a021-25",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_50 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_b397c0-61",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_49 = kadenceBlock %}
{% set kadenceInnerHtml %}
Nyt on aika ratkaista mysteeripersoonan arvoitus! Ovatko pelaajat valmiina?
{% endset %}
{% set kadenceBlock = _kb_save_49 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_50 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_51 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_2cff86-d0",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_57 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_e8d862-b6",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_55 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_a3e9a4-a5",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_52 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, käynnistä profilointipeli
{% endset %}
{% set kadenceBlock = _kb_save_52 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "2772_bbca1b-45"
  }
} %}
{% set _kb_save_54 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "2772_ab5227-43",
    "text": "https://classroom.gen-ai.fi",
    "link": "https://classroom.gen-ai.fi",
    "color": "var(--global-palette8)"
  }
} %}
{% set _kb_save_53 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_53 %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_54 %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_55 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_7623bf-fb",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_56 = kadenceBlock %}
{% set kadenceInnerHtml %}
<figure class="wp-block-image size-full is-resized"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/profilointipeli.png" alt="" class="wp-image-2927" style="width:397px;height:auto"/><figcaption class="wp-element-caption">Koneelle avautuu kuvan kaltainen näkymä. Luo uusi pelitapahtuma painamalla "create new"</figcaption></figure>



<figure class="wp-block-image size-full is-resized"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/profgame-asetukset.png" alt="" class="wp-image-2930" style="width:406px;height:auto"/><figcaption class="wp-element-caption">Syötä luokkasi nimi "esim. Keken kolmosluokka" ja valitse profiilivalikosta ainoa tarjolla oleva profiili. Paina aloita!</figcaption></figure>
{% endset %}
{% set kadenceBlock = _kb_save_56 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_57 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_36fb25-50",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_64 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_f30162-10",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_63 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_536d67-ac",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_59 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_58 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_58 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_59 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_8ea4d2-b0",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_60 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_60 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_50c72c-3a",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_62 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_61 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_61 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_62 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_63 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_64 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_9e18d0-5d",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_71 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_484f9b-ef",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_66 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_3f3771-d7",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_65 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Avatkaa profilointipeli laitteeseenne</h3><p class="kt-blocks-info-box-text">Lukekaa QR-koodi  tai syöttäkää koodi osoitteessa https://classroom.gen-ai.fi </p>
{% endset %}
{% set kadenceBlock = _kb_save_65 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_66 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_f1c3ba-1a",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_68 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_34f37d-5e",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_67 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Antakaa pelaajalle nimi</h3><p class="kt-blocks-info-box-text">Kirjoittakaa avautuvaan kenttään pelaajan nimi</p>
{% endset %}
{% set kadenceBlock = _kb_save_67 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_68 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_83e4d6-09",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_70 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_b5305b-9c",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_69 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Odottakaa, että opettaja käynnistää pelin</h3><p class="kt-blocks-info-box-text">Kun kaikki pelaajat ovat paikalla profiilipelissä, opettaja käynnistää pelin</p>
{% endset %}
{% set kadenceBlock = _kb_save_69 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_70 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_71 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_9d01a9-d8",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_75 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_936f72-95",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_73 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_fe1db5-94",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_72 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, aloita peli, kun oppilaat ovat paikalla
{% endset %}
{% set kadenceBlock = _kb_save_72 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_73 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_c9da9f-54",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_74 = kadenceBlock %}
{% set kadenceInnerHtml %}
<figure class="wp-block-image size-full is-resized"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/kaynnista-peli-kun-valmiita.png" alt="" class="wp-image-2935" style="width:397px;height:auto"/><figcaption class="wp-element-caption">Kun kaikki oppilaat ovat paikalla, aloita peli painamalla alapalkin oikean reunan nuolta. Voit liikkua vihjeiden välillä nuolta käyttämällä<br><br>HUOM! kuvan QR-koodi ja koodi eivät ole käytössä! Ne ovat esimerkkejä!</figcaption></figure>
{% endset %}
{% set kadenceBlock = _kb_save_74 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_75 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_68f929-ac",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_78 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_34932f-fc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_77 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_9f55cb-36",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_76 = kadenceBlock %}
{% set kadenceInnerHtml %}
No! Miten profilointi sujui? Osasitteko selvittää millainen mysteeripersoona on?
{% endset %}
{% set kadenceBlock = _kb_save_76 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_77 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_78 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_d76b15-cd",
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "0",
      "",
      "0",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_83 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_3ad95e-7f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "stretch"
  }
} %}
{% set _kb_save_79 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_79 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_ae5ebd-f3",
    "padding": [
      "md",
      "",
      "md",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_82 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_fbb11b-af",
    "color": "var(--global-palette4)",
    "textTransform": "uppercase",
    "fontWeight": "400",
    "fontSize": "sm"
  }
} %}
{% set _kb_save_80 = kadenceBlock %}
{% set kadenceInnerHtml %}
"Oikea vastaus"
{% endset %}
{% set kadenceBlock = _kb_save_80 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_7d0fc4-5a",
    "color": "var(--global-palette3)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_81 = kadenceBlock %}
{% set kadenceInnerHtml %}
Mysteeripersoonan profiili
{% endset %}
{% set kadenceBlock = _kb_save_81 %}
{% include "blocks/kadence/advancedheading.njk" %}


<ul class="wp-block-list">
<li><strong>Ikä:</strong> n. 15 vuotta</li>



<li><strong>Asuinpaikka: </strong>Tampere</li>



<li><strong>Kiinnostukset: </strong>Pelaaminen, skeittaaminen, jääkiekko</li>



<li><strong>Muuta: </strong>Käy kolmesti viikossa skeittaamassa, ja viikonloppuisin kävelyttää koiraa</li>
</ul>
{% endset %}
{% set kadenceBlock = _kb_save_82 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_83 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_a275ce-4c",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_88 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_92d662-5e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_87 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_dcc1be-bd",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_86 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_ace3e5-25",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_85 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_d4a7c1-47",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_84 = kadenceBlock %}
{% set kadenceInnerHtml %}
Profilointi ja sosiaalinen media
{% endset %}
{% set kadenceBlock = _kb_save_84 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_85 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_86 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_87 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_88 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_0b0245-9a",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_91 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_aadc66-69",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_90 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_a42553-42",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_89 = kadenceBlock %}
{% set kadenceInnerHtml %}
Pohdi omaa sosiaalisen median käyttöäsi? Millaisia datajälkiä sinä tuotat?
{% endset %}
{% set kadenceBlock = _kb_save_89 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_90 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_91 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_d190b9-84",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_98 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_a15b8c-0a",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_97 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_1094b9-64",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_93 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_92 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_92 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_93 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_b9e809-77",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_94 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_94 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_ec5514-0b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_96 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_95 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_95 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_96 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_97 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_98 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_adc2ac-00",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_105 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_dd8ff6-10",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_100 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_903f66-b5",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_99 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Miettikää, kuinka te käytätte sosiaalista mediaa</h3><p class="kt-blocks-info-box-text">Millaista dataa syntyy sinusta, kun sinä käytät sosiaalista mediaa?</p>
{% endset %}
{% set kadenceBlock = _kb_save_99 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_100 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_ab43e7-96",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_102 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_9f4edb-38",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_101 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Tutkikaa tehtävälomaketta 2</h3><p class="kt-blocks-info-box-text">Tutkikaa tehtävälomakkeen 2 "Data sosiaalisessa mediassa" kysymyksiä</p>
{% endset %}
{% set kadenceBlock = _kb_save_101 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_102 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_9ca527-f6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_104 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2772_4037e1-17",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_103 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Vastatkaa tehtävälomakkeen 2 kysymyksiin</h3><p class="kt-blocks-info-box-text">Vastatkaa jokaiseen tehtävälomakkeen kysymykseen.</p>
{% endset %}
{% set kadenceBlock = _kb_save_103 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_104 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_105 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_6f32ac-d7",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_110 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_dce9ca-8c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_109 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_53af2b-cc",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_108 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_7e9c78-6c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_107 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_568f03-17",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_106 = kadenceBlock %}
{% set kadenceInnerHtml %}
Kiitos tästä tunnista!
{% endset %}
{% set kadenceBlock = _kb_save_106 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_107 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_108 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_109 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_110 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2772_a99f0a-2a",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_113 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2772_992f16-f1",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_112 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2772_f6dd00-34",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_111 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tänään harjoittelimme profilointia ilman tekoälyn ja tietotekniikan apua. Seuraavalla kerralla teemme tämän kaiken automaattisesti somekoneen avulla!
{% endset %}
{% set kadenceBlock = _kb_save_111 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_112 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_113 %}
{% include "blocks/kadence/rowlayout.njk" %}
