---
title: Opettajalle
date: "2025-01-20T14:57:19"
updated: "2025-04-21T08:21:10"
slug: johdanto-somekoneen-oppimateriaaliin
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/johdanto-somekoneen-oppimateriaaliin/
status: publish
sourceType: docs
excerpt: Yleistä tietoa opettajalle.
categories: []
tags: []
author: admin
featuredImage: "https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/suositukset.png"
doc-category:
  - Sosiaalinen media ja tekoäly
doc-tag:
  - johdanto
  - somekone
knowledge-base:
  - Somekone
layout: layouts/doc.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2768_8c38cc-26"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tervetuloa tutustumaan tutkimuspohjaiseen opetusmateriaaliin, jonka avulla pystyt oppilaidesi kanssa perehtymään sosiaalisen median taustalla vaikuttaviin ja tekoälyä hyödyntäviin teknologioihin. <strong>Huom! Somekone ei kuitenkaan käytä tekoälyalgoritmeja, vaan on simulaatio, joka toimii tietokoneen www-selaimessa.</strong>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}


<h2 class="wp-block-heading has--font-size">Opetusmateriaali on kolmeen eri osaan:</h2>



<ul class="wp-block-list">
<li>Oppitunnit 1-2: perusteet ja profilointipeli</li>



<li>Oppitunnit 3-4: kuinka sosiaalinen media toimii?</li>



<li>Oppitunti 5: sosiaalisen median vaikutukset</li>
</ul>



<h2 class="wp-block-heading has--font-size">Sovellukset ja välineet sekä tehtävälomakkeet</h2>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2768_2c76c2-7f"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Materiaalipaketti sisältää seuraavat sovellukset ja tehtävälomakkeet:
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}


<ul class="wp-block-list">
<li>Somekone -somesimulaattori: <a href="https://somekone.gen-ai.fi" target="_blank" rel="noopener" title="">https://somekone.gen-ai.fi</a> (lyhyempi osoite toimii paremmin opetuksessa)</li>



<li>Profilointipeli: <a href="https://classroom.gen-ai.fi" target="_blank" rel="noopener" title="">https://classroom.gen-ai.fi</a> </li>



<li>Videot ja opetusmateriaalin </li>



<li>Tehtävälomakkeet (pdf ja doc muodossa)</li>
</ul>



<h2 class="wp-block-heading has--font-size">Oppimateriaalin visuaalinen kuvaus</h2>




{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2768_7b4b3e-c3"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2768_3aaf3d-5f",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "4xl",
      "",
      "4xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2768_89276c-fa",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2768_0a5841-5b",
    "align": "center",
    "color": "var(--global-palette1)",
    "textTransform": "uppercase",
    "fontWeight": "inherit",
    "fontSize": "sm"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, katso kuinka somekonetta käytetään!
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2768_a70cbc-76",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
Somekoneen käyttöohje
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/advancedheading.njk" %}


<figure class="wp-block-video"><video controls src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/3.1b-Somekone-opettajalle-1.mp4"><track src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/3.1b-Somekoneen-kayttaminen-SUBTITLES.vtt" label="somekoneen käyttöohje" srclang="fi" kind="subtitles"/></video><figcaption class="wp-element-caption">Opettajalle tarkoitettu video somekoneen käyttämisestä opetustilanteessa.</figcaption></figure>
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/rowlayout.njk" %}
