---
title: "Opettajalle"
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/johdanto-somekoneen-oppimateriaaliin/
layout: layouts/redirect.njk
redirectTo: https://www.gen-ai.fi/fi/materials/somekone-unit
---
