---
title: "Mikä on opetettava kone?"
permalink: /materiaalit/opetettavakone/mika-on-opetettava-kone/mika-on-opetettava-kone/
layout: layouts/redirect.njk
redirectTo: https://www.gen-ai.fi/fi/tools/tm
---
