---
title: "Mikä on opetettava kone?"
date: "2024-01-26T00:53:46"
updated: "2025-01-20T13:24:44"
slug: mika-on-opetettava-kone
permalink: /materiaalit/opetettavakone/mika-on-opetettava-kone/mika-on-opetettava-kone/
status: publish
sourceType: docs
excerpt: "Materiaalit Harva meistä kuitenkaan tulee ajatelleeksi, miten tekoäly toimii, miten tekoälysovelluksia kehitetään, ja miksi tekoäly joskus tekee virheitä. Opetettava kone on havainnollinen sovellus, jonka avulla on helppo itse toteuttaa yksinkertainen tekoälysovellus. Sen käyttö ei edellytä mitään esitietoja – riittää seurata suoraviivaisia ohjeita. Sovellus soveltuu kaikenikäisille ja se on suunniteltu erityisesti lapsia ja nuoria silmälläpitäen. Opetettava kone…"
categories: []
tags: []
author: admin
doc-category:
  - "Mikä on opetettava kone?"
knowledge-base:
  - Opetettava kone
layout: layouts/doc.njk
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2222_d02289-25",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      0,
      "",
      50,
      ""
    ],
    "margin": [
      "",
      "",
      0,
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2222_da8e46-f5",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2222_d9afa1-d5",
    "columns": 1,
    "colLayout": "equal"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2222_08bc09-f4",
    "padding": [
      "xxl",
      "",
      "",
      ""
    ],
    "margin": [
      "",
      470,
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2222_217021-58",
    "level": 1,
    "color": "var(--global-palette7)",
    "textTransform": "capitalize",
    "fontWeight": "700",
    "fontSize": "90"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Materiaalit</strong>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/rowlayout.njk" %}


<p>Harva meistä kuitenkaan tulee ajatelleeksi, miten tekoäly toimii, miten tekoälysovelluksia kehitetään, ja miksi tekoäly joskus tekee virheitä.</p>



<p><em>Opetettava kone</em>&nbsp;on havainnollinen sovellus, jonka avulla on helppo itse toteuttaa yksinkertainen tekoälysovellus. Sen käyttö ei edellytä mitään esitietoja – riittää seurata suoraviivaisia ohjeita. Sovellus soveltuu kaikenikäisille ja se on suunniteltu erityisesti lapsia ja nuoria silmälläpitäen.</p>



<p>Opetettava kone havainnollistaa konkreettisesti tekoälyn mahdollisuuksia, tekee tutuksi sen taustalla olevia käsitteitä ja johdattelee pohtimaan myös tekoälyn rajoitteita ja siihen liittyviä eettisiä kysymyksiä.</p>



<p>Opetettava kone on kehitty Strategisen tutkimuksen neuvoston rahoittamassa Generation AI -hankkeessa ja se on keskeinen osa hankkeen tuottamaa kaikille avointa, tutkimustietoon perustuvaa oppimateriaalikokonaisuutta. Materiaaliin sisältyvien sovellusten käyttö on tietoturvallista ja se soveltuu hyödynnettäväksi kaikenlaisten oppilaitosten opetuksessa sekä itseopiskelun tukena.</p>
