---
title: "Oppitunnit 3-4: kuinka sosiaalinen media toimii?"
date: "2025-01-20T17:05:59"
updated: "2025-01-29T14:31:12"
slug: osio-2-somekone
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/osio-2-somekone/
status: publish
sourceType: docs
excerpt: Perehdytään siihen kuinka sosiaalinen media toimii käyttämällä somekonetta ja tekemällä tehtäviä.
categories: []
tags: []
author: admin
doc-category:
  - Sosiaalinen media ja tekoäly
doc-tag:
  - data
  - profiili
  - somekone
  - somekone
  - suosittelija
  - video
knowledge-base:
  - Somekone
layout: layouts/doc.njk
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_9549c8-c8",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_9 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_c0ad11-98",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_281e52-78",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, tee nämä valmistelut
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_84c663-04",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_8 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/iconlist",
  "shortName": "iconlist",
  "attrs": {
    "uniqueID": "2802_57916a-ff"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2802_35233f-6f"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Jaa oppilaat pareiksi, jokaisella oppilaalla tulee olla käytössään puhelin, tablet tai tietokone sekä soveltuva verkkoyhteys.
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2802_2c8f48-09"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Jaa oppilaille tehtävälomakkeet joko paperisena tai käytä esim. Google Classroom / M365 Teams sovellusta.
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "2802_93916b-79"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
Seuraa ohjeita, niin hyvin se menee!
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/listitem.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/iconlist.njk" %}



{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_6de731-45",
    "mediaIcon": [
      {
        "icon": "fe_info",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "",
        "hoverColor": "",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fe_info" data-stroke="2" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Huom! Ole tarkkana tehtävälomakkeen kanssa!</h4><p class="kt-blocks-info-box-text">Tässä osiossa on vain yksi tehtävälomake, jossa on kaikki somekoneen tehtävät numeroituna. Jokainen numero vastaa yhtä somekoneen käyttövaihetta. </p>
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_81ee02-3b",
    "mediaIcon": [
      {
        "icon": "fe_info",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "",
        "hoverColor": "",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fe_info" data-stroke="2" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Huom! Muista katsoa opettajalle tarkoitettu käyttöohjevideo!</h4><p class="kt-blocks-info-box-text">Muistithan käydä katsomassa Somekoneen käyttöohjeista <strong>opettajalle tarkoitetun käyttöohjevideon</strong>! </p>
{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_8 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_9 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_201c9d-23",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_14 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_ceb310-69",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_13 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_2872c8-64",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_12 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_d14321-b6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_11 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_aa6f2a-3f",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_10 = kadenceBlock %}
{% set kadenceInnerHtml %}
Aloitetaan!
{% endset %}
{% set kadenceBlock = _kb_save_10 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_11 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_12 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_13 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_14 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_ca37b3-37",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_17 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_630855-33",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_16 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_86360e-c0",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_15 = kadenceBlock %}
{% set kadenceInnerHtml %}
Viime kerralla päättelimme datavihjeistä, kuka henkilö on kyseessä. Tänään teemme samat asiat automaattisesti somekoneen avulla.
{% endset %}
{% set kadenceBlock = _kb_save_15 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_16 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_17 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_0023cc-3b",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_21 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_d2f182-aa",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_19 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_8783fa-60",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_18 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, näytä video somekoneen käyttämisestä
{% endset %}
{% set kadenceBlock = _kb_save_18 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_19 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_04999d-c4",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_20 = kadenceBlock %}
{% set kadenceInnerHtml %}
<figure class="wp-block-video"><video controls src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/3.1a-Somekoneen-kayttaminen.mp4"><track src="https://www.generation-ai-stn.fi/wp-content/uploads/2025/01/3.1a-Somekoneen-kayttaminen-SUBTITLES.vtt" label="suomenkieliset tekstitykset" srclang="fi" kind="subtitles"/></video></figure>
{% endset %}
{% set kadenceBlock = _kb_save_20 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_21 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_7a7ccd-bd",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_26 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_8c1319-8f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_25 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_ceb2f2-48",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_24 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_64d7fc-2b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_23 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_9c282d-37",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_22 = kadenceBlock %}
{% set kadenceInnerHtml %}
Seuraavaksi käytetään somekonetta
{% endset %}
{% set kadenceBlock = _kb_save_22 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_23 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_24 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_25 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_26 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_ae516b-80",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_33 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_c98888-d7",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_30 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_e94bd3-64",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_27 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, käynnistä somekone.
{% endset %}
{% set kadenceBlock = _kb_save_27 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "2802_7acc34-05"
  }
} %}
{% set _kb_save_29 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "2802_b2e956-62",
    "text": "https://somekone.gen-ai.fi",
    "link": "https://somekone.gen-ai.fi/dashboard/usergrid?guide=default&content=NoIgFgLhAODOBcB6RsIHsBOBTAdAcywDsBaAQwEscAzclNAWywGs1CtFsspSBlLgRhwAvctBABdIA&page=1",
    "color": "var(--global-palette8)"
  }
} %}
{% set _kb_save_28 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_28 %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_29 %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_30 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_c4c6a6-3c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_32 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_31 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_31 %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_32 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_33 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_ee6d1f-4c",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_40 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_dbda6f-23",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_39 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_b2382f-b8",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_35 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_34 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_34 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_35 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_431e86-c8",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_36 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_36 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_5b7b8f-75",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_38 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_37 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_37 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_38 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_39 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_40 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_6e6b74-60",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_47 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_06d715-49",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_42 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_c9e64f-25",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_41 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Toinen parista avaa QR-koodin laitteellaan</h3><p class="kt-blocks-info-box-text">Laitteen kysyessä lupaa käyttää kameraa, sallikaa se. Somekone ei muuten käynnisty.</p>
{% endset %}
{% set kadenceBlock = _kb_save_41 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_42 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_610ea2-ce",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_44 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_6631d8-f0",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_43 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Keksikää käyttäjätunnus</h3><p class="kt-blocks-info-box-text">Keksikää yhdessä käyttäjätunnus. Laittakaa molempien etunimet nimikenttään. Painakaa sen jälkeen "aloita"</p>
{% endset %}
{% set kadenceBlock = _kb_save_43 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_44 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_279f72-ba",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_46 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_f82fd6-d5",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_45 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Katselkaa kuvia ja kokeilkaa toimintoja</h3><p class="kt-blocks-info-box-text">Teillä on hetki aikaa käyttää somepalvelun toimintoja. Tutustukaa sovellukseen.</p>
{% endset %}
{% set kadenceBlock = _kb_save_45 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_46 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_47 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_812e73-ec",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_52 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_d228e7-b7",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_49 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_54235e-cb",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_48 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, ottakaa parien toiset laitteet käyttöön
{% endset %}
{% set kadenceBlock = _kb_save_48 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_49 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_fc7402-bd",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_51 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_50 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_50 %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_51 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_52 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_4de776-6e",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_57 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_87aa97-71",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_54 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_31f333-95",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_53 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, siirry data-välilehteen
{% endset %}
{% set kadenceBlock = _kb_save_53 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_54 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_5a7c7b-0c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_56 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_55 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_55 %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_56 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_57 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_5048f9-e4",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_60 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_849e4e-91",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_59 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_803574-4f",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_58 = kadenceBlock %}
{% set kadenceInnerHtml %}
Näytä millaista dataa kone kerää käyttäjistä avaamalla eri oppilaiden profiileja opettajan näytöllä. Kehoita pareja tutkimaan toisella laitteella heidän somekäyttöänsä
{% endset %}
{% set kadenceBlock = _kb_save_58 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_59 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_60 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_a0572b-8c",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_67 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_2af8e5-15",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_66 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_bc9faf-3c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_62 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_61 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_61 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_62 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_a9a145-5a",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_63 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_63 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_781bbc-d6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_65 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_64 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_64 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_65 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_66 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_67 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_80164e-ba",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_74 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_63b352-33",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_69 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_0a60bf-78",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_68 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Jatkakaa somekoneen käyttöä</h3><p class="kt-blocks-info-box-text">Jatkakaa somekoneen käyttöä, pyrkikää olemaan mahdollisimman aktiivisia!</p>
{% endset %}
{% set kadenceBlock = _kb_save_68 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_69 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_a0d9f4-90",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_71 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_0d1cbb-8c",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_70 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Tutkitkaa parin toisella laittella datanäkymää</h3><p class="kt-blocks-info-box-text">Selatkaa somekoneen kuvavirtaa ja katsokaa parin toisella laitteella kuvien aktiivisuuspisteitä.</p>
{% endset %}
{% set kadenceBlock = _kb_save_70 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_71 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_5285c1-fc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_73 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_cb6d38-d1",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_72 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Vastatkaa tehtävälomakkeen kohdan 1 kysymyksiin</h3><p class="kt-blocks-info-box-text">Vastatkaa tehtävälomakkeen kohdan 1 kysymyksiin!</p>
{% endset %}
{% set kadenceBlock = _kb_save_72 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_73 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_74 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_19a1f8-40",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_77 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_44621a-59",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_76 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_281077-ae",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_75 = kadenceBlock %}
{% set kadenceInnerHtml %}
Keskustelkaa koko luokan kanssa millaisia aktiivisuuspisteitä oppilaat saivat!
{% endset %}
{% set kadenceBlock = _kb_save_75 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_76 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_77 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_213e45-69",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_82 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_a87903-f6",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_79 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_814255-79",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_78 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, siirry profilointi-välilehteen
{% endset %}
{% set kadenceBlock = _kb_save_78 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_79 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_cdf1b4-7e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_81 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_80 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_80 %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_81 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_82 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_10a8f9-8d",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_85 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_e61e2a-2b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_84 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_d401a5-a3",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_83 = kadenceBlock %}
{% set kadenceInnerHtml %}
Kaikilla kuvilla on aihetunniste, eli #hashtag. Somekoneen profiili kertoo yleisimmät aihetunnisteet. Ne perustuvat kuviin, joihin olet aktiivisesti reagoinut.
{% endset %}
{% set kadenceBlock = _kb_save_83 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_84 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_85 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_d957db-3f",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_92 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_77197e-f0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_91 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_5f0e37-aa",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_87 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_86 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_86 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_87 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_ec81f3-8a",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_88 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_88 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_79c65d-e5",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_90 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_89 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_89 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_90 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_91 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_92 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_143b81-27",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_99 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_0c2bde-3f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_94 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_55c694-f9",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_93 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Jatkakaa somekoneen käyttöä</h3><p class="kt-blocks-info-box-text">Voitte jatkaa kuvien katselua parien niillä laitteilla, joissa on "somekäyttöliittymä"</p>
{% endset %}
{% set kadenceBlock = _kb_save_93 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_94 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_d8edbb-ca",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_96 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_9412c4-e7",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_95 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Tutkikaa parin toisella laitteella profiilisivua</h3><p class="kt-blocks-info-box-text">Tutkikaa millaisen profiilin somekone on luonut teistä. Onnistuiko se profiloimaan teidät hyvin?</p>
{% endset %}
{% set kadenceBlock = _kb_save_95 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_96 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_5e8a90-8b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_98 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_4345f6-46",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_97 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Vastatkaa tehtävälomakkeen kohdan 2 kysymyksiin</h3><p class="kt-blocks-info-box-text">Vastatkaa tehtävälomakkeen kohdan 2 kysymyksiin!</p>
{% endset %}
{% set kadenceBlock = _kb_save_97 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_98 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_99 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_f0fe1a-28",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_104 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_1ababd-95",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_101 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_e0dfad-99",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_100 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, siirry samankaltaisuus välilehteen
{% endset %}
{% set kadenceBlock = _kb_save_100 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_101 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_51aa30-2f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_103 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_102 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_102 %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_103 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_104 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_d1670f-6b",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_111 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_7948ab-30",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_110 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_a1ff85-78",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_106 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_105 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_105 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_106 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_074001-0c",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_107 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_107 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_b05191-51",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_109 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_108 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_108 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_109 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_110 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_111 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_1ea4f2-74",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_118 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_a0f2cf-e4",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_113 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_488446-14",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_112 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Jatkakaa somekoneen käyttöä</h3><p class="kt-blocks-info-box-text">Voitte jatkaa kuvien katselua parien niillä laitteilla, joissa on "somekäyttöliittymä"</p>
{% endset %}
{% set kadenceBlock = _kb_save_112 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_113 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_132e52-56",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_115 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_141a58-7b",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_114 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Etsikää oma profiilinne opettajan näytöltä</h3><p class="kt-blocks-info-box-text">Katsokaa kenen profiilit ovat lähimpänä teidän profiilianne? Miksi?</p>
{% endset %}
{% set kadenceBlock = _kb_save_114 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_115 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_462ee2-38",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_117 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_218e4b-f6",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_116 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Vastatkaa tehtävälomakkeen kohdan 3 kysymyksiin</h3><p class="kt-blocks-info-box-text">Vastatkaa tehtävälomakkeen kohdan 3 kysymyksiin!</p>
{% endset %}
{% set kadenceBlock = _kb_save_116 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_117 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_118 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_a45e5f-94",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "margin": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_123 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_620da9-27",
    "padding": [
      "md",
      "lg",
      "md",
      "lg"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette2)",
    "className": "inner-column-2",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_120 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_9ac4cf-1d",
    "color": "var(--global-palette8)",
    "fontSize": "xl"
  }
} %}
{% set _kb_save_119 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opettaja, siirry suositukset välilehteen
{% endset %}
{% set kadenceBlock = _kb_save_119 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_120 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_13d129-42",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_122 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_121 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_121 %}
{% include "blocks/kadence/image.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_122 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_123 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_94c5ed-c5",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_126 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_c5683d-4e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_125 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_ef8f28-7b",
    "level": 3,
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "40"
  }
} %}
{% set _kb_save_124 = kadenceBlock %}
{% set kadenceInnerHtml %}
Olette varmasti huomanneet, että jos olette aktiivisesti reagoineet esim. urheilukuviin, somekone näyttää lisää urheilukuvia?
{% endset %}
{% set kadenceBlock = _kb_save_124 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_125 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_126 %}
{% include "blocks/kadence/rowlayout.njk" %}


<div class="wp-block-group">{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_c5cf7f-3f",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "4xl",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_133 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_783d09-ff",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "verticalAlignment": "middle"
  }
} %}
{% set _kb_save_132 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_aea4cf-51",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_128 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_127 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_127 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_128 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_cb5ca8-91",
    "level": 3,
    "align": "center",
    "textTransform": "uppercase",
    "fontSize": "40"
  }
} %}
{% set _kb_save_129 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oppilaiden tehtävä
{% endset %}
{% set kadenceBlock = _kb_save_129 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_5fbfe5-b4",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_131 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {
    "dividerColor": "var(--global-palette3)",
    "dividerWidth": 100
  }
} %}
{% set _kb_save_130 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_130 %}
{% include "blocks/kadence/spacer.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_131 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_132 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_133 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_d3e7d7-0d",
    "columns": 3,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_140 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_0062a6-43",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_135 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_3b809b-81",
    "mediaIcon": [
      {
        "icon": "fas_qrcode",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_134 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_qrcode" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Jatkakaa somekoneen käyttöä</h3><p class="kt-blocks-info-box-text">Voitte jatkaa kuvien katselua parien niillä laitteilla, joissa on "somekäyttöliittymä"</p>
{% endset %}
{% set kadenceBlock = _kb_save_134 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_135 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_59b7c6-57",
    "padding": [
      0,
      0,
      0,
      0
    ],
    "margin": [
      0,
      0,
      0,
      0
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_137 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_f014fe-b7",
    "mediaIcon": [
      {
        "icon": "fas_star",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_136 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_star" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Tutkikaa suositukset välilehteä parinne puhelimessa</h3><p class="kt-blocks-info-box-text">Millä perusteella somekone osaa valita teitä kiinnostavia kuvia?</p>
{% endset %}
{% set kadenceBlock = _kb_save_136 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_137 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_696dfe-2e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_139 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "2802_12ce17-a1",
    "mediaIcon": [
      {
        "icon": "fas_gift",
        "size": 24,
        "width": 2,
        "title": "",
        "color": "var(--global-palette4)",
        "hoverColor": "var(--global-palette4)",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_138 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_gift" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h3 class="kt-blocks-info-box-title">Vastatkaa tehtävälomakkeen kohdan 4 kysymyksiin</h3><p class="kt-blocks-info-box-text">Vastatkaa tehtävälomakkeen kohdan 4 kysymyksiin!</p>
{% endset %}
{% set kadenceBlock = _kb_save_138 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_139 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_140 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_74c062-82",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ]
  }
} %}
{% set _kb_save_145 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_691979-e8",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_144 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "2802_a57074-3e",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_143 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "2802_7f1f83-06",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_142 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2802_07078e-47",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_141 = kadenceBlock %}
{% set kadenceInnerHtml %}
Kiitos tästä tunnista!
{% endset %}
{% set kadenceBlock = _kb_save_141 %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_142 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_143 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_144 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_145 %}
{% include "blocks/kadence/rowlayout.njk" %}
