---
title: "Oppitunti 5: sosiaalisen median käytön vaikutukset"
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/osio-3-sosiaalisen-median-kayton-vaikutukset/
layout: layouts/redirect.njk
redirectTo: https://www.gen-ai.fi/fi/materials/somekone-lesson-5
---
