---
title: "Oppitunnit 3-4: kuinka sosiaalinen media toimii?"
permalink: /materiaalit/somekone/sosiaalinen-media-ja-tekoaly/osio-2-somekone/
layout: layouts/redirect.njk
redirectTo: https://www.gen-ai.fi/fi/materials/somekone-lesson-3-4
---
