---
title: Somekoneen käyttöohje opettajalle
date: "2025-01-20T17:22:16"
updated: "2025-01-20T17:22:20"
slug: somekoneen-kayttoohje-opettajalle
permalink: /materiaalit/somekone/somekoneen-kayttoohjeet/somekoneen-kayttoohje-opettajalle/
status: publish
sourceType: docs
sourceId: 2808
sourceUrl: "https://www.generation-ai-stn.fi/materiaalit/somekone/somekoneen-kayttoohjeet/somekoneen-kayttoohje-opettajalle/"
excerpt: "Video somekoneen ominaisuuksista Ilman, että katsot tämän videon, et voi käyttää somekonetta tunnilla! Tämä sisältää erittäin tärkeätä tietoa! video tulossa"
categories: []
tags: []
author: admin
doc-category:
  - Somekone
doc-tag:
  - somekone
  - somekone
  - video
knowledge-base:
  - Somekone
layout: layouts/doc.njk
kadenceBlocks:
  - advancedheading
---

<h2 class="wp-block-heading">Video somekoneen ominaisuuksista</h2>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2808_3136bd-12"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Ilman, että katsot tämän videon, et voi käyttää somekonetta tunnilla! Tämä sisältää erittäin tärkeätä tietoa!
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2808_151411-35"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>video tulossa</strong>
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}


<figure class="wp-block-video"></figure>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2808_10079e-3e"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2808_a78930-9c"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}
