{# kadence/advancedbtn — Button group; innerHtml contains individual button elements #}
{% set b = kadenceBlock.attrs %}
<div
  class="wp-block-kadence-advancedbtn kb-btn-align-wrap kadence-block kadence-advancedbtn kb-buttons-wrap{% if b.uniqueID %} kb-btns{{ b.uniqueID }}{% endif %}{% if b.hAlign %} kb-btn-align-{{ b.hAlign }}{% endif %}{% if b.className %} {{ b.className }}{% endif %}"
>
  {{ kadenceInnerHtml | safe }}
</div>
