{# kadence/listitem — Single icon list item #}
{% set b = kadenceBlock.attrs %}
{% from "macros/feather-icons.njk" import featherIcon %}
<li class="kb-icon-list-item kt-svg-icon-list-item-wrap{% if b.className %} {{ b.className }}{% endif %}">
  {% if b.icon %}
    {{ featherIcon(b.icon) }}
  {% endif %}
  <span class="kt-svg-icon-list-text">{{ kadenceInnerHtml | safe }}</span>
</li>
