{% macro kbSeparator(name) -%}
  {% if name == "mtns" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path fill="currentColor" d="M1000,50l-182.69,-45.286l-292.031,61.197l-190.875,-41.075l-143.748,28.794l-190.656,-23.63l0,70l1000,0l0,-50Z" style="opacity:0.4"/><path fill="currentColor" d="M1000,57l-152.781,-22.589l-214.383,19.81l-159.318,-21.471l-177.44,25.875l-192.722,5.627l-103.356,-27.275l0,63.023l1000,0l0,-43Z"/></svg>
  {% elif name == "waves" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path fill="currentColor" d="M0,40 C150,80 350,0 500,50 C650,100 850,20 1000,60 L1000,100 L0,100 Z" style="opacity:0.4"/><path fill="currentColor" d="M0,60 C200,20 400,90 600,50 C800,10 900,70 1000,40 L1000,100 L0,100 Z"/></svg>
  {% elif name == "tilt" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><polygon fill="currentColor" points="0,100 1000,0 1000,100"/></svg>
  {% elif name == "curve" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path fill="currentColor" d="M0,70 Q500,0 1000,70 L1000,100 L0,100 Z"/></svg>
  {% elif name == "triangle" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><polygon fill="currentColor" points="0,100 500,0 1000,100"/></svg>
  {% elif name == "ct" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path fill="currentColor" d="M0,100 L0,50 Q500,0 1000,50 L1000,100 Z"/></svg>
  {% elif name == "cti" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path fill="currentColor" d="M0,100 L0,0 Q500,100 1000,0 L1000,100 Z"/></svg>
  {% elif name == "ctdi" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path fill="currentColor" d="M0,100 L0,60 Q500,0 1000,60 L1000,100 Z" style="opacity:0.4"/><path fill="currentColor" d="M0,100 L0,80 Q500,20 1000,80 L1000,100 Z"/></svg>
  {% elif name == "threelevels" %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><polygon fill="currentColor" points="0,100 0,60 330,60 330,40 660,40 660,20 1000,20 1000,100"/></svg>
  {% endif %}
{%- endmacro %}
