---
title: 'The machine to be taught was equipped with an XAI tool. Now you can see in real time how the AI classifies the image'
date: "2025-01-16T22:06:57"
updated: "2025-02-12T22:39:34"
slug: the-machine-to-be-taught-was-equipped-with-an-xai-tool-now-you-can-see-in-real-time-how-the-ai-classifies-the-image
permalink: /en/project-activities/the-machine-to-be-taught-was-equipped-with-an-xai-tool-now-you-can-see-in-real-time-how-the-ai-classifies-the-image/
status: publish
sourceType: posts
excerpt: 'A neural network model based on deep learning of the machine being taught was given a heat map view of the AI to be explained. It not only facilitates the use of the app by demonstrating how and what the machine recognises, but also gives students a hands-on experience of how AI works.'
mainCategory: "Project activities"
tags:
  - explainable artificial intelligence
  - heat map
  - teachable machine
  - xai
lang: en
author: admin
layout: layouts/post.njk
---
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3167_7e0b6a-eb"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
A neural network model based on deep learning of the machine being taught was given a heat map view of the AI to be explained. It not only facilitates the use of the app by demonstrating how and what the machine recognises, but also gives students a hands-on experience of how AI works.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
