---
title: 'För lärare'
date: "2023-09-21T14:59:27"
updated: "2025-01-23T13:53:18"
slug: for-larare
permalink: /sv/for-larare/
status: publish
sourceType: pages
excerpt: 'Vi utvecklar applikationer och material tillsammans med lärare och elever! Projektet organiserar en serie deltagande AI-relaterade samdesignprojekt och praktiska övningar för lärarstuderande samt för lärare och elever i förskola och grundskola. I praktiken deltar 90 lärare och lärarstuderande samt 360 skolelever i förskola och grundskola i projektet. För att få elever att delta i utformningen och implementeringen av sina egna AI- och maskininlärningsbaserade lösningar använder vi verktyg som är lämpliga för åldern, och i synnerhet inlärningsverktyg och material som utvecklas i projektet...'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
pageHero: true
heroImage: "/media/wp-content/uploads/2022/12/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00.png"
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_bc33e5-d0",
    "colLayout": "equal",
    "padding": [
      "sm",
      "md",
      "sm",
      "sm"
    ],
    "align": "full"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_82c528-e2",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<!-- TODO: kadence/tableofcontents ei tuettu — alkuperäinen sisältö säilytetty -->
<div class="block-fallback block-fallback--tableofcontents" data-original-block="kadence/tableofcontents">

</div>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_52a95e-fd",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/slider",
  "shortName": "slider",
  "attrs": {
    "uniqueID": "1053_b3f09e-0a"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/slide",
  "shortName": "slide",
  "attrs": {
    "uniqueID": "1053_f49103-af"
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-medium-font-size"><strong>Vi utvecklar nya kombinationer av AI-undervisningsverktyg och -metoder samt inlärningsenheter lämpade för förskola och grundskola</strong></p>
{% endset %}
{% include "blocks/kadence/slide.njk" %}

{% set kadenceBlock = {
  "name": "kadence/slide",
  "shortName": "slide",
  "attrs": {
    "uniqueID": "1053_550f87-30"
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-medium-font-size"><strong>Vi utvecklar pedagogiska ramverk för AI- och säkerhetspedagogik</strong></p>
{% endset %}
{% include "blocks/kadence/slide.njk" %}

{% set kadenceBlock = {
  "name": "kadence/slide",
  "shortName": "slide",
  "attrs": {
    "uniqueID": "1053_336241-0a"
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-medium-font-size"><strong>Vi främjar genomförandet av barnens rättigheter i AI-baserade system</strong></p>
{% endset %}
{% include "blocks/kadence/slide.njk" %}
{% endset %}
{% include "blocks/kadence/slider.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_752c17-0b",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "#304e58",
    "bottomSep": "mtns",
    "align": "full"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_d2346e-30",
    "margin": [
      "",
      "",
      "lg",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_c4e947-f4",
    "color": "var(--global-palette9)",
    "fontSize": [
      "lg",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar applikationer och material tillsammans med lärare och elever!
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<div class="wp-block-media-text alignfull is-stacked-on-mobile is-vertically-aligned-center is-image-fill-element" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--60)"><figure class="wp-block-media-text__media"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/10/Isometric_school_classroom_with_learners_and_teacher_cutaw_3b51ff66-cf5d-421b-b727-6bf835df472c-2-1024x1024.png" alt="" class="wp-image-1383 size-full" style="object-position:50% 50%"/></figure><div class="wp-block-media-text__content">
<p class="has-theme-palette-9-color has-text-color">Projektet organiserar en serie deltagande AI-relaterade samdesignprojekt och praktiska övningar för lärarstuderande samt för lärare och elever i förskola och grundskola. I praktiken deltar 90 lärare och lärarstuderande samt 360 skolelever i förskola och grundskola i projektet.&nbsp; </p>



<p class="has-theme-palette-9-color has-text-color">För att få eleverna att delta i utformningen och implementeringen av sina egna AI- och maskininlärningsbaserade lösningar använder vi verktyg som är lämpliga för åldern, och särskilt inlärningsverktyg och material som utvecklas i projektet. </p>



<p class="has-theme-palette-9-color has-text-color">Målet är att få elever, lärare och lärarstuderande att förstå säkerhetsfrågor relaterade till AI/maskininlärning (AI/ML) samt teknologier och modeller genom experimenterande och uppfinnande. </p>
</div></div>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_0cab39-d5",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "bottomSep": "mtns",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_aa7c97-2f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_87301f-73",
    "level": 3,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "lg",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar applikationer som stödjer AI-undervisning
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_f6a55e-ef",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar och tillhandahåller användbara applikationer som fokuserar särskilt på interaktionen mellan AI och cybersäkerhet.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_17e10b-14",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Med dessa kan vi stödja barnens och familjernas självstudier vid sidan av skolundervisningen.&nbsp;
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_fa1b97-21",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Vi utvärderar användbarheten och lämpligheten av utvecklade undervisningsverktyg för cybersäkerhet samt bekämpning av desinformation, fördomar och stereotyper.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_a3fbe5-7f",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
För att uppnå så bred påverkan som möjligt designar vi applikationer<br>så att de är skalbara (fungerar på alla enheter) och lätta att implementera
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_8e9cbc-70",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_177070-01",
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "sm",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_b1c333-87",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_dd5118-70",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
GenAI underbar maskin
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_0e3b5f-b0",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}
<em>Underbar maskin</em>&nbsp;är en illustrativ applikation med vilken man lätt kan implementera en enkel AI-applikation. <br><br>Användningen kräver ingen förkunskap – det räcker att följa enkla instruktioner. <br><br>Applikationen passar för barn och ungdomar i alla åldrar och är särskilt utformad med tanke på dem.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "1053_1bd3b2-40"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "1053_3bc3cf-40",
    "text": "Gå till inlärningsmaterielsida",
    "link": "https://www.generation-ai-stn.fi/genai-opetettava-kone/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}


<p></p>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_611ae0-6b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_6fc4d1-2a",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Sociala mediemaskinen
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_dd4fbf-db",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar för närvarande en ny applikation som är en simulator för sociala medier.<br><br>En förhandsversion är redan i drift på: <a href="https://somekone.generation-ai-stn.fi" target="_blank" rel="noopener" title="">https://somekone.generation-ai-stn.fi </a>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_120ca0-51",
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_cfc4dc-df",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_dd97a0-95",
    "level": 3,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "lg",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar undervisnings- och inlärningsmateriell
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_867a09-fa",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar och tillhandahåller användbara undervisnings- och inlärningsmateriell som fokuserar särskilt på interaktionen mellan AI och cybersäkerhet.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_6614cc-c2",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Med dessa kan vi stödja barnens och deras familjers självstudier vid sidan av skolundervisningen.&nbsp;
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_3bbe88-99",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
För att uppnå så bred påverkan som möjligt designas inlärningsenheterna och undervisningsverktygen så att de är skalbara och lätta att implementera.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_0abeef-07",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_e42222-87",
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "sm",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_dce3c7-ba",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_cfb0d7-87",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Materialen för Underbar maskin har publicerats
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Vi har slutfört materialpaket "Behärska AI tillsammans". <br><br>Det finns bakom knappen nedan och på adressen: <a href="https://www.generation-ai-stn.fi/materiaalit" target="_blank" rel="noopener" title="">https://www.generation-ai-stn.fi/materiaalit</a><br></p>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "1053_8647da-4c"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "1053_3b4748-31",
    "text": "Gå till inlärningsmateriell",
    "link": "https://www.generation-ai-stn.fi/materiaalit"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_22089f-11",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_12973a-65",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "bottomSep": "mtns",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_7aa036-95",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_633a52-ff",
    "level": 3,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "lg",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vi publicerar guider och rekommendationer som behandlar barnens rättigheter och vuxnas skyldigheter
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Projektet ökar forskningen om barnens rättigheter (Convention on the Rights of the Child - CRC) inom AI-området. <strong>Vi skapar guider och rekommendationer för lärare och vårdnadshavare under projektets gång.</strong></p>



<p>I forskningen problematiseras de juridiska krav som en datamyndighet ställer med hjälp av rättsvetenskaplig forskning, och riskerna med AI för barnens rättigheter identifieras ur ett skydds- och deltagandeperspektiv. Det juridiska ramverket jämförs med elevers attityder och uppfattningar om sina rättigheter relaterade till sin data och algoritmisk manipulation.&nbsp;</p>



<p> Under den andra treårsperioden producerar projektet rekommendationer till regeringen, vårdnadshavare, lärarutbildare och pedagoger (t.ex. skolor) om hur de kan uppfylla sina skyldigheter relaterade till AI och barnens rättigheter (t.ex. relaterat till särskilda AI-transparenskrav, barns datahantering och barns profilering online).</p>



<p>Projektet undersöker juridiska begrepp som rör barnens samtycke och beslutsfattningsförmåga i AI-baserade system. Den analyserar de lagstiftande åldergränserna för barnens samtycke och visar föräldrarnas ansvar för att ge samtycke och överlåta det till skolor. <br><br>Projektet granskar kritiskt juridiska normer kring barnens samtycke, särskilt relaterat till dataskyddsförordningen. Den undersöker också förutsättningarna för beslutsfattande i AI-baserade undervisnings- och inlärningsverktyg, såsom vilken AI/ML som skolor kan tillämpa i undervisningen med barnets samtycke, vårdnadshavarnas tillåtelse och skolans undervisningsmandat.</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_092b0f-e3",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_1152eb-a9",
    "level": 4,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
GUIDE: Behandling av personuppgifter i grundskolan
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_6e5622-aa",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Digitaliseringen av undervisningen lyfter också fram frågor om dataskydd och barns rättigheter.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_c07550-af",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Projektets rättsvetenskapliga experter har tagit fram en guide för lärare och rektorer.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "1053_a1a4f2-e8"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "1053_9cc571-d8",
    "text": "Öppna guiden här",
    "link": "/sv/sv/personuppgiftsbehandling-i-grundskolan/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/rowlayout.njk" %}
