---
title: 'Generation AI-projektet i media'
date: "2023-09-19T10:34:04"
updated: "2025-02-13T10:28:34"
slug: generation-ai-projektet-i-media
permalink: /sv/generation-ai-projektet-i-media/
status: publish
sourceType: pages
sourceId: 903
sourceUrl: "https://www.generation-ai-stn.fi/tietoa-tekoalysta-kenelle-tahansa/"
excerpt: 'Vad i världen är artificiell intelligens? Vad handlar det om? Vad i världen är artificiell intelligens? Prof. Teemu Roos berättar Vår projektpersonals är också känd från media. På denna sida hittar du många intervjuer och annat allmänt tillgängligt innehål som hjälper dig att förstå detta komplicerade fenomen kallat artificiell intelligens! Prof. Teemu Roos som arbetar i vårt projekt har utmärkt sig genom att popularisera Artificiell intelligens är inte science fiction, utan det finns redan närvarande...'
categories: []
tags: []
author: admin
layout: layouts/page.njk
kadenceBlocks:
  - advancedheading
  - column
  - postgrid
  - rowlayout
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "903_1a3a85-1c",
    "colLayout": "row",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "903_8c1ab0-d7",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "3xl",
      "",
      "3xl"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "903_842710-05",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": [
      "sm",
      "",
      ""
    ],
    "textTransform": "uppercase"
  }
} %}
{% set kadenceInnerHtml %}
Vad i världen är artificiell intelligens? Vad handlar det om?
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "903_9e8f03-64",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vad i världen är artificiell intelligens? Prof. Teemu Roos berättar
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "903_6bea2a-df",
    "level": 1,
    "color": "var(--global-palette3)"
  }
} %}
{% set kadenceInnerHtml %}
Vår projektpersonals är också känd från media. På denna sida hittar du många intervjuer och annat allmänt tillgängligt innehål som hjälper dig att förstå detta komplicerade fenomen kallat artificiell intelligens! Prof. Teemu Roos som arbetar i vårt projekt har utmärkt sig genom att popularisera
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Artificiell intelligens är inte science fiction, utan det finns redan närvarande i vår vardag, säger professorn i datavetenskap vid Helsingfors universitet. Han leder undervisningen i artificiell intelligens vid Finlands AI-centrum FCAI och fungerar som ansvarig lärare för den populära Elements of AI-webkursen.</p>
<cite>Prof. Teemu Roos i KU-tidskriftens intervju 27.8.2023. https://www.ku.fi/artikkeli/4906774-tekoaly-on-jo-taalla-eika-siihen-pida-suhtautua-kuin-luonnonvoimaan-sanoo-tietojenkasittelytieteen-professori-teemu-roos</cite></blockquote>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "903_c58785-0c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "903_21e87e-eb",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "align": "full",
    "bgColorClass": "theme-var(--global-var(--global-palette8))"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "903_67ded7-b9",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "903_dea95f-af"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/postgrid.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Mediasyn</h2>


{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "903_fe9036-46"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/postgrid.njk" %}


<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Evenemang</h2>


{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "903_0abea4-69"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/postgrid.njk" %}