---
title: Konsortium
date: "2023-01-29T11:44:01"
updated: "2025-02-12T22:03:58"
slug: konsortium
permalink: /sv/konsortium/
status: publish
sourceType: pages
sourceId: 3806
sourceUrl: "https://www.generation-ai-stn.fi/sv/konsortium/"
excerpt: "Projektledning Matti Tedre Professor, projektledare, Östra Finlands universitet (UEF) Professor Tedre kommer att leda arbetspaketet om datadeltagande (arbetspaket 1) och hela projektet. matti.tedre@uef.fi Kati Mäkitalo Professor, Project Interaction Officer, Uleåborgs universitet Prof. Mäkitalo är ledare för arbetspaketet om interaktionsmekanismer (arbetspaket 5). kati.makitalo@oulu.fi Vi bedriver tvärvetenskaplig forskning och utveckling Visste du att vårt konsortium, de olika…"
categories: []
tags: []
lang: sv
author: admin
layout: layouts/page.njk
kadenceBlocks:
  - advancedheading
  - image
  - column
  - rowlayout
  - infobox
  - pane
  - accordion
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "341_b6ba1f-86",
    "align": "center",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Projektledning
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_a941c7-41",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "md",
      "",
      "0",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_15 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_edb77a-a4",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_14 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_b907ed-61",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "sm",
      "",
      "md",
      ""
    ],
    "align": "wide"
  }
} %}
{% set _kb_save_13 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_63457e-7e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/image.njk" %}


<h2 class="wp-block-heading has-lg-lg-font-size">Matti Tedre</h2>



<p class="has--font-size"><strong>Professor, projektledare, Östra Finlands universitet (UEF)</strong></p>



<p class="has--font-size">Professor Tedre kommer att leda arbetspaketet om datadeltagande (arbetspaket 1) och hela projektet.</p>



<p>matti.tedre@uef.fi</p>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_ed6a2e-cb",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {
    "className": "is-style-default"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/image.njk" %}


<h2 class="wp-block-heading has-lg-lg-font-size">Kati Mäkitalo</h2>



<p class="has--font-size"><strong>Professor, Project Interaction Officer</strong>,<strong> Uleåborgs universitet</strong></p>



<p class="has--font-size">Prof. Mäkitalo är ledare för arbetspaketet om interaktionsmekanismer (arbetspaket 5).</p>



<p>kati.makitalo@oulu.fi</p>
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_a1faa0-8c",
    "padding": [
      "xs",
      "xs",
      "xs",
      "xs"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-palette8)"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
<h2 class="wp-block-heading has-lg-font-size">Vi bedriver tvärvetenskaplig forskning och utveckling  </h2>



<p class="has--font-size">Visste du att vårt konsortium, de olika partnerna i vårt projekt, är mycket tvärvetenskapligt och mångsidigt?  <br/><br/>Projektet kombinerar expertis inom utbildning, juridik och datavetenskap med praktisk utbildning och expertis från science centers.</p>



<p>Vår mångsidiga bakgrund gör att vi kan se på AI ur många olika perspektiv och ta fram material och verktyg av hög kvalitet för finska lärare och studenter.  </p>
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_0097a7-b7",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/image.njk" %}


<h2 class="wp-block-heading has-lg-font-size">Henriikka Vartiainen</h2>



<p class="has--font-size"><strong>Universitetsforskare</strong>, <strong>Östra Finlands universitet (UEF)</strong></p>



<p class="has--font-size">Henriikka Vartiainen är ledare för arbetspaketet för datadeltagande (TP2).</p>
{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_30521b-de",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_10 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_8 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_8 %}
{% include "blocks/kadence/image.njk" %}


<h2 class="wp-block-heading has-lg-font-size">Kaiju Kangas</h2>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "341_d7ab6f-6e",
    "align": "left",
    "color": "var(--global-palette3)"
  }
} %}
{% set _kb_save_9 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Apulaisprofessori, Helsingin yliopisto</strong>
{% endset %}
{% set kadenceBlock = _kb_save_9 %}
{% include "blocks/kadence/advancedheading.njk" %}


<p class="has--font-size">Docent Kangas leder arbetspaketet om epistemiskt flyt (WP3).  </p>
{% endset %}
{% set kadenceBlock = _kb_save_10 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_2b307f-94",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_12 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set _kb_save_11 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_11 %}
{% include "blocks/kadence/image.njk" %}


<h2 class="wp-block-heading has-lg-font-size">Teemu Roos</h2>



<p class="has--font-size"><strong>Professor, Helsingfors universitet</strong></p>



<p class="has--font-size">Professor Roos är ledare för arbetspaketet Technology Development (TP4)</p>
{% endset %}
{% set kadenceBlock = _kb_save_12 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_13 %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_14 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_15 %}
{% include "blocks/kadence/rowlayout.njk" %}{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "341_220559-7b",
    "align": "center",
    "fontSize": "xxl"
  }
} %}
{% set _kb_save_16 = kadenceBlock %}
{% set kadenceInnerHtml %}
Hela konsortiet för projektet
{% endset %}
{% set kadenceBlock = _kb_save_16 %}
{% include "blocks/kadence/advancedheading.njk" %}{% set kadenceBlock = {
  "name": "kadence/accordion",
  "shortName": "accordion",
  "attrs": {
    "uniqueID": "341_c00773-78"
  }
} %}
{% set _kb_save_98 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_af7abf-ee",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Helsingfors universitet, Pedagogiska fakulteten"
  }
} %}
{% set _kb_save_25 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_1f33ce-66",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_17 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/f93a68a8-ff62-4165-98e5-5758f92f7a64-150x150.jpg" alt="" width="150" height="150" class="kt-info-box-image wp-image-103"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Helsingfors universitet</h2><p class="kt-blocks-info-box-text">Fakulteten för pedagogik, Institutionen för pedagogik</p>
{% endset %}
{% set kadenceBlock = _kb_save_17 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_bedd05-b5",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      null,
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_24 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_9aa50f-74",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_19 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_7e9c05-eb",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_18 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/kaiju-e1693401117285.webp" alt="" width="157" height="156" class="kt-info-box-image wp-image-613"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Kaiju Kangas</h4><p class="kt-blocks-info-box-text">Biträdande professor<br/><a href="https://researchportal.helsinki.fi/fi/persons/kaiju-kangas">https://researchportal.helsinki.fi/fi/persons/kaiju-kangas</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_18 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_19 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_7603cd-03",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_21 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_0aba58-48",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_20 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/katisormunen-e1693401085661.webp" alt="" width="147" height="153" class="kt-info-box-image wp-image-629"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Kati Sormunen</h4><p class="kt-blocks-info-box-text">Universitetslektor<br/><a href="https://researchportal.helsinki.fi/fi/persons/kati-sormunen" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/kati-sormunen</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_20 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_21 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_6f5957-d6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_23 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_ebdc5f-86",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_aperture",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_22 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/sinidavies-e1693401190663.webp" alt="" width="160" height="151" class="kt-info-box-image wp-image-630"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Sini Davies</h4><p class="kt-blocks-info-box-text">Forskare inom avhandlingsområdet<br/><a href="https://researchportal.helsinki.fi/fi/persons/sini-maarit-davies" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/sini-maarit-davies</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_22 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_23 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_24 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_25 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_b25079-93",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Helsingfors universitet, Matematisk-naturvetenskapliga fakulteten, Institutionen för datavetenskap"
  }
} %}
{% set _kb_save_33 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_a40152-a8",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_26 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/f93a68a8-ff62-4165-98e5-5758f92f7a64-150x150.jpg" alt="" width="150" height="150" class="kt-info-box-image wp-image-103"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Helsingfors universitet</h2><p class="kt-blocks-info-box-text">Matematisk-naturvetenskapliga fakulteten, Institutionen för datavetenskap</p>
{% endset %}
{% set kadenceBlock = _kb_save_26 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_efc62f-86",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      85,
      "",
      85,
      ""
    ]
  }
} %}
{% set _kb_save_32 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_3fdd6b-f6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_28 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_6c4982-16",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_27 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/teemu_roos.jpeg" alt="" width="1024" height="1024" class="kt-info-box-image wp-image-614"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Teemu Roos</h4><p class="kt-blocks-info-box-text">Professor<br/><a href="https://researchportal.helsinki.fi/fi/persons/teemu-roos" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/teemu-roos</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_27 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_28 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_379201-d2",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_30 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_a3af17-b8",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_29 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/pngegg-1024x777-1.png" alt="" width="1023" height="777" class="kt-info-box-image wp-image-627"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Tarja Pietarinen</h4><p class="kt-blocks-info-box-text">Postdoktoral forskare<br/><a href="https://researchportal.helsinki.fi/fi/persons/tarja-hannele-pietarinen" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/tarja-hannele-pietarinen</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_29 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_30 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_184f08-a4",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_31 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_31 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_32 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_33 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_52f127-9d",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Helsingfors universitet, Juridiska fakulteten, Juridik"
  }
} %}
{% set _kb_save_47 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_6a4b26-7f",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_34 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/f93a68a8-ff62-4165-98e5-5758f92f7a64-150x150.jpg" alt="" width="150" height="150" class="kt-info-box-image wp-image-103"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Helsingfors universitet</h2><p class="kt-blocks-info-box-text">Juridiska fakulteten, Juridik</p>
{% endset %}
{% set kadenceBlock = _kb_save_34 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_a296b8-56",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      null,
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_41 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_3938e0-6c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_36 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_d707fd-d1",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_35 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/Lindroos_Hovinheimo_Susanna_2_photo_Maarit_Kyt_harju-e1693399606558.webp" alt="" width="160" height="162" class="kt-info-box-image wp-image-615"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Lindroos-Hovinheimo, Susanna M  </h4><p class="kt-blocks-info-box-text">Professor<br/><a href="https://researchportal.helsinki.fi/fi/persons/susanna-lindroos-hovinheimo" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/susanna-lindroos-hovinheimo<br/></a></p>
{% endset %}
{% set kadenceBlock = _kb_save_35 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_36 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_b8ca8f-ef",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_38 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_2fcb74-b4",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_37 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/milka-sormunen-e1693399722651.webp" alt="" width="157" height="168" class="kt-info-box-image wp-image-616"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Milka Sormunen</h4><p class="kt-blocks-info-box-text">postdoktoral forskare<br/><a href="https://researchportal.helsinki.fi/fi/persons/milka-sormunen" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/milka-sormunen</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_37 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_38 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_ac54fc-a3",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_40 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_ad0bee-38",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_aperture",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_39 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/pngegg.png" alt="Placeholder for missing person photo" width="1280" height="971" class="kt-info-box-image wp-image-358"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Eveliina Ignatius</h4><p class="kt-blocks-info-box-text">Forskare inom avhandlingsområdet<br/><a href="https://researchportal.helsinki.fi/fi/persons/jenni-eveliina-ignatius" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/jenni-eveliina-ignatius</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_39 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_40 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_41 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_c19256-de",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      null,
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_46 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_f250dc-9a",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_43 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_7b07d2-28",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_42 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/kamrul-e1693400084175.webp" alt="" width="149" height="157" class="kt-info-box-image wp-image-617"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Kamrul Faisal</h4><p class="kt-blocks-info-box-text">Forskare inom avhandlingsområdet<br/><a href="https://researchportal.helsinki.fi/fi/persons/kamrul-faisal" target="_blank" rel="noopener" title="">https://researchportal.helsinki.fi/fi/persons/kamrul-faisal</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_42 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_43 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_fee6a7-79",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_44 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_44 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_28fef8-f1",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_45 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_45 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_46 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_47 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_4a2ab9-f6",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Östra Finlands universitet (UEF), Filosofiska fakulteten, Institutionen för tillämpad utbildningsvetenskap och lärarutbildning"
  }
} %}
{% set _kb_save_55 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_d4dbf0-36",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_48 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/UEF-musta-logo-engl-pysty-1-150x150.jpg" alt="" width="150" height="150" class="kt-info-box-image wp-image-102"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Östra Finlands universitet (UEF)</h2><p class="kt-blocks-info-box-text">Filosofiska fakulteten, Institutionen för tillämpad utbildningsvetenskap och lärarutbildning</p>
{% endset %}
{% set kadenceBlock = _kb_save_48 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_ba8715-9f",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "sm",
      "",
      "xxs",
      ""
    ]
  }
} %}
{% set _kb_save_54 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_763a95-8f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_50 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_b90b81-aa",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_49 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/5de138bb500d2061af2abe762604f4ec_profile_file-500x500-1.jpg" alt="" width="500" height="500" class="kt-info-box-image wp-image-612"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Henriikka Vartiainen,  </h4><p class="kt-blocks-info-box-text">Universitetsforskare<br/><a href="https://uefconnect.uef.fi/henkilo/henriikka.vartiainen/" target="_blank" rel="noopener" title="">https://uefconnect.uef.fi/henkilo/henriikka.vartiainen/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_49 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_50 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_657a37-d9",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_52 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_d3e714-56",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_51 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/juhokahila.jpeg" alt="" width="500" height="500" class="kt-info-box-image wp-image-618"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Juho Kahila</h4><p class="kt-blocks-info-box-text">projektforskare<br/><a href="https://uefconnect.uef.fi/henkilo/juho.kahila/" target="_blank" rel="noopener" title="">https://uefconnect.uef.fi/henkilo/juho.kahila/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_51 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_52 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_5f847b-64",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_53 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_53 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_54 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_55 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_202898-96",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Östra Finlands universitet (UEF), Fakulteten för naturvetenskap, skogsbruk och teknik, Institutionen för datavetenskap, Forskningsgruppen för undervisnings- och utvecklingsteknik"
  }
} %}
{% set _kb_save_69 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_32ee10-89",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_56 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/UEF-musta-logo-engl-pysty-1-150x150.jpg" alt="" width="150" height="150" class="kt-info-box-image wp-image-102"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Östra Finlands universitet (UEF)</h2><p class="kt-blocks-info-box-text">Fakulteten för naturvetenskap, skogsbruk och teknik, Institutionen för datavetenskap, Forskningsgruppen för utbildnings- och utvecklingsteknik</p>
{% endset %}
{% set kadenceBlock = _kb_save_56 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_215afc-3e",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "sm",
      "",
      "0",
      ""
    ]
  }
} %}
{% set _kb_save_63 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_d322aa-1b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_58 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_a71d08-3d",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_57 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/02/matti_2022.jpg" alt="Hankkeen johtaja professori Matti Tedre" width="1052" height="1200" class="kt-info-box-image wp-image-465"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Matti Tedre</h4><p class="kt-blocks-info-box-text">Professor<br/><a href="https://uefconnect.uef.fi/henkilo/matti.tedre/" target="_blank" rel="noopener" title="">https://uefconnect.uef.fi/henkilo/matti.tedre/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_57 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_58 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_991ed8-3d",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_60 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_f7f754-75",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_59 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/ilkkajormanainen.jpeg" alt="" width="500" height="500" class="kt-info-box-image wp-image-619"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Ilkka Jormanainen</h4><p class="kt-blocks-info-box-text">universitetslärare<br/><a href="https://uefconnect.uef.fi/henkilo/ilkka.jormanainen/" target="_blank" rel="noopener" title="">https://uefconnect.uef.fi/henkilo/ilkka.jormanainen/</a><br/></p>
{% endset %}
{% set kadenceBlock = _kb_save_59 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_60 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_473195-f7",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_62 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_c0f2a7-01",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_aperture",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_61 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/pngegg.png" alt="Placeholder for missing person photo" width="1280" height="971" class="kt-info-box-image wp-image-358"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Nicolas Pope</h4><p class="kt-blocks-info-box-text">Universitetsforskare<br/><a href="https://uefconnect.uef.fi/henkilo/nicolas.pope/">https://uefconnect.uef.fi/henkilo/nicolas.pope/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_61 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_62 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_63 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_5f6d26-a8",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      null,
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_68 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_548f70-24",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_65 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_6d1436-b4",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_64 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/sonsolez.jpeg" alt="" width="500" height="500" class="kt-info-box-image wp-image-620"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Sonsoles Lopez-Pernas</h4><p class="kt-blocks-info-box-text">Senior forskare<br/><a href="https://uefconnect.uef.fi/henkilo/sonsoles.lopez-pernas/" target="_blank" rel="noopener" title="">https://uefconnect.uef.fi/henkilo/sonsoles.lopez-pernas/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_64 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_65 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_5c3c37-d9",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_66 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_66 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_616a3a-0f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_67 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_67 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_68 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_69 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_967e5c-cb",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Östra Finlands universitet (UEF), Fakulteten för samhällsvetenskap och ekonomi, Juridiska institutionen"
  }
} %}
{% set _kb_save_76 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_12838e-c0",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_70 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/UEF-musta-logo-engl-pysty-1-150x150.jpg" alt="" width="150" height="150" class="kt-info-box-image wp-image-102"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Östra Finlands universitet (UEF)</h2><p class="kt-blocks-info-box-text">Fakulteten för samhällsvetenskap och ekonomi, Juridiska institutionen</p>
{% endset %}
{% set kadenceBlock = _kb_save_70 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_09a9cc-71",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      null,
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_75 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_2bb815-e6",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_72 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_c15854-70",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_71 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/elisasilvennoinen.jpeg" alt="" width="500" height="500" class="kt-info-box-image wp-image-622"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Elisa Silvennoinen,  </h4><p class="kt-blocks-info-box-text">universitetslärare<br/><a href="https://uefconnect.uef.fi/en/person/elisa.silvennoinen/" target="_blank" rel="noopener" title="">https://uefconnect.uef.fi/en/person/elisa.silvennoinen/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_71 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_72 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_95d0de-14",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_73 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_73 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_88b142-08",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_74 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_74 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_75 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_76 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_b32340-33",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Uleåborgs universitet, Fakulteten för pedagogik och psykologi"
  }
} %}
{% set _kb_save_85 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_ea94c6-f7",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_77 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none kb-info-box-image-ratio kb-info-box-image-ratio-land43"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/54bd244a-2442-4609-94f5-dedd02500e57-150x150.png" alt="" width="150" height="150" class="kt-info-box-image wp-image-105"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Uleåborgs universitet</h2><p class="kt-blocks-info-box-text">Fakulteten för pedagogik och psykologi</p>
{% endset %}
{% set kadenceBlock = _kb_save_77 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_d9025b-fa",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "sm",
      "",
      0,
      ""
    ]
  }
} %}
{% set _kb_save_84 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_f25755-d4",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_79 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_86a81a-10",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_78 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/katimakitalo-e1693400652586.jpeg" alt="" width="305" height="297" class="kt-info-box-image wp-image-610"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Kati Mäkitalo</h4><p class="kt-blocks-info-box-text">Professor<br/><a href="https://www.linkedin.com/in/kmsiegl06" target="_blank" rel="noopener" title="">https://www.linkedin.com/in/kmsiegl06</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_78 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_79 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_c101fc-6f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_81 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_4a4e8a-0d",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_80 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/jarilaru.jpeg" alt="" width="256" height="197" class="kt-info-box-image wp-image-624"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Jari Laru</h4><p class="kt-blocks-info-box-text">Universitetslektor<br/><a href="https://www.oulu.fi/en/researchers/jari-laru" target="_blank" rel="noopener" title="">https://www.oulu.fi/en/researchers/jari-laru</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_80 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_81 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_462d73-4e",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_83 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_25c6a0-24",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_aperture",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_82 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/08/megumi.jpeg" alt="" width="450" height="450" class="kt-info-box-image wp-image-625"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Megumi Iwata</h4><p class="kt-blocks-info-box-text">Forskare inom avhandlingsområdet<br/><a href="https://www.linkedin.com/in/megumi-iwata/" target="_blank" rel="noopener" title="">https://www.linkedin.com/in/megumi-iwata/</a></p>
{% endset %}
{% set kadenceBlock = _kb_save_82 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_83 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_84 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_85 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_45b101-3e",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Joensuu vetenskapssällskap, Scifest"
  }
} %}
{% set _kb_save_87 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_22d8b8-17",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_86 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none kb-info-box-image-ratio kb-info-box-image-ratio-land43"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/joensuun-tiedeseura_logo-150x150.png" alt="" width="150" height="150" class="kt-info-box-image wp-image-390"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Joensuu Science Association</h2><p class="kt-blocks-info-box-text">#scifestjoensuu #tiedekuuluukaikille</p>
{% endset %}
{% set kadenceBlock = _kb_save_86 %}
{% include "blocks/kadence/infobox.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_87 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_980ab4-0d",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">CodeSchool Finland"
  }
} %}
{% set _kb_save_95 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_a27035-3a",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_88 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none kb-info-box-image-ratio kb-info-box-image-ratio-land43"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/codeschool_logo-150x150.jpeg" alt="" width="150" height="150" class="kt-info-box-image wp-image-388"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Kodskola Finland (Kodskola Finland)</h2><p class="kt-blocks-info-box-text">FÄRDIGA LÖSNINGAR FÖR UNDERVISNING I KREATIV PROGRAMMERING</p>
{% endset %}
{% set kadenceBlock = _kb_save_88 %}
{% include "blocks/kadence/infobox.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "341_db4059-b3",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      null,
      "",
      "",
      ""
    ]
  }
} %}
{% set _kb_save_94 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_2a6063-fd",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set _kb_save_90 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_098d11-52",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_cloudSnow",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_89 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/02/thumbnail_CSF-Sirkku-Tahvanainen-2022-12-1772x2658-1.jpg" alt="" width="853" height="1280" class="kt-info-box-image wp-image-471"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Sirkku Tahvanainen</h4><p class="kt-blocks-info-box-text"><em>Utveckling av utbildningstjänster, partner</em><br/><em>Huvudutbildare, utveckling av utbildningsmaterial, certifieringsprocess</em><br/><em>FM, Tankens filosofi</em><br/></p>
{% endset %}
{% set kadenceBlock = _kb_save_89 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_90 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_8d0076-bf",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set _kb_save_92 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_605b02-4d",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "fe_aperture",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444",
        "hoverColor": "#000",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_91 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-grayscale"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/02/thumbnail_CSF-Jussi-Koivisto-2022-12-1772x2658-1.jpg" alt="" width="853" height="1280" class="kt-info-box-image wp-image-473"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h4 class="kt-blocks-info-box-title">Jussi Koivisto, KM</h4><p class="kt-blocks-info-box-text">Pedagogisk expert, materialproduktion, lärarutbildare, pedagogiska modeller, teknikundervisning, pionjär inom kodningsundervisning i grundskolan</p>
{% endset %}
{% set kadenceBlock = _kb_save_91 %}
{% include "blocks/kadence/infobox.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_92 %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "341_cd6e1d-3b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-3"
  }
} %}
{% set _kb_save_93 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_93 %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_94 %}
{% include "blocks/kadence/rowlayout.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_95 %}
{% include "blocks/kadence/pane.njk" %}

{% set kadenceBlock = {
  "name": "kadence/pane",
  "shortName": "pane",
  "attrs": {
    "uniqueID": "341_f324eb-8d",
    "title": "\u003cspan class=\"kt-blocks-accordion-title\">Vetenskapscentrum Heureka"
  }
} %}
{% set _kb_save_97 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "341_0b4325-85",
    "mediaType": "image",
    "mediaIcon": [
      {
        "icon": "",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": ""
      }
    ]
  }
} %}
{% set _kb_save_96 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kt-blocks-info-box-media kt-info-media-animate-none"><div class="kadence-info-box-image-inner-intrisic-container"><div class="kadence-info-box-image-intrisic kt-info-animate-none kb-info-box-image-ratio kb-info-box-image-ratio-land43"><div class="kadence-info-box-image-inner-intrisic"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/heureka_logo_green-150x150.png" alt="" width="150" height="150" class="kt-info-box-image wp-image-393"/></div></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Vetenskapscentrum Heureka</h2><p class="kt-blocks-info-box-text">Upptäckarglädje!</p>
{% endset %}
{% set kadenceBlock = _kb_save_96 %}
{% include "blocks/kadence/infobox.njk" %}</div>
{% endset %}
{% set kadenceBlock = _kb_save_97 %}
{% include "blocks/kadence/pane.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_98 %}
{% include "blocks/kadence/accordion.njk" %}
