---
title: 'Lägesrapport 2022 – sammanfattning'
date: "2023-01-29T21:05:56"
updated: "2023-09-01T14:42:56"
slug: lagesrapport-2022-sammanfattning
permalink: /sv/lagesrapport-2022-sammanfattning/
status: publish
sourceType: pages
excerpt: 'I projektet byggs en grund på vilken man kan bygga ut utbildning för "AI-generationen": en teknikutbildning som tar hänsyn till AI:s funktionsprinciper, dess möjligheter och dynamiska effekter – utan att glömma dess brister och risker eller hur AI-system kan öka polarisering, diskriminering, osäkerhet och undergräva förtroende. Projektet stöder elevernas förståelse av säkerhet och förtroende för AI- och maskininlärnings(ML)-baserade system. I projektet mäts dess inverkan på elevernas datarörelsefrihet…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
---
<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png" alt="" class="wp-image-113 size-full"/></figure><div class="wp-block-media-text__content">
<h2 class="wp-block-heading">Projekt Generation AI svarar på tre sammanhängande samhälleliga utmaningar: </h2>



<ul>
<li>Försämring av säkerheten, kontrollen och känslan av fri vilja i ett datadriven samhälle</li>



<li>Försämrat förtroende för myndigheter, medier, vetenskap, det civila samhället och medborgare samt </li>



<li>Snabbt växande ojämlikhet relaterad till kontroll och agerande inom den snabbt förändrade informations- och kommunikationsteknik.&nbsp;&nbsp; </li>
</ul>



<p>I projektet utvecklas interventioner i förskole- och skolkontexten för att kunna förbättra barns motståndskraft i en teknologiserad värld, skapa och främja cybersäkerhetstänkande och utrusta lärare med insikter och pedagogik som behövs för att förändra läroplanerna. Dessutom förbättrar projektet forskningen om barnets rättigheter (CRC) inom AI-området.&nbsp;</p>
</div></div>



<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>I projektet byggs en grund på vilken man kan bygga ut utbildning för "AI-generationen": en teknikutbildning som tar hänsyn till AI:s funktionsprinciper, dess möjligheter och dynamiska effekter – utan att glömma dess brister och risker eller hur AI-system kan öka polarisering, diskriminering, osäkerhet och undergräva förtroende. </p>



<p>Projektet stöder elevernas förståelse av säkerhet och förtroende för AI- och maskininlärnings(ML)-baserade system. I projektet mäts dess inverkan på elevernas datarörelsefrihet och deras förmåga att arbeta med komplexa och olinjära processer och göra dem mindre oförutsägbara och polariserande. </p>



<p>Projektet ger eleverna möjlighet att identifiera konsekvenserna av de ofta omedvetna val de gör online. Det illustrerar hur fördomar smyger sig in i system och skapar algoritmisk diskriminering och ojämlikhet. Det gör eleverna känsliga för frågor om styrning, teknologisk determinism och vem som har makten över datanvändning och hur användarnas förtroende kan missbrukas. </p>



<p>Projektet sammanför teknikutvecklare, skolor, myndigheter, företag och ideella organisationer. Det stärker barn och ungdomars förmåga att möta teknikens globala samhälleliga effekter och producerar pedagogiska verktyg för lärare för att möta lärandets transformering. </p>



<p>Att ge barn och ungdomar insikter om teknik, som framtidens samhälle blir allt mer beroende av, är en av 2000-talets viktigaste utmaningar. Inspirerad av denna utmaning producerar "Generation AI"-projektet och skärper vetenskaplig förståelse som gör det möjligt att skapa utbildningslösningar som motsvarar kompetensbehovet för AI-generationen</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2019/11/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-1024x1024.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2019/11/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-1024x1024.png" alt="algroitmeistä koostuva nainen" class="wp-image-93 size-full"/></figure></div>


{% set kadenceBlock = {
  "name": "kadence/infobox",
  "shortName": "infobox",
  "attrs": {
    "uniqueID": "420_aa27dd-ff",
    "mediaIcon": [
      {
        "icon": "fas_file-word",
        "size": 50,
        "width": 2,
        "title": "",
        "color": "#444444",
        "hoverColor": "#444444",
        "hoverAnimation": "none",
        "flipIcon": "",
        "tabletSize": "",
        "mobileSize": ""
      }
    ]
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<div class="kadence-info-box-icon-container kt-info-icon-animate-none"><div class="kadence-info-box-icon-inner-container"><span data-name="fas_file-word" data-class="kt-info-svg-icon"></span></div></div></div></div><div class="kt-infobox-textcontent"><h2 class="kt-blocks-info-box-title">Generation AI lägesrapport 2022</h2><p class="kt-blocks-info-box-text"></p><div class="kt-blocks-info-box-learnmore-wrap"><span class="kt-blocks-info-box-learnmore">Ladda ner den fullständiga lägesrapporten</span>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/infobox.njk" %}