---
title: 'Nyhetsbrevets dataskyddsinformation'
date: "2023-08-28T09:20:07"
updated: "2023-08-28T10:00:53"
slug: nyhetsbrevets-dataskyddsinformation
permalink: /sv/nyhetsbrevets-dataskyddsinformation/
status: publish
sourceType: pages
excerpt: 'Nyhetsbrevets dataskyddsinformation Generation AI projektets nyhetsbrev Generation AI publicerar ett elektroniskt nyhetsbrev som kan prenumereras via projektets webbplatser. Brevet skickas via e-post till prenumeranterna (opt-in). Personuppgifter används endast för att skicka nyhetsbrevet. Från nyhetsbrevets prenumeranter lagras endast e-postadress, namn och organisation. Av dessa uppgifter är endast e-postadressen obligatorisk att lämna. Ytterligare information som den registrerade tillhandahållit kan också behandlas, om det är nödvändigt för att anpassa nyhetsbrevet, till exempel enligt…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "572_c37073-38",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "572_2cb44f-b0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "572_78198d-ba",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "572_675b55-22",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "572_f5362c-7d",
    "align": "center",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "xxl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Nyhetsbrevets dataskyddsinformation
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h3 class="wp-block-heading">Generation AI projektets nyhetsbrev</h3>



<p>Generation AI publicerar ett elektroniskt nyhetsbrev som kan prenumereras via projektets webbplatser. Brevet skickas via e-post till prenumeranterna (opt-in). Personuppgifter används endast för att skicka nyhetsbrevet.</p>



<p>Från nyhetsbrevets prenumeranter lagras endast e-postadress, namn och organisation. Av dessa uppgifter är endast e-postadressen obligatorisk att lämna. Ytterligare information som den registrerade tillhandahållit kan också behandlas, om det är nödvändigt för att anpassa nyhetsbrevet, till exempel enligt organisationens verksamhetsområde. Personuppgifter lagras så länge som det är nödvändigt för att skicka nyhetsbrevet (tills prenumerationen annulleras eller nyhetsbrevstjänsten upphör).</p>



<p>Nyhetsbrevets prenumeranter har möjlighet att annullera sin prenumeration eller ändra prenumerationsinställningarna med varje nyhetsbrevsmottagning. Prenumerationen kan även annulleras via <strong>Generation AI projektets webbplatser</strong>. Personuppgifter för de som har annullerat sin nyhetsbrevsprenumeration raderas omedelbar.</p>



<p>Tjänsten samlar in och lagrar information om öppningar eller klick i nyhetsbrev för rapporteringsbehov som krävs av Generation AI projektets finansiär. Prenumeranter utsätts endast för den övervakning, spårning eller övervakning som krävs för projektets rapportering i samband med prenumeration eller mottagning av nyhetsbrev.</p>



<h4 class="wp-block-heading">Grund för vår behandling</h4>



<p>Vi behandlar personuppgifter för nyhetsbrevet på basis av registerförarens berättigade intresse.</p>



<h4 class="wp-block-heading">Vidarebefordring och överföring av personuppgifter</h4>



<p>Personuppgiftsansvarig är den arbetsgrupp vid Uleåborgs universitets fakultet för pedagogik och psykologi som ansvarar för interaktion inom Generation AI projektet. </p>



<p>Nyhetsbrevet är en del av Generation AI projektets webbplatser, som är värd på Zoner, ett finländskt företags webbserver på WordPress-plattformen. Nyhetsbrevet baseras på WordPress-tillägget Newsletter. Tillägget är helt GDPR-kompatibelt.</p>



<p>Data vidarebefordras inte för direktmarknadsföring och åsikts- eller marknadsundersökning, såvida det inte är särskilt föreskrivet att vidarebefordra för detta ändamål.</p>



<p>Behandlingen av personuppgifter utförs inom EU/ETA-området. Personuppgifter kommer inte att överföras till tredje länder eller internationella organisationer.</p>



<h4 class="wp-block-heading">Dina dataskyddsrättigheter relaterade till behandling av personuppgifter</h4>



<p>I det här avsnittet informerar vi dig om dina dataskyddsrättigheter relaterade till Generation AI projektets elektroniska nyhetsbrev.</p>



<h5 class="wp-block-heading">Rätten att få information om behandling av personuppgifter</h5>



<ul>
<li>du har rätt att få veta för vilka ändamål och på vilka sätt vi behandlar dina personuppgifter</li>



<li>genom denna beskrivning av vår dataskyddspolicy strävar vi efter att ge en omfattande bild av behandlingen av personuppgifter i vår verksamhet. Om någon del av den behandling av personuppgifter som vi genomför förblir oklar, har vi inte lyckas med vår ambition. I det här fallet kan du ställa förtydligande frågor genom att skicka dina frågor till Generation AI projektets interaktionsteam via e-post (se kontaktuppgifter nedan)</li>
</ul>



<h5 class="wp-block-heading">Rätten till åtkomst till information</h5>



<ul>
<li>du har rätt att få veta om vi behandlar personuppgifter som rör dig. Om vi gör det, har du rätt att få en kopia av denna information, såvida vi inte har laglig grund att vägra att tillgodose rättigheten</li>
</ul>



<h5 class="wp-block-heading">Rätten att rätta information</h5>



<ul>
<li>om personuppgifterna som rör dig som vi behandlar är felaktiga, kan du be oss att rätta informationen</li>



<li>om vi rättar informationen på basis av din begäran, är vi skyldiga att i möjligaste mån informera alla dem som informationen tidigare har vidarebefordrats till om rättningen</li>
</ul>



<h5 class="wp-block-heading">Rätten att begränsa behandlingen av data</h5>



<ul>
<li>om du anser att de personuppgifter som rör dig som vi behandlar är felaktiga, behandlas på ett sätt som strider mot lagen eller om du motsätter dig behandlingen av dina uppgifter, kan du be oss att begränsa behandlingen av dina uppgifter</li>



<li>vi kan sedan endast behandla dina uppgifter med ditt samtycke
<ul>
<li>om vi behöver informationen för att upprättas, presentera eller försvara ett rättskrav</li>



<li>på grund av allmänt intresse, eller</li>



<li>för att skydda rättigheterna för någon annan person</li>
</ul>
</li>



<li>om vi begränsar behandlingen av data på basis av din begäran, är vi skyldiga att i möjligaste mån informera alla dem som uppgifterna tidigare har vidarebefordrats till om begränsningen</li>
</ul>



<h4 class="wp-block-heading">Underrättelseplikt vid radering eller rättelse av personuppgifter</h4>



<p>Generation AI projektet måste underrätta alla mottagare om alla ändringar av personuppgifter eller begränsningar av behandlingen.</p>



<h4 class="wp-block-heading">Rätten att motsätta sig behandling av personuppgifter<br></h4>



<p>Du har, om du önskar, rätt att motsätta dig behandlingen av dina personuppgifter som vi genomför. Du kan göra detta när som helst på basis av din personliga speciella situation. </p>



<p>Vi får då inte längre behandla dina personuppgifter, förutom om det finns en särskilt viktig och motiverad anledning till behandlingen som åsidosätter dina intressen, rättigheter och friheter, eller om behandlingen är nödvändig för att upprättas, presentera eller försvara ett rättskrav.</p>



<h4 class="wp-block-heading">Kontaktuppgifter för att utöva dina rättigheter</h4>



<p>Du kan lämna en begäran om dina dataskyddsrättigheter till Generation AI projektets interaktionsansvarig via e-post (info@generation-ai-stn.fi)</p>