---
title: 'Shield program'
date: "2023-01-23T16:12:41"
updated: "2023-01-29T21:52:39"
slug: shield-program
permalink: /sv/shield-program/
status: publish
sourceType: pages
excerpt: 'Strategiska forskningsrådets Shield-program Generation AI är ett projekt finansierat av Strategiska forskningsrådet (STN) i samband med Finlands Akademi. Generation AI är ett av projekten inom programmet Säkerhet och förtroende i algoritmeernas tidsålder (Shield). Shield-programmet fokuserar på säkerhet och förtroende i världen av informationsteknologier och hybridpåverkan. Vid sidan om traditionella säkerhetshot formar både hot och möjligheter skapade av digitalisering och teknologisk utveckling samt olika kriser från förlusten av biologisk mångfald till klimatförändring,…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
---
<p></p>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_badee4-09",
    "columns": 1,
    "colLayout": "equal"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_55ac41-2a"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_4c92e2-49",
    "colLayout": "left-golden",
    "bgColor": "#eeeeee",
    "bottomSep": "mtns"
  }
} %}
{% set kadenceInnerHtml %}
<svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M500,2l500,78l0,20l-1000,0l0,-20l500,-78Z" style="opacity:0.4"></path><path d="M500,2l500,98l-1000,0l500,-98Z"></path></svg></div><div class="kt-row-column-wrap kt-has-2-columns kt-gutter-default kt-v-gutter-default kt-row-valign-middle kt-row-layout-left-golden kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row kt-custom-first-width-65 kt-custom-second-width-35">{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_1f67a8-fe"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_faf7c3-39",
    "level": 4,
    "color": "#707981",
    "fontWeight": "900"
  }
} %}
{% set kadenceInnerHtml %}
Strategiska forskningsrådet
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_0df9e1-bc",
    "color": "#313131",
    "fontWeight": "800"
  }
} %}
{% set kadenceInnerHtml %}
Shield program
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p><strong>Generation AI</strong> är ett projekt finansierat av Strategiska forskningsrådet (STN) i samband med Finlands Akademi. Generation AI är ett av projekten inom programmet <a rel="noreferrer noopener" href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield" data-type="URL" data-id="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield" target="_blank">Säkerhet och förtroende i algoritmeernas tidsålder (Shield)</a>. </p>



<p><a rel="noreferrer noopener" href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield" data-type="URL" data-id="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield" target="_blank">Shield-programmet</a> fokuserar på säkerhet och förtroende i världen av informationsteknologier och hybridpåverkan. Vid sidan om traditionella säkerhetshot formar både hot och möjligheter skapade av digitalisering och teknologisk utveckling samt olika kriser från förlusten av biologisk mångfald till klimatförändring, finanskriser och geopolitiska konflikter verksamhetsmiljön på oförutsägbara sätt.&nbsp;</p>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "_7527fe-2e",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
Läs mer
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_514ad4-65"
  }
} %}
{% set kadenceInnerHtml %}
<figure class="wp-block-image size-full"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/72a0207c-4463-469d-803c-10c9a2abb3db-w_960_h_960.jpg" alt="" class="wp-image-15"/></figure>
{% endset %}
{% include "blocks/kadence/column.njk" %}</div><div class="kt-row-layout-bottom-sep kt-row-sep-type-mtns"><svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M1000,50l-182.69,-45.286l-292.031,61.197l-190.875,-41.075l-143.748,28.794l-190.656,-23.63l0,70l1000,0l0,-50Z" style="opacity:0.4"></path><path d="M1000,57l-152.781,-22.589l-214.383,19.81l-159.318,-21.471l-177.44,25.875l-192.722,5.627l-103.356,-27.275l0,63.023l1000,0l0,-43Z"></path></svg>
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_54cf98-4d",
    "fontWeight": "inherit"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Det finns totalt fyra projekt
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_5fa85a-4e",
    "colLayout": "equal",
    "bottomSep": "threelevels"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M1000,50l-182.69,-45.286l-292.031,61.197l-190.875,-41.075l-143.748,28.794l-190.656,-23.63l0,70l1000,0l0,-50Z" style="opacity:0.4"></path><path d="M1000,57l-152.781,-22.589l-214.383,19.81l-159.318,-21.471l-177.44,25.875l-192.722,5.627l-103.356,-27.275l0,63.023l1000,0l0,-43Z"></path></svg></div><div class="kt-row-column-wrap kt-has-2-columns kt-gutter-wider kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row">{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_b06cf2-ef"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_ebc64e-dd",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "#ffffff"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_d0e361-35"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_af68ff-2c",
    "level": 3,
    "align": "center",
    "fontWeight": "600"
  }
} %}
{% set kadenceInnerHtml %}
<a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/trust-m/">Utformning av tillförlitliga och icke-diskriminerande digitala offentliga tjänster för invandrade (Trust-M)</a>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Konsortiets ledare:&nbsp;<strong>Nitin Sawhney</strong>, Aalto-universitetet<br>Interaktionssamordnare:&nbsp;<strong>Suvi Sankari</strong>, Aalto-universitetet</p>



<p>Konsortiets sammansättning: Aalto-universitetet, Tammerfors universitet, Helsingfors universitet, Esbo stad</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_660ab8-13"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_ce8b38-48",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "#ffffff",
    "bottomSep": "cti"
  }
} %}
{% set kadenceInnerHtml %}
<svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M1000,0l-500,98l-500,-98l0,100l1000,0l0,-100Z"></path></svg></div><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-default kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row">{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_2aba12-98"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_a37704-b5",
    "level": 3,
    "align": "center",
    "fontWeight": "600"
  }
} %}
{% set kadenceInnerHtml %}
<a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/repair/"><strong>Algoritmiska systems fel och nya början (REPAIR)</strong></a>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Konsortiets ledare:&nbsp;<strong>Minna Ruckenstein</strong>, Helsingfors universitet<br>Interaktionssamordnare:&nbsp;<strong>Johannes Mikkonen</strong>, Demos Helsingfors</p>



<p>Konsortiets sammansättning: Helsingfors universitet, LUT-universitetet, Tammerfors universitet, Demos Helsingfors</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}</div><div class="kt-row-layout-bottom-sep kt-row-sep-type-cti"><svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M500,2l500,98l-1000,0l500,-98Z"></path></svg>
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}</div><div class="kt-row-layout-bottom-sep kt-row-sep-type-threelevels"><svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path style="opacity:0.33" d="M0 95L1000 0v100H0v-5z"></path><path style="opacity:0.66" d="M0 95l1000-67.944V100H0v-5z"></path><path d="M0 95l1000-40.887V100H0v-5z"></path></svg>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/spacer.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_de90ae-23",
    "colLayout": "equal",
    "bottomSep": "mtns"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
<svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M1000,50l-182.69,-45.286l-292.031,61.197l-190.875,-41.075l-143.748,28.794l-190.656,-23.63l0,70l1000,0l0,-50Z" style="opacity:0.4"></path><path d="M1000,57l-152.781,-22.589l-214.383,19.81l-159.318,-21.471l-177.44,25.875l-192.722,5.627l-103.356,-27.275l0,63.023l1000,0l0,-43Z"></path></svg></div><div class="kt-row-column-wrap kt-has-2-columns kt-gutter-wider kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row">{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_c09eaf-d1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_a9b9c0-37",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "#ffffff"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_e9e25b-95"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_0dff39-ac",
    "level": 3,
    "align": "center",
    "fontWeight": "600"
  }
} %}
{% set kadenceInnerHtml %}
<a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/trust-m/">Generation AI (det här projektet)</a>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Konsortiets ledare:&nbsp;<strong>Matti Tedre</strong>, Östra Finlands universitet<br>Interaktionssamordnare:&nbsp;<strong>Kati Mäkitalo</strong>, Uleåborgs universitet</p>



<p>Konsortiets sammansättning: Östra Finlands universitet, Uleåborgs universitet, Helsingfors universitet, Finlands Kodskola, Joensuu vetenskapssällskap, Heureka</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_6b0192-a3"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "_f9a871-23",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "#ffffff"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "_3eb599-eb"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_6c907f-b4",
    "level": 3,
    "align": "center",
    "fontWeight": "600"
  }
} %}
{% set kadenceInnerHtml %}
<a href="https://www.aka.fi/strateginen-tutkimus/strateginen-tutkimus/strateginen-tutkimus-pahkinankuoressa/ohjelmat-ja-hankkeet/shield/deca/"><strong>Demokratins epistemiska funktionsförmåga i algoritmeernas tidsålder (DECA)</strong></a>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Konsortiets ledare:&nbsp;<strong>Mervi Pantti</strong>, Helsingfors universitet<br>Interaktionssamordnare:&nbsp;<strong>Minna Horowitz</strong>, Helsingfors universitet</p>



<p>Konsortiets sammansättning: Helsingfors universitet, Aalto-universitetet, Tammerfors universitet, Östra Finlands universitet, Ungdomsforskningssällskapet</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}</div><div class="kt-row-layout-bottom-sep kt-row-sep-type-mtns"><svg style="fill:#ffffff" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M1000,50l-182.69,-45.286l-292.031,61.197l-190.875,-41.075l-143.748,28.794l-190.656,-23.63l0,70l1000,0l0,-50Z" style="opacity:0.4"></path><path d="M1000,57l-152.781,-22.589l-214.383,19.81l-159.318,-21.471l-177.44,25.875l-192.722,5.627l-103.356,-27.275l0,63.023l1000,0l0,-43Z"></path></svg>
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/rowlayout.njk" %}


<p></p>