---
title: 'Startsida'
date: "2023-01-28T22:19:54"
updated: "2023-01-28T23:28:49"
slug: startsida
permalink: /sv/startsida/
status: publish
sourceType: pages
sourceId: 254
sourceUrl: "https://www.generation-ai-stn.fi/etusivu/"
excerpt: 'Projektets forskare i andra medier'
categories: []
tags: []
author: admin
featuredImage: "https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00.png"
layout: layouts/page.njk
kadenceBlocks:
  - posts
  - advancedheading
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/posts",
  "shortName": "posts",
  "attrs": {
    "uniqueID": "_871ca2-8b",
    "columns": 1
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/posts.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "_0b841c-9e"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Projektets forskare i andra medier
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/posts",
  "shortName": "posts",
  "attrs": {
    "uniqueID": "_2926d9-c6"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/posts.njk" %}