---
title: 'Tillgänglighetsredogörelse'
date: "2023-08-28T14:02:52"
updated: "2023-08-28T14:09:08"
slug: tillganglighetsredogorelse
permalink: /sv/tillganglighetsredogorelse/
status: publish
pageHero: true
sourceType: pages
excerpt: 'Tillgänglighetsredogörelse Allmänt Detta är Generation AI-projektets tillgänglighetsredogörelse. generation-ai-stn-webbplatsen omfattas av lagen om tillhandahållandet av digitala tjänster, som kräver att offentliga webbtjänster är tillgängliga. Denna tillgänglighetsredogörelse gäller webbplatsen www.gen-ai-stn.fi och utfördes den 28.08.2023. Tillgängligheten för denna digitala tjänst har utvärderats av ett program från tredje part, Axe devtools, som anses vara en av de bästa mjukvarorna för utvärdering av tillgänglighet. Status för tillgängligheten för den digitala tjänsten Tjänsten har testats automatiserat och...'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "591_790e74-2b",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "center",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "591_be01e1-36",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "591_c2c078-fb",
    "level": 1,
    "align": "center",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Tillgänglighetsredogörelse
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading">Allmänt</h2>



<p>Detta är Generation AI-projektets tillgänglighetsredogörelse. generation-ai-stn-webbplatsen omfattas av lagen om tillhandahållandet av digitala tjänster, som kräver att offentliga webbtjänster är tillgängliga. Denna tillgänglighetsredogörelse gäller webbplatsen www.gen-ai-stn.fi och utfördes den 28.08.2023. Tillgängligheten för denna digitala tjänst har utvärderats av ett program från tredje part, Axe devtools, som anses vara en av de bästa mjukvarorna för utvärdering av tillgänglighet.</p>



<h2 class="wp-block-heading">Status för tillgängligheten för den digitala tjänsten</h2>



<p>Tjänsten har testats automatiserat och uppfyller alla WCAG 2.1 AA-tillgänglighetskrav i denna del. </p>



<h2 class="wp-block-heading">Tillgänglighetsåterkoppling</h2>



<p>Skicka ett e-postmeddelande till info@generation-ai-stn.fi</p>



<h2 class="wp-block-heading">Tillsynsmyndighet</h2>



<p>Om du märker tillgänglighetsproblem på webbplatsen, ge först feedback till oss, det vill säga webbplatsens administratör. Det kan ta upp till 14 dagar att svara. Om du inte är nöjd med svaret du får eller om du inte får något svar inom två veckor, <a href="https://www.saavutettavuusvaatimukset.fi/oikeutesi/" target="_blank" rel="noreferrer noopener">kan du lämna en anmälan till Regionförvaltningsverket i södra Finland Öppnas i ett nytt fönster</a>. På Regionförvaltningsverkets webbplats i södra Finland beskrivs det i detalj hur du kan lämna en anmälan och hur ärendet behandlas.</p>



<p><strong>KONTAKTUPPGIFTER FÖR TILLSYNSMYNDIGHETEN</strong></p>



<p>Regionförvaltningsverket i södra Finland<br>Enhet för övervakning av tillgänglighet<br>www.saavutettavuusvaatimukset.fi<br>saavutettavuus(at)avi.fi<br>telefonnummer växel 0295 016 000</p>