---
title: 'Välkommen till Generation AI-projektets webbplats!'
date: "2021-03-20T14:59:17"
updated: "2026-01-24T08:57:30"
slug: valkommen-till-generation-ai-projektets-webbplats
permalink: /sv/valkommen-till-generation-ai-projektets-webbplats/
status: publish
sourceType: pages
excerpt: 'Applikationer och lärnmaterial finns här: Generation AI-projektet svarar på tre sammanhängande samhälleliga utmaningar Vi bygger en grund för AI-generationen I projektet byggs en grund på vilken "AI-generationens" teknikutbildning kan byggas: teknikutbildning som tar hänsyn till artificiell intelligens funktionsprinciper, de möjligheter den erbjuder och dynamiska effekter – utan att glömma dess brister och risker eller hur AI-system kan öka polarisering, diskriminering, osäkerhet och undergräva…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_f4d29e-02",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "sm",
      "",
      "xxl",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_2bd064-b3",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<h2 class="wp-block-heading has-text-align-center has-large-font-size">Applikationer och lärnmaterial finns här:</h2>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "306_63b70e-94"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "306_505b3a-85",
    "text": "Generation AI lärnmaterial",
    "link": "https://www.generation-ai-stn.fi/materiaalit"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_f8ea77-b4",
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "xs",
      "",
      "xl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_e5d05b-ea",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_7dc5e0-43",
    "align": "left",
    "color": "var(--global-palette1)",
    "fontSize": [
      "xl",
      "",
      "lg"
    ]
  }
} %}
{% set kadenceInnerHtml %}
Generation AI-projektet svarar på tre sammanhängande samhälleliga utmaningar
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_208a66-25",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/iconlist",
  "shortName": "iconlist",
  "attrs": {
    "uniqueID": "306_1dd953-c0"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "306_40ca17-41",
    "icon": "fe_check"
  }
} %}
{% set kadenceInnerHtml %}
Försämring av säkerhet, kontroll och känslan av fri vilja i ett datadrivet samhälle
{% endset %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "306_99ffd5-be",
    "icon": "fe_check"
  }
} %}
{% set kadenceInnerHtml %}
Försvagning av förtroendet för myndigheter, massmedia, vetenskap, civilsamhälle och medborgare, samt
{% endset %}
{% include "blocks/kadence/listitem.njk" %}

{% set kadenceBlock = {
  "name": "kadence/listitem",
  "shortName": "listitem",
  "attrs": {
    "uniqueID": "306_219811-32",
    "icon": "fe_check"
  }
} %}
{% set kadenceInnerHtml %}
Snabbt växande ojämlikhet relaterad till kontroll och handlingskraft kring den ständigt förändrade informations- och kommunikationsteknik.&nbsp;&nbsp;
{% endset %}
{% include "blocks/kadence/listitem.njk" %}
{% endset %}
{% include "blocks/kadence/iconlist.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_c5126e-a6",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_64e8bc-b9",
    "padding": [
      "",
      "lg",
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_0ebdf6-a5",
    "color": "var(--global-palette9)",
    "fontSize": [
      "xl",
      "",
      "xl"
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vi bygger en grund för AI-generationen
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_5efc96-1b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_70ca46-26",
    "color": "var(--global-palette9)"
  }
} %}
{% set kadenceInnerHtml %}
I projektet byggs en grund på vilken "AI-generationens" teknikutbildning kan byggas: teknikutbildning som tar hänsyn till artificiell intelligens funktionsprinciper, de möjligheter den erbjuder och dynamiska effekter – utan att glömma dess brister och risker eller hur AI-system kan öka polarisering, diskriminering, osäkerhet och undergräva förtroendet.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "306_f40128-32",
    "collection": "ajankohtaista",
    "postsToShow": 6,
    "postLayout": "carousel",
    "title": "Aktuellt"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/postgrid.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_4062ef-db",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_85201c-14",
    "padding": [
      "",
      "lg",
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_017137-08",
    "color": "var(--global-palette9)",
    "fontSize": [
      "xl",
      "",
      "xl"
    ]
  }
} %}
{% set kadenceInnerHtml %}
Vi utvecklar tillsammans verktyg och material
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_a80ef0-43",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_9c1b76-19",
    "color": "var(--global-palette9)"
  }
} %}
{% set kadenceInnerHtml %}
Projektet samlar teknologiutvecklare, skolor, myndigheter, företag och ideella organisationer. Det stärker barns och ungdomars förmåga att möta teknikens globala samhälleliga effekter och producerar pedagogiska verktyg för lärare för lärandets omvälvning.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "306_1556f9-03",
    "collection": "hankkeen-toiminta",
    "postsToShow": 6,
    "postLayout": "carousel",
    "title": "Projektets verksamhet"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/postgrid.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "306_7a3eaf-ef",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xl",
      "",
      "xl",
      ""
    ],
    "bottomSep": "mtns",
    "bottomSepColor": "var(--global-palette7)",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_551849-fd",
    "padding": [
      "",
      "lg",
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "306_701457-b6",
    "color": "var(--global-palette9)",
    "fontSize": [
      "xl",
      "",
      "xl"
    ]
  }
} %}
{% set kadenceInnerHtml %}
Projektet producerar och skärper vetenskaplig förståelse
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "306_ddd7e9-98",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-theme-palette-9-color has-text-color">Att ge barn och ungdomar insikt om teknologi, som framtidens samhälle är allt mer beroende av, är en av 2000-talets mest betydande utmaningar. Inspirerad av denna utmaning producerar och skärper "Generation AI"-projektet vetenskaplig förståelse som möjliggör utbildningslösningar som motsvarar AI-generationens kompetensbehov.</p>



<p><a href="/?page_id=420"></a></p>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "306_203f89-64",
    "collection": "tutkimus",
    "postsToShow": 6,
    "postLayout": "carousel",
    "title": "Forskning"
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/postgrid.njk" %}