---
title: 'Verksamhet'
date: "2023-09-14T14:43:00"
updated: "2025-02-12T22:08:23"
slug: verksamhet
permalink: /sv/verksamhet/
status: publish
sourceType: pages
excerpt: 'Projektet producerar och fördjupar vetenskaplig förståelse som möjliggör utbildningslösningar som motsvarar AI-generationens kompetensbehov. I Generation AI-projektet byggs en grund som AI-generationens teknikundervisning kan byggas på: teknikundervisning som tar hänsyn till artificiell intelligens funktionsprinciper, dess möjligheter och dynamiska effekter – utan att glömma dess brister och risker eller hur AI-system kan öka motsättningar, diskriminering, otrygghet och undergräva förtroende. Projektet stöder inlärares…'
categories: []
tags: []
author: admin
layout: layouts/page.njk
lang: sv
---
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "647_5029fd-ba",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_e7e6fa-ad",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2",
    "verticalAlignment": "top"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_4f5fdf-3d",
    "color": "var(--global-palette4)",
    "fontSize": [
      "sm",
      "",
      ""
    ],
    "textTransform": "uppercase",
    "fontWeight": "400"
  }
} %}
{% set kadenceInnerHtml %}
Projektet producerar och fördjupar vetenskaplig förståelse som möjliggör utbildningslösningar som motsvarar AI-generationens kompetensbehov
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_cd8f3c-f6",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xxl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Generation AI
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>I Generation AI-projektet byggs en grund som AI-generationens teknikundervisning kan byggas på: teknikundervisning som tar hänsyn till artificiell intelligens funktionsprinciper, dess möjligheter och dynamiska effekter – utan att glömma dess brister och risker eller hur AI-system kan öka motsättningar, diskriminering, otrygghet och undergräva förtroende. Projektet stöder inlärares förståelse för säkerhet och förtroende för artificiell intelligens (AI) och maskininlärning (ML)-baserade system.&nbsp;</p>
<cite>Utdrag från projektets situationsbeskrivningsrapport. Läs mer: <a href="https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/" title="Situationsbeskrivning 2022 – sammanfattning">Situationsbeskrivning 2022 – sammanfattning</a></cite></blockquote>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_2aa858-05",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_013ef0-ec",
    "text": "Ladda ned projektets situationsbeskrivningsrapport härifrån",
    "link": "https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Välj ett av tre alternativ:</h2>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "647_e309f6-a6",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "xxs",
      "",
      "3xl",
      ""
    ],
    "align": "full"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_931c84-d0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_528143-2d",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Jag är lärare eller en annan person som är intresserad av undervisning och lärande
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_7c28ba-66",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Utforska de kostnadsfria applikationer, material och metoder som utvecklats i projektet och som är speciellt utformade för användning av förskole- och grundskoleprofessionella.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_564242-04",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_ada0dc-47",
    "text": "Läs mer",
    "link": "https://www.generation-ai-stn.fi/opettajalle/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_6f3b11-dc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_2fec08-fc",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Jag är forskare eller en annan person som är passionerad för vetenskap
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_bd9206-55",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Bekanta dig med den högkvalitativ och internationell forskning som bedrivs i projektet. Applikationer, lärmaterial och metoder är baserade på denna forskning.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_ca0840-65",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_faba52-06",
    "text": "Läs mer",
    "link": "https://www.generation-ai-stn.fi/generation-ai-hankkeessa-tehtava-tutkimus/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_e3f39a-ac",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_00bc74-2b",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Jag är bara en medborgare intresserad av artificiell intelligens
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_f593b2-44",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
I vårt projekt arbetar flera internationellt kända experter på artificiell intelligens. Här hittar du intervjuer gjorda av media och annat liknande innehåll.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_fb5396-e2",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_f1e98b-b6",
    "text": "Läs mer",
    "link": "https://www.generation-ai-stn.fi/medialle/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}