---
title: "Tekoälyn roolin kasvaessa yhteiskunnassa, lasten ja nuorten osaamista tulee kehittää jo esi- ja perusopetuksessa"
date: "2023-01-19T20:15:29"
updated: "2023-01-28T21:07:32"
slug: tekoalyn-roolin-kasvaessa-yhteiskunnassa-lasten-ja-nuorten-osaamista-tulee-kehittaa-jo-esi-ja-perusopetuksessa
permalink: /gen-ai-tekoalykuulumiset-uutiskirje/tekoalyn-roolin-kasvaessa-yhteiskunnassa-lasten-ja-nuorten-osaamista-tulee-kehittaa-jo-esi-ja-perusopetuksessa/
status: publish
sourceType: posts
sourceId: 18
sourceUrl: "https://www.generation-ai-stn.fi/gen-ai-tekoalykuulumiset-uutiskirje/tekoalyn-roolin-kasvaessa-yhteiskunnassa-lasten-ja-nuorten-osaamista-tulee-kehittaa-jo-esi-ja-perusopetuksessa/"
excerpt: "Tekoälyyn pohjautuvat teknologiat ovat nopeasti yleistyneet yhteiskunnan eri osa-alueilla.  Monet niistä keräävät ihmisistä valtavia määriä tietoa, jonka pohjalta erilaiset toimijat profiloivat ja mallintavat kansalaisia, mikä mahdollistaa ihmisten käyttäytymisen ennustamisen ja ihmisten toimintaan vaikuttamisen.  Tämä tiedonkeruu ulottuu myös lapsiin, mutta vaikka vanhempien ja kasvattajien odotetaan olevan avainasemassa lasten yksityisyyden suojan ja turvallisuuden turvaamisessa ja tukemisessa verkossa,…"
categories:
  - Ajankohtaista
  - Generation AI kuukausittaiset tekoälykuulumiset (uutiskirje)
tags:
  - uutiskirje
author: admin
featuredImage: "https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face.png"
layout: layouts/post.njk
kadenceBlocks:
  - spacer
---

<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-300x300.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Bits_and_numbers_algorithms_formulas_70581e7b-4fac-4b58-a448-5bc2b5793475-300x300.png" alt="" class="wp-image-214 size-medium"/></figure><div class="wp-block-media-text__content">
<p>Tekoälyyn pohjautuvat teknologiat ovat nopeasti yleistyneet yhteiskunnan eri osa-alueilla.&nbsp; Monet niistä keräävät ihmisistä valtavia määriä tietoa, jonka pohjalta erilaiset toimijat profiloivat ja mallintavat kansalaisia, mikä mahdollistaa ihmisten käyttäytymisen ennustamisen ja ihmisten toimintaan vaikuttamisen.&nbsp; </p>



<p>Tämä tiedonkeruu ulottuu myös lapsiin, mutta vaikka vanhempien ja kasvattajien odotetaan olevan avainasemassa lasten yksityisyyden suojan ja turvallisuuden turvaamisessa ja tukemisessa verkossa, aikuisilla itselläänkin on vaikeuksia ymmärtää nykypäivän datatalouden prosesseja. </p>



<p>Aikuisten mahdollisuuksissa tukea lapsia yksityisyyden suojaan ja turvallisuuteen liittyvissä kysymyksissä on huomattavia eroja, joka lisää eriarvoisuutta ja tekee toisista lapsista haavoittuvampia kuin toisista. Nämä toimet ovat osa oikeudellisten ja poliittisten säännösten, kuten yleisen tietosuoja-asetuksen, maailmaa. Teini-ikäisten, vanhempien ja kasvattajien oletetaan pystyvän ja haluavan tehdä tähän tietoon perustuvia päätöksiä heidän käyttäessään erilaisia digitaalisia palveluita sekä monimutkaisia verkkotietojen hyödyntämiseen liittyviä suostumusmekanismeja.</p>
</div></div>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">Tekoälyn rooli yhteiskunnassa on kasvanut, mutta opettajien osaamisessa ja käytön säätelyssä koulumaailmassa on puutteita</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>Vaikka peruskouluissa on voimassa olevan opetussuunnitelman mukaisesti opetettu ohjelmointia kaikilla vuosiluokilla vuodesta 2016 lähtien, nämä perinteiset tietojenkäsittelyn opetussisällöt vastaavat huonosti datafikoituneen yhteiskunnan haasteisiin.&nbsp; Saatavilla olevissa tekoälyn opettamiseen tarkoitetuissa työkaluissa (esim. Machine learning for kids) selkeitä puutteita ovat esimerkiksi suomen kielen tuen puuttuminen ja epäselvyys niiden keräämän datan käytöstä. Myös opettajien valmiudet käsitellä tekoälyyn liittyviä aihepiirejä osana opetusta vaatii panostuksia ja uusia menetelmiä.</p>



<p></p>



<p>Jokaisen lapsen ja nuoren on voitava turvallisesti käyttää tekoälyä hyödyntäviä sovelluksia ja palveluita. Siksi onkin tärkeätä kehittää opetusvälineitä, oppimiskokonaisuuksia sekä pedagogisia menetelmiä kyberturvallisuuden, yksityisyyden suojan ja tekoälyn opettamiseksi niin esi- ja perusopetuksessa kuin opettajankoulutuksessa. Yhtälailla on tärkeätä kehittää opettajankoulusta ja erilaisia täydennyskoulutusmahdollisuuksia, jotta opettajat ja kasvattajat osaavat toimia yhteiskunnassa, jossa tekoälyn ja koneoppimisen rooli kasvaa merkittävästi.</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00-1024x683.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00-1024x683.png" alt="" class="wp-image-223 size-large"/></figure></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/spacer.njk" %}


<p></p>



<h4 class="alignwide">Hankkeessa kehitetään opetusvälineitä, oppimiskokonaisuuksia ja menetelmiä esi- ja perusopetukseen</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46-1024x1024.png);background-position:59% 21%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2020/08/Frozen_tired_android_in_blizzard_full_body_slim_s_2ac03fe9-2a0f-4123-91d9-107183b00b46-1024x1024.png" alt="" class="wp-image-97 size-large"/></figure><div class="wp-block-media-text__content">
<p>Hankkeessa suunnitellaan ja toteutetaan esi- ja perusopetuksen oppilaille soveltuvia tekoälyn ja koneoppimisen hyödyntämiseen perustuvia sisältöjä, materiaaleja ja menetelmiä yhdessä lasten ja nuorten sekä opettajaopiskelijoiden kanssa. Hankkeessa myös tarjotaan perus- ja täydennyskoulutusta opettajille tästä uudesta ilmiöstä.</p>



<p></p>



<p>Tavoitteena on saada oppilaat, opettajat ja opettajaksi opiskelevat ymmärtämään tekoälyyn/koneoppimiseen liittyviä turvallisuuskysymyksiä sekä teknologioita ja malleja kokeilujen ja keksimisen avulla. Parannamme hankkeen puitteissa teknologiakasvatuksen laatua sekä esi- ja perusopetuksessa että opettajankoulutuksessa pitkällä aikavälillä saattamalla opettajaopiskelijat tekemään tiivistä yhteistyötä koulujen kanssa.&nbsp;</p>



<p></p>



<p>Tämä toteutetaan käytännössä järjestämällä useita tekoälyyn liittyviä yhteissuunnitteluprojekteja, jotka osallistavat sekä opettajiksi opiskelevia että esi- ja perusopetuksen opettajia ja oppilaita. Näissä oppimiskokonaisuuksissa ja käytännön harjoituksissa keskitytään kyberturvallisuuden perusteisiin ja sen yhtymäkohtiin tekoälyn ja koneoppimisen kanssa.&nbsp;</p>



<p></p>



<p>Käytännössä käsittelemme oppilaiden kanssa tekoälyn peruskäsitteitä ja -taitoja sekä sen eettisiä ja yhteiskunnallisia vaikutuksia jokapäiväisessä elämässämme.&nbsp; Oppilaat määrittelevät kyberturvallisuuteen liittyviä, henkilökohtaisesti merkityksellisiä haasteita ja&nbsp; innovoivat niihin ratkaisuja tutkijoiden avustuksella. Samalla he kehittävät ja syventävät tekoälyyn ja koneoppimiseen liittyvää ymmärrystään.</p>



<p></p>



<p>Hankkeessa suunnitellaan helppokäyttöisiä digitaalisia oppimisympäristöjä ja -materiaaleja, joiden voidaan tukea kouluopetuksen lisäksi lasten ja heidän perheidensä vapaa-ajalla tapahtuvaa itseopiskelua. Kehitystyössä keskitytään erityisesti tekoälyn ja kyberturvallisuuden väliseen vuorovaikutukseen sekä arvioidaan kehitettyjen opetusvälineiden käytettävyyttä ja soveltuvuutta kyberturvallisuuteen sekä disinformaation, ennakkoluulojen ja stereotypioiden torjuntaan.&nbsp;</p>



<p></p>



<p>Digitaalisten oppimisympäristöjen- ja materiaalien avulla kerätään myös aineistoa käyttäjien mieltymyksistä ja oppimistuloksista. Jotta saavutetaan mahdollisimman laaja vaikuttavuus, oppimiskokonaisuudet ja opetustyökalut suunnitellaan skaalautuviksi ja helposti käyttöön otettaviksi.</p>
</div></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">Hanke tuottaa suosituksia lasten oikeuksien toteutumiselle tekoälyyn perustuvissa järjestelmissä</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide has-media-on-the-right is-stacked-on-mobile is-image-fill"><div class="wp-block-media-text__content">
<p>Lasten näkökulmasta verkkoympäristö aiheuttaa myös dilemman, joka koskee heidän yksityisyytensä ja turvallisuutensa suojelemista suhteessa heidän mahdollisuuksiinsa osallisuuteen, ilmaisunvapauteen, itsensä tutkimiseen, tiedonhakuun ja kansalaisoikeuksiin, kuten Yhdistyneiden Kansakuntien yleissopimuksessa lapsen oikeuksista määrätään.&nbsp;</p>



<p></p>



<p>Hanke lisää lasten oikeuksia koskevaa oikeustieteellistä tutkimusta tekoälyn alalla. Hanke analysoi tietoviranomaisen oikeudellisia vaatimuksia ja yksilöi tekoälyn riskejä lasten oikeuksille suojelun ja osallistumisen näkökulmasta. Oikeudellista kehystä verrataan oppijoiden asenteisiin ja käsityksiin heidän dataan ja algoritmiseen manipulointiin liittyvistä oikeuksistaan.&nbsp; </p>



<p></p>



<p>Hankkeessa tutkitaan oikeudellisia käsitteitä, jotka koskevat lasten suostumusta ja päätöksentekokykyä tekoälypohjaisissa järjestelmissä. Siinä analysoidaan lasten suostumuksen lainsäädännöllisiä ikärajoja ja nuorempien lasten huoltajien vastuuta suostumuksen antamisesta ja siirtämisestä kouluille. </p>



<p></p>



<p>Hankkeessa tarkastellaan kriittisesti lasten suostumusta koskevia oikeudellisia normeja, erityisesti tietosuoja-asetukseen liittyen. Siinä tarkastellaan myös päätöksenteon edellytyksiä tekoälyyn perustuvissa opetus- ja oppimistyökaluissa kuten sitä, millaista tekoälyä koulut voivat opetuksessa soveltaa lapsen suostumuksella, vanhempien luvalla ja koulun opetusmandaatilla.</p>
</div><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png);background-position:50% 50%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/Robot_dog_walking_in_forest_hyper_realistic__14d49c57-a6a7-448d-bc99-40cc5932137c-1024x585.png" alt="" class="wp-image-113 size-full"/></figure></div>



<p></p>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/spacer.njk" %}


<h4 class="alignwide">Hankkeessa osallistetaan lukuisia eri sidosryhmiä ja levitetään tietoa tekoälystä ja koneoppimisesta</h4>


{% set kadenceBlock = {
  "name": "kadence/spacer",
  "shortName": "spacer",
  "attrs": {}
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/spacer.njk" %}


<div class="wp-block-media-text alignwide is-stacked-on-mobile is-image-fill"><figure class="wp-block-media-text__media" style="background-image:url(https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face-1024x1024.png);background-position:71% 34%"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/01/ASCII_art_face-1024x1024.png" alt="" class="wp-image-88 size-large"/></figure><div class="wp-block-media-text__content">
<p>Hanke tuottaa suosituksia hallitukselle, huoltajille, opettajankouluttajille ja kasvattajille (esim. kouluille) siitä, miten ne voivat täyttää tekoälyä ja lasten oikeuksia koskevat velvoitteensa (liittyen esim. erityisiin tekoälyn läpinäkyvyyttä koskeviin vaatimuksiin, lasten tiedonhallintaan ja lasten verkossa profilointiin liittyviin ongelmiin).</p>



<p></p>



<p>Suomalaisen koulujärjestelmän kannalta keskeistä on se, että hankkeen ansiosta voidaan kouluissa opettaa tekoälyn ja koneoppimisen ilmiöitä lasten ja nuorten ikätason kannalta soveltuvalla tavalla.&nbsp;</p>



<p></p>



<p>Hankkeessa kehitettävät materiaalit ja sovellukset kehittävät sekä datatoimijuutta, luottamusta ja turvallisuutta kaikkien osapuolten osalta että perustuvat osallistaviin ja itsereflektiota tukeviin menetelmiin. Kehitettävät pedagogiset mallit ja koneoppimiseen pohjautuvat teknologiat mahdollistavat tekoäly/koneoppimisen aihepiirien integroimisen koulutukseen. Poliittisten päättäjien päätöksenteon tueksi hanke tuottaa alakohtaisia strategioita ja keinoja, joiden avulla vahvistetaan toimijuutta ja osallisuutta tekoälyn aikakaudella.&nbsp;</p>



<p></p>



<p>Pitkällä aikavälillä keskeistä on myös se, että hankkeessa osallistetaan suomalainen opettajankoulutus. Hankkeessa luodaan materiaaleja, kurssitoteutuksia ja muita demonstraatioita sekä näyttelyitä, joiden avulla mahdollistetaan tekoäly- ja koneoppimisaiheiden integroiminen osaksi opettajankoulutusta. Hankkeessa pilotoidaan näitä aihepiirejä kolmessa yliopistossa, jotka ovat Helsingin, Itä-Suomen ja Oulun yliopistot.</p>



<p></p>



<p>Valmistuvia nuoria opettajia kannustetaan jakamaan opettajankoulutuksessa oppimiaan tekoälyä- ja koneoppimista koskevia materiaaleja ja kokemuksia tulevilla työpaikoillaan kollegoille ja oppilaille. Hankkeen alumniverkosto tarjoaa opettajille uutiskirjeen, uutta ja ajankohtaista tietoa turvallisuuskysymyksistä sekä täydennyskoulutusta.</p>



<p></p>



<p>Tulevia opettajia kannustetaan jakamaan oppimaansa ja tätä aihetta koskevaa materiaalia työpaikoillaan oppilaiden ja kollegoiden keskuudessa. Alumniverkosto tarjoaa opettajille uutiskirjeen, uutta ja ajankohtaista tietoa turvallisuuskysymyksistä sekä täydennyskoulutusta.</p>



<p>Hankkeen vaikuttavuus varmistetaan uuden tekoälyä- ja koneoppimista koskevan MOOC kurssin ja avointen oppimateriaalien sekä sosiaalisen median sisältöjen avulla. </p>



<p></p>



<p>Hankkeessa ovat mukana myös tiedekeskus Heureka, Joensuun Scifest ja CodeSchool Finland, jotka osaltaan levittävät hankkeessa syntynyttä osaamista omille sidosryhmilleen.</p>



<p></p>



<p>Näiden ohella, lasten tekoälyä ja koneoppimista koskevia ideoita, yhdessä suunniteltuja sovelluksia ja näkemyksiä, voidaan jakaa eri alustoilla, jos lapset antavat siihen luvan. Näin menetellen kasvattajat, poliittiset päättäjät ja suuri yleisö kuulevat paremmin heidän äänensä, ideansa ja näkökulmansa.&nbsp;&nbsp;</p>



<p></p>



<p>Näiden eri toimenpiteiden, sosiaalisen median näkyvyyden, perinteisen median sekä muiden aktiviteettien (mm. tapahtumat) avulla tavoittelemmme yli 10.000 hengen näkyvyyttä vuodessa.</p>
</div></div>



<p></p>



<p></p>



<p></p>



<p><a>Strategisen tutkimuksen ohjelmien hankkeet saavat rahoitusta </a><a href="https://www.aka.fi/strateginen-tutkimus/">strategisen tutkimuksen neuvostolta (STN)</a>, joka toimii Suomen Akatemian yhteydessä</p>
