---
title: "Julkaisu: Datafikoituva peruskoulu – tasapainoilua lapsen henkilötietojen suojan ja opetuksen tavoitteiden välillä"
date: "2024-10-03T07:54:00"
updated: "2025-02-03T07:59:43"
slug: julkaisu-datafikoituva-peruskoulu-tasapainoilua-lapsen-henkilotietojen-suojan-ja-opetuksen-tavoitteiden-valilla
permalink: /tutkimus/julkaisu-datafikoituva-peruskoulu-tasapainoilua-lapsen-henkilotietojen-suojan-ja-opetuksen-tavoitteiden-valilla/
status: publish
sourceType: posts
excerpt: "Dataa kerätään lähes kaikkialla, ja myös kouluista on tullut datatehtaita.Datalukutaidon, henkilötietojen suojaan liittyvien taitojen ja digiturvataitojen merkitys kasvaa jatkuvasti, ja niistä on tulossa yhteiskunnalliseen toimintaan osallistumisen edellytys. Datafikaatio-käsite kuvaa yksilön elämän osa-alueiden muuntamista digitaaliseksi dataksi, jota käytetään esimerkiksi kuvailuun, ennus-tamiseen tai päätöksentekoon. Lapsen oikeuksien toteutumisen näkökulmasta datafikaatio luo jännitteitä lapsen eri oikeuksien välillä – lapsen…"
categories:
  - Julkaisu
  - Tutkimus
tags:
  - data
  - datafikaatio
  - digipedagogiikka
  - elisa silvennoinen
  - lasten digitaaliset oikeudet
  - Matti Tedre
  - tekoäly
  - tietosuoja
author: admin
layout: layouts/post.njk
---

<blockquote class="wp-block-quote">
<p>Dataa kerätään lähes kaikkialla, ja myös kouluista on tullut datatehtaita.Datalukutaidon, henkilötietojen suojaan liittyvien taitojen ja digiturvataitojen merkitys kasvaa jatkuvasti, ja niistä on tulossa yhteiskunnalliseen toimintaan osallistumisen edellytys. Datafikaatio-käsite kuvaa yksilön elämän osa-alueiden muuntamista digitaaliseksi dataksi, jota käytetään esimerkiksi kuvailuun, ennus-tamiseen tai päätöksentekoon. Lapsen oikeuksien toteutumisen näkökulmasta datafikaatio luo jännitteitä lapsen eri oikeuksien välillä – lapsen henkilötietoja on suojattava, mutta lasten tulee myös saada yhdenvertaisesti osallistua digita-lisoituneeseen yhteiskuntaan.</p>
</blockquote>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3181_ae5a45-4c"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<br>Silvennoinen, E., Tedre, M., &amp; Valtonen, T. (2024). Datafikoituva peruskoulu – tasapainoilua lapsen henkilötietojen suojan ja opetuksen tavoitteiden välillä. <em>Lakimies</em>, <em>122</em>(5), 655–678. Noudettu osoitteesta https://journal.fi/lakimies/article/view/143755<br>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3181_ea9e4c-1b"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}
