---
title: "Generation AI on mukana ITK2024 tapahtumassa! Webinaari 2.4.2024"
date: "2024-01-01T08:10:00"
updated: "2025-01-25T08:12:08"
slug: generation-ai-on-mukana-itk2024-tapahtumassa-webinaari-2-4-2024
permalink: /ajankohtaista/generation-ai-on-mukana-itk2024-tapahtumassa-webinaari-2-4-2024/
status: publish
sourceType: posts
excerpt: "Interaktiivinen tekniikka koulutuksessa 2024 lähestyy! Varma merkki ITK:n ja kevään tulosta ovat myös ITK webinaarit. Generation AI hanke piipahtaa 2.4.2024 webinaarissa teemalla ”miten opetan tekoälyä oppilaille? Generation AI hanke esittelee tutkimusperustaisen ratkaisun” https://itk-konferenssi.fi/event/itk-webinaari-2-4-2024-222/register Samalla teemalla edetään myös varsinaisessa ITK tapahtumassa, jossa Generation AI teemainen toiminta alkaa keskiviikon workshop päivästä jatkuen avajaispuheenvuoron kautta perjantain Areena-esitykseen."
mainCategory: "Ajankohtaista"
extraCategories:
  - "GenAI hankkeen henkilöstö tapahtumissa"
tags: []
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3115_370dc5-1e"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Interaktiivinen tekniikka koulutuksessa 2024 lähestyy!<br><br>Varma merkki ITK:n ja kevään tulosta ovat myös ITK webinaarit. Generation AI hanke piipahtaa 2.4.2024 webinaarissa teemalla "miten opetan tekoälyä oppilaille? Generation AI hanke esittelee tutkimusperustaisen ratkaisun" https://itk-konferenssi.fi/event/itk-webinaari-2-4-2024-222/register<br><br>Samalla teemalla edetään myös varsinaisessa ITK tapahtumassa, jossa Generation AI teemainen toiminta alkaa keskiviikon workshop päivästä jatkuen avajaispuheenvuoron kautta perjantain Areena-esitykseen.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
