---
title: WAIE Monthly AI Expert Webinar Series
date: "2024-04-25T08:23:00"
updated: "2025-02-13T11:15:31"
slug: waie-monthly-ai-expert-webinar-series
permalink: /ajankohtaista/waie-monthly-ai-expert-webinar-series/
status: publish
sourceType: posts
excerpt: Prof. Teemu Roos oli haastateltavana Women In AI Ethics webinaarissa 25.4.2024. Katso video alta.
categories:
  - Ajankohtaista
  - GenAI hankkeen henkilöstö mediassa
  - Webinaari
tags:
  - artificial intelligence
  - ehtics of ai
  - english
  - teemu roos
  - tekoäly
  - tekoälyn etiikka
  - webinaari
  - webinar
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3140_74b68d-7d"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos oli haastateltavana Women In AI Ethics webinaarissa 25.4.2024. Katso video alta.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}


<figure class="wp-block-image size-full"><a href="https://www.youtube.com/watch?v=Ijc9geAyRoc"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2024/04/teemur.png" alt="Youtube video (screenshot) with link" class="wp-image-3984"/></a></figure>
