---
title: "Itä-Savo: Kerimäen koulussa tekoälyä käytetään jo osana opetusta – ”Tavoitteena oma ajattelu ja sisällön ymmärtäminen”"
date: "2024-05-15T07:50:00"
updated: "2025-01-26T07:52:57"
slug: ita-savo-kerimaen-koulussa-tekoalya-kaytetaan-jo-osana-opetusta-tavoitteena-oma-ajattelu-ja-sisallon-ymmartaminen
permalink: /ajankohtaista/ita-savo-kerimaen-koulussa-tekoalya-kaytetaan-jo-osana-opetusta-tavoitteena-oma-ajattelu-ja-sisallon-ymmartaminen/
status: publish
sourceType: posts
excerpt: "Peruskoululaiset saivat tekoälyoppimisen tueksi Opetettava kone -sovelluksen ja oppimateriaaleja. Kurkkaan seiskaluokkalaisen Jesse Vainikan tietokoneen ruudulle ja tekoäly tunnistaa minut Tarja Haloseksi. Vierellä Aarne Vanhatalo ja Hertta Rautiainen hymähtävät, sillä näin käy useammalle, joka testaa nuorten koodaamaa tekoälypohjaista kuvantunnistusohjelmaa. Lue koko artikkeli Itä-Savo lehdestä: https://www.ita-savo.fi/paikalliset/6767481"
categories:
  - Ajankohtaista
  - GenAI hankkeen henkilöstö mediassa
tags: []
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3127_e9c2d5-d4"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Peruskoululaiset saivat tekoälyoppimisen tueksi Opetettava kone -sovelluksen ja oppimateriaaleja.<br></strong>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3127_ece0bb-a6"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Kurkkaan seiskaluokkalaisen <strong>Jesse Vainikan</strong> tietokoneen ruudulle ja tekoäly tunnistaa minut <strong>Tarja Haloseksi</strong>. Vierellä <strong>Aarne Vanhatalo</strong> ja <strong>Hertta Rautiainen</strong> hymähtävät, sillä näin käy useammalle, joka testaa nuorten koodaamaa tekoälypohjaista kuvantunnistusohjelmaa.<br><br>Lue koko artikkeli Itä-Savo lehdestä: <a href="https://www.ita-savo.fi/paikalliset/6767481">https://www.ita-savo.fi/paikalliset/6767481</a>
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3127_e8042d-62"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<br>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}
