---
title: 'YLE AREENA: Uusi työkalu paljastaa miten some toimii'
date: '2024-02-23T08:02:00'
updated: '2025-01-26T08:03:56'
slug: yle-areena-uusi-tyokalu-paljastaa-miten-some-toimii
permalink: /ajankohtaista/yle-areena-uusi-tyokalu-paljastaa-miten-some-toimii/
status: publish
sourceType: posts
excerpt: >-
  Yle haastatteli hankkeemme johtajaa prof. Matti Tedreä 23.2.2024.Kuuntele
  tallenne täältä: Sosiaalisesta mediasta on tullut vahva vaikuttamisen väline
  ja siksi jokaisen tulisi ymmärtää miten some toimii. Suomalaistutkijat ovat
  kehittäneet työkalun, joka tekee näkyväksi somen toimintaperiaatteita.
  Sovellusta testataan parhaillaan kouluissa. Toimittaja Pauliina Tolvasen
  haastattelussa on Itä-Suomen yliopiston professori Matti Tedre. Lisäksi
  äänessä ovat Uimaharjun koulun oppilaat Ella…
mainCategory: Mediassa
extraCategories:
  - GenAI hankkeen henkilöstö mediassa
tags:
  - kuinka some toimii?
  - Matti Tedre
  - Somekone
  - sosiaalinen media
  - tekoäly
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3132_4289ea-07"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Yle haastatteli hankkeemme johtajaa prof. Matti Tedreä 23.2.2024.<br>Kuuntele tallenne täältä:
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Sosiaalisesta mediasta on tullut vahva vaikuttamisen väline ja siksi jokaisen tulisi ymmärtää miten some toimii. Suomalaistutkijat ovat kehittäneet työkalun, joka tekee näkyväksi somen toimintaperiaatteita. Sovellusta testataan parhaillaan kouluissa. Toimittaja Pauliina Tolvasen haastattelussa on Itä-Suomen yliopiston professori Matti Tedre. Lisäksi äänessä ovat Uimaharjun koulun oppilaat Ella Laukkanen, Hanna Ollikainen ja Lassi Räty.<br></p>
</blockquote>
