---
title: Somekone 2.0 on julkaistu
date: "2025-01-23T21:56:18"
updated: "2025-02-02T22:04:36"
slug: somekone-2-0-on-julkaistu
permalink: /hankkeen-toiminta/somekone-2-0-on-julkaistu/
status: publish
sourceType: posts
excerpt: "Hankkeessamme kehitetystä sosiaalisen median simulaattorista, somekoneesta on julkaistu jo toisen sukupolven versio. Loppukäyttäjälle näkyvimpiä uudistuksia ovat mm. viimeistely suomen kielen tuki ja kehittyneempi verkkoyhteyksien hallinta. Opettajat käyttävät usein koneen opetuskäyttöön suunniteltua ”ydinkäsitteet” versiota, jonne esim. oppimateriaaleissa olevasta linkistä mennään suoraan. Koneella on kuitenkin myös etusivu, josta voi valita muitakin toimintoja. Niistä kerromme myöhemmin lisää. Linkkejä"
categories:
  - Hankkeen toiminta
tags:
  - Somekone
  - somekone 2.0
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_99e0e9-73"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Hankkeessamme kehitetystä sosiaalisen median simulaattorista, somekoneesta on julkaistu jo toisen sukupolven versio.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_0fa3fd-0f"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Loppukäyttäjälle näkyvimpiä uudistuksia ovat mm. viimeistely suomen kielen tuki ja kehittyneempi verkkoyhteyksien hallinta. <br><br>Opettajat käyttävät usein koneen opetuskäyttöön suunniteltua "ydinkäsitteet" versiota, jonne esim. oppimateriaaleissa olevasta linkistä mennään suoraan. Koneella on kuitenkin myös etusivu, josta voi valita muitakin toimintoja.  Niistä kerromme myöhemmin lisää.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_ddb0fd-e0"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Linkkejä</strong>
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}


<ul class="wp-block-list">
<li>Avaa somekone tästä: <a href="https://somekone.generation-ai-stn.fi" target="_blank" rel="noopener" title="">https://somekone.generation-ai-stn.fi</a></li>



<li>Seuraa somekoneen kehitystä Github-palvelussa: <a href="https://github.com/knicos/genai-somekone" target="_blank" rel="noopener" title="">https://github.com/knicos/genai-somekone</a></li>
</ul>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3165_366be6-a8"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}
