---
title: 'YLE AAMU: Tekoälyn kehittyminen on ennakoitua nopeampaa'
date: '2025-01-29T21:09:22'
updated: '2025-01-30T21:14:27'
slug: yle-tekoalyn-kehittyminen-on-ennakoitua-nopeampaa
permalink: /ajankohtaista/yle-tekoalyn-kehittyminen-on-ennakoitua-nopeampaa/
status: publish
sourceType: posts
excerpt: >-
  Prof. Teemu Roos oli YLEn aamussa haastateltavana 29.1.2025. Katso tallenne
  lähetyksestä täältä: https://areena.yle.fi/1-73261994 Kiinalaisyhtiö Deepseek
  on kertaheitolla myllertänyt tekoälymarkkinat ja keskustelun alan
  tulevaisuudesta. Syynä ovat arviot siitä, että viime viikolla julkaistu
  tekoälyohjelma Deepseek yltää toiminnoissaan samalle tasolle kuin sen
  kilpailijat erityisesti Yhdysvalloissa, mutta murto-osalla niiden
  kustannuksista. Mitä tämä merkitsee tekoälyn kehittymiselle? Haastateltavina
  ovat tietojenkäsittelytieteen professori…
mainCategory: Mediassa
extraCategories:
  - GenAI hankkeen henkilöstö mediassa
  - YLE
tags:
  - haastattelu
  - teemu roos
  - tekoäly
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3154_9decb5-46"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos oli YLEn aamussa haastateltavana 29.1.2025. Katso tallenne lähetyksestä täältä: <a href="https://areena.yle.fi/1-73261994" target="_blank" rel="noopener" title="">https://areena.yle.fi/1-73261994</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Kiinalaisyhtiö Deepseek on kertaheitolla myllertänyt tekoälymarkkinat ja keskustelun alan tulevaisuudesta. Syynä ovat arviot siitä, että viime viikolla julkaistu tekoälyohjelma Deepseek yltää toiminnoissaan samalle tasolle kuin sen kilpailijat erityisesti Yhdysvalloissa, mutta murto-osalla niiden kustannuksista. Mitä tämä merkitsee tekoälyn kehittymiselle? Haastateltavina ovat tietojenkäsittelytieteen professori Teemu Roos Helsingin yliopistosta ja johtava asiantuntija Tarmo Toikkanen Sitrasta.</p>
</blockquote>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3154_7b3a78-2d"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}
