---
title: Generation AI EDUCA2025 tapahtumassa
date: "2025-12-24T08:59:00"
updated: "2026-01-24T09:02:23"
slug: generation-ai-educa2025-tapahtumassa
permalink: /ajankohtaista/generation-ai-educa2025-tapahtumassa/
status: publish
sourceType: posts
sourceId: 4120
sourceUrl: "https://www.generation-ai-stn.fi/ajankohtaista/generation-ai-educa2025-tapahtumassa/"
excerpt: "Tervetuloa EDUCA2026 tapahtumaan kokeilemaan uusia sovelluksiamme, erityisesti pientä kielikonetta. Pieni kielikone on maailman ensimmäinen selaimessa (ei tarvitse erillistä palvelinta) toimiva kielimalli, jonka voi kouluttaa omalla aineistolla. Osastollamme pääset kurkistamaan myös uuteen sivustoon (https://www.gen-ai.fi), joka yhdistää sovelluksemme ja opetusmateriaalimme yhdeksi kokonaisuudeksi! Tervetuloa osastolle 6k18 messukeskukseen!"
categories:
  - Ajankohtaista
  - GenAI hankkeen henkilöstö tapahtumissa
tags:
  - Educa
  - messut
  - opettajat
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_0"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tervetuloa EDUCA2026 tapahtumaan kokeilemaan uusia sovelluksiamme, erityisesti pientä kielikonetta.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_1"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Pieni kielikone on maailman ensimmäinen selaimessa (ei tarvitse erillistä palvelinta) toimiva kielimalli, jonka voi kouluttaa omalla aineistolla.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_2"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Osastollamme pääset kurkistamaan myös uuteen sivustoon (https://www.gen-ai.fi), joka yhdistää sovelluksemme ja opetusmateriaalimme yhdeksi kokonaisuudeksi!
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4120_011d1e-11_3"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tervetuloa osastolle 6k18 messukeskukseen!
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}
