---
title: Opetettava kone sai XAI työkalun. Nyt näet reaaliaikaisesti kuinka tekoäly luokittelee kuvan
date: "2025-01-16T22:06:57"
updated: "2025-02-02T22:09:52"
slug: opetettava-kone-sai-xai-tyokalun-nyt-naet-reaaliaikaisesti-kuinka-tekoaly-luokittelee-kuvan
permalink: /hankkeen-toiminta/opetettava-kone-sai-xai-tyokalun-nyt-naet-reaaliaikaisesti-kuinka-tekoaly-luokittelee-kuvan/
status: publish
sourceType: posts
excerpt: "Opetettavan koneen syväoppimiseen perustuva neuroverkkomalli sai selitettävää tekoälyä edustavan lämpökarttanäkymän. Se sekä helpottaa sovelluksen käyttöä näyttämällä havainnollisesti kuinka ja mitä kone tunnistaa, mutta myös avaa käytännössä tekoälyn toimintaa oppilaille."
mainCategory: "Hankkeen toiminta"
tags:
  - lämpökartta
  - opetettava kone
  - selitettävä tekoäly
  - xai
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3167_7e0b6a-eb"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Opetettavan koneen syväoppimiseen perustuva neuroverkkomalli sai selitettävää tekoälyä edustavan lämpökarttanäkymän. Se sekä helpottaa sovelluksen käyttöä näyttämällä havainnollisesti kuinka ja mitä kone tunnistaa, mutta myös avaa käytännössä tekoälyn toimintaa oppilaille.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
