---
title: "YLE UUTISPODCAST: Deepseek sanoo olevansa kilpailijoitaan tehokkaampi – onko väitteissä perää?"
date: "2025-01-30T21:38:59"
updated: "2025-01-30T21:39:07"
slug: yle-uutispodcast-deepseek-sanoo-olevansa-kilpailijoitaan-tehokkaampi-onko-vaitteissa-peraa
permalink: /ajankohtaista/yle-uutispodcast-deepseek-sanoo-olevansa-kilpailijoitaan-tehokkaampi-onko-vaitteissa-peraa/
status: publish
sourceType: posts
excerpt: "Prof. Teemu Roos oli YLEn uutispodcastissa haastateltavana 30.1.2025. Kuuntele keskustelu täältä: https://areena.yle.fi/podcastit/1-72885588 Tekoäly Deepseek on kumonnut uskomukset siitä, että Kiina olisi jäänyt ratkaisevasti jälkeen tekoälykilvassa. Miksi Deepseek toimii tehokkaammin kuin muut tekoälyt ja onko tämä niin suuri harppaus kuin aluksi arvioitiin? Sami Lindforsin vieraana on tietojenkäsittelytieteen professori Teemu Roos Helsingin yliopistosta."
mainCategory: "Ajankohtaista"
extraCategories:
  - "GenAI hankkeen henkilöstö mediassa"
  - "Podcast"
  - "YLE"
tags:
  - teemu roos
  - tekoäly
  - Yle
  - YLE uutispodcast
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3162_3c9ac5-8b"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Prof. Teemu Roos oli YLEn uutispodcastissa haastateltavana 30.1.2025. Kuuntele keskustelu täältä: <a href="https://areena.yle.fi/podcastit/1-72885588" target="_blank" rel="noopener" title="">https://areena.yle.fi/podcastit/1-72885588</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Tekoäly Deepseek on kumonnut uskomukset siitä, että Kiina olisi jäänyt ratkaisevasti jälkeen tekoälykilvassa. Miksi Deepseek toimii tehokkaammin kuin muut tekoälyt ja onko tämä niin suuri harppaus kuin aluksi arvioitiin? Sami Lindforsin vieraana on tietojenkäsittelytieteen professori Teemu Roos Helsingin yliopistosta.</p>
</blockquote>
