---
title: Generation AI hanke mukana EDUCA25 tapahtumassa
date: '2025-01-25T08:05:28'
updated: '2025-01-25T08:05:32'
slug: generation-ai-hanke-mukana-educa25-tapahtumassa
permalink: /ajankohtaista/generation-ai-hanke-mukana-educa25-tapahtumassa/
status: publish
sourceType: posts
excerpt: >-
  Julkaisemme EDUCAssa suomalaisten opettajien ja oppilaiden käyttöön
  somekonetta ja profilointipeliä tukevat oppimateriaalit ja ohjeistukset!
  Julkaisemme myös opetettavan koneen laajennuksen, joka tekee siitä XAI
  (explainable AI) työkalun. Käytännössä laajennus tekee opetettavan koneen
  käytöstä myös erittäin intuitiiivista! OSASTO 6m8Olemme EDUCAssa tavattavissa
  osastollamme 6m8! Tule juttelemaan kanssamme ja tutustumaan materiaaleihin /
  työkaluihin. ILMAINEN TEKOÄLYWORKSHOPTule tutustumaan materiaaleihin ja
  työkaluihin…
mainCategory: Tapahtumat
extraCategories:
  - GenAI hankkeen henkilöstö tapahtumissa
tags: []
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3111_287ae0-9a"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Julkaisemme EDUCAssa suomalaisten opettajien ja oppilaiden käyttöön somekonetta ja profilointipeliä tukevat oppimateriaalit ja ohjeistukset!<br><br>Julkaisemme myös opetettavan koneen laajennuksen, joka tekee siitä XAI (explainable AI) työkalun. Käytännössä laajennus tekee opetettavan koneen käytöstä myös erittäin intuitiiivista!<br><br><strong>OSASTO 6m8<br></strong>Olemme EDUCAssa tavattavissa osastollamme 6m8! Tule juttelemaan kanssamme ja tutustumaan materiaaleihin / työkaluihin.<br><br><strong>ILMAINEN TEKOÄLYWORKSHOP<br></strong>Tule tutustumaan materiaaleihin ja työkaluihin ilmaisessa tekoälyworkshopissa, joka pidetään LA 25.1 10:45-11:45 salissa 103. Ota oma kone tai ainakin kännykkä mukaan! Siellä nimittäin ei tarvitse vain istua katsojana :)
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}
