---
title: "YLE YKKÖSAAMU: haastateltavana prof. Roos"
date: "2025-01-29T21:14:43"
updated: "2025-01-30T21:17:23"
slug: yle-ykkosaamu-haastateltavana-prof-roos
permalink: /ajankohtaista/yle-ykkosaamu-haastateltavana-prof-roos/
status: publish
sourceType: posts
excerpt: "YLEn ykkösaamussa haastateltiin prof. Teemu Roosia 29.1.2025. Löydät ykkösaamun tallenteen täältä: https://areena.yle.fi/podcastit/1-72883304 Kiinalainen Deepseek on iskenyt tällä viikolla tekoälymaailmaan kuin salama kirkkaalta taivaalta. Tekoäly-yhtiö julkisti ongelmanratkaisuun uuden, tunnettuja tekoälyjä tehokkamman mallin, mikä on taas kääntänyt monien amerikkalaisten teknologiajättien osakkeet reippaaseen laskuun. Keskustelemassa tietojenkäsittelytieteen professori Teemu Roos Helsingin yliopistolta sekä johtava asiantuntija Tarmo Toikkainen Sitrasta."
mainCategory: "Ajankohtaista"
extraCategories:
  - "GenAI hankkeen henkilöstö mediassa"
  - "Podcast"
  - "YLE"
tags:
  - deepseek
  - haastattelu
  - podcast
  - teemu roos
  - tekoäly
  - Yle
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "3159_96c0db-09"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
YLEn ykkösaamussa haastateltiin prof. Teemu Roosia 29.1.2025. Löydät ykkösaamun tallenteen täältä: <a href="https://areena.yle.fi/podcastit/1-72883304" target="_blank" rel="noopener" title="">https://areena.yle.fi/podcastit/1-72883304</a>
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Kiinalainen Deepseek on iskenyt tällä viikolla tekoälymaailmaan kuin salama kirkkaalta taivaalta. Tekoäly-yhtiö julkisti ongelmanratkaisuun uuden, tunnettuja tekoälyjä tehokkamman mallin, mikä on taas kääntänyt monien amerikkalaisten teknologiajättien osakkeet reippaaseen laskuun. Keskustelemassa tietojenkäsittelytieteen professori Teemu Roos Helsingin yliopistolta sekä johtava asiantuntija Tarmo Toikkainen Sitrasta.</p>
</blockquote>
