---
title: "Uusi työkalut ja materiaalit integroiva sivusto!"
date: "2026-01-24T09:06:22"
updated: "2026-01-24T09:07:25"
slug: uusi-tyokalut-ja-materiaalit-integroiva-sivusto
permalink: /hankkeen-toiminta/uusi-tyokalut-ja-materiaalit-integroiva-sivusto/
status: publish
sourceType: posts
sourceId: 4122
sourceUrl: "https://www.generation-ai-stn.fi/hankkeen-toiminta/uusi-tyokalut-ja-materiaalit-integroiva-sivusto/"
excerpt: "Uusi työkalut ja materiaalit integroiva sivusto on nyt avattu! Tervetuloa tutustumaan! Myöhemmin sivustolle tulee yhteisö-, palaute- ja jakotyökaluja, mutta jo tällaisenaan uudistus on iso askel. Enää materialit eivät ole projektisivustolla, vaan muodostavat ainutlaatuisten opetuskäyttöön suunniteltujen tekoälytökalujemme kanssa kokonaisuuden. Sivusto löytyy täältä: https://www.gen-ai.fi"
categories:
  - Hankkeen toiminta
  - Sovellukset
tags:
  - opetusmateriaalit
  - oppimateriaalit
  - sovellukset
  - tekoälylukutaito
  - tekoälytaito
author: admin
layout: layouts/post.njk
kadenceBlocks:
  - advancedheading
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_0"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Uusi työkalut ja materiaalit integroiva sivusto on nyt avattu! Tervetuloa tutustumaan!
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_1"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
Myöhemmin sivustolle tulee yhteisö-, palaute- ja jakotyökaluja, mutta jo tällaisenaan uudistus on iso askel.
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_2"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Enää materialit eivät ole projektisivustolla, vaan muodostavat ainutlaatuisten opetuskäyttöön suunniteltujen tekoälytökalujemme kanssa kokonaisuuden.
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_119843-99_3"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
Sivusto löytyy täältä: <a href="https://www.gen-ai.fi" target="_blank" rel="noopener" title="">https://www.gen-ai.fi</a>
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "4122_9f3eb3-db"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/advancedheading.njk" %}
