---
title: "Heurekan tyopaja: Tekoalylajittelija Arduinolla"
date: "2026-03-13T07:40:03+02:00"
updated: "2026-03-13T07:40:03+02:00"
slug: heurekan-tyopaja-tekoalylajittelija-arduinolla
permalink: /hankkeen-toiminta/heurekan-tyopaja-tekoalylajittelija-arduinolla/
status: publish
sourceType: posts
sourceId: heureka-tekoalylajittelija-arduinolla
sourceUrl: "https://www.heureka.fi/blogs/oppimateriaalit/tekoalylajittelija-arduinolla-75-90-min"
excerpt: "Heurekan oppimateriaalit sisaltavat myos Tekoalylajittelija Arduinolla -tyopajan, joka suuntautuu erityisesti ylakouluun ja toiselle asteelle."
categories:
  - Hankkeen toiminta
tags:
  - arduino
  - heureka
  - oppimateriaalit
  - tekoaly
author: admin
layout: layouts/post.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "heureka_arduino_fi_01"
  }
} %}
{% set kadenceInnerHtml %}
Heurekan oppimateriaalikokonaisuuteen kuuluu myos <a href="https://www.heureka.fi/blogs/oppimateriaalit/tekoalylajittelija-arduinolla-75-90-min">Tekoalylajittelija Arduinolla -tyopaja</a>. Sivun metatiedon mukaan kyseessa on <strong>75-90 minuutin</strong> kokonaisuus, joka sopii erityisesti <strong>ylakouluun</strong> ja <strong>toiselle asteelle</strong>.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

<p>Heurekan kuvauksen mukaan tyopajat toimivat ennen nayttelykayntia, sen jalkeen tai itsenaisina oppimiskokonaisuuksina. Tämä tekee siita hyvän esimerkin siitä, miten hankkeen teemat jatkuvat myos tiedekeskusymparistossa ja kaytannon opetuskonteksteissa.</p>

<p>Taman kirjauksen paivays perustuu Heurekan sivun HTML-metadatasta luettavaan julkaisuaikaan <code>2026-03-13T07:40:03+02:00</code>.</p>
