---
permalink: /647-2/
eleventyExcludeFromCollections: true
layout: layouts/redirect.njk
lang: fi
redirectTo: /hankkeen-toiminta/
redirectTitle: Toiminta - siirretty
redirectMessage: Sivu on siirretty.
redirectLinkLabel: Siirry uuteen osoitteeseen
---
