---
permalink: /etusivu/
eleventyExcludeFromCollections: true
layout: layouts/redirect.njk
lang: fi
redirectTo: /
redirectTitle: Etusivu - siirretty
redirectMessage: Sivu on siirretty.
redirectLinkLabel: Siirry etusivulle
---
