---
title: Hankkeen toiminta
date: "2023-09-14T14:43:00"
updated: "2025-02-12T22:08:23"
slug: hankkeen-toiminta
permalink: /hankkeen-toiminta/
status: publish
sourceType: pages
excerpt: "Hanke tuottaa ja terävöittää tieteellistä ymmärrystä, joka mahdollistaa AI- sukupolven osaamistarpeisiin vastaavat koulutusratkaisut Generation AI Hankkeessa rakennetaan perustaa, jonka päälle voidaan rakentaa ”AI-sukupolven” teknologiakasvatusta: teknologiakasvatusta, joka ottaa huomioon tekoälyn toimintaperiaatteet, sen tarjoamat mahdollisuudet ja dynaamiset vaikutukset—unohtamatta sen puutteita ja riskejä tai sitä kuinka tekoälyjärjestelmät voivat kasvattaa vastakkainasettelua, syrjintää, turvattomuutta ja rapauttaa luottamusta. Hanke tukee oppijoiden…"
categories: []
tags: []
author: admin
layout: layouts/page.njk
pageHero: true
heroImage: "/media/wp-content/uploads/2024/01/1.png"
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "647_5029fd-ba",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_e7e6fa-ad",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "",
      "0",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-2",
    "verticalAlignment": "top"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_4f5fdf-3d",
    "color": "var(--global-palette4)",
    "fontSize": [
      "sm",
      "",
      ""
    ],
    "textTransform": "uppercase",
    "fontWeight": "400"
  }
} %}
{% set kadenceInnerHtml %}
Hanke tuottaa ja terävöittää tieteellistä ymmärrystä, joka mahdollistaa AI- sukupolven osaamistarpeisiin vastaavat koulutusratkaisut
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_cd8f3c-f6",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xxl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Generation AI
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Hankkeessa rakennetaan perustaa, jonka päälle voidaan rakentaa ”AI-sukupolven” teknologiakasvatusta: teknologiakasvatusta, joka ottaa huomioon tekoälyn toimintaperiaatteet, sen tarjoamat mahdollisuudet ja dynaamiset vaikutukset—unohtamatta sen puutteita ja riskejä tai sitä kuinka tekoälyjärjestelmät voivat kasvattaa vastakkainasettelua, syrjintää, turvattomuutta ja rapauttaa luottamusta. Hanke tukee oppijoiden ymmärrystä turvallisuudesta ja luottamuksesta tekoäly (AI)- ja koneoppimis(ML)-pohjaisiin järjestelmiin.&nbsp;</p>
<cite>Ote hankkeen tilannekuvaraportista. Lue lisää: <a href="https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/" title="Tilannekuva 2022 – tiivistelmä">Tilannekuva 2022 – tiivistelmä</a></cite></blockquote>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_2aa858-05",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_013ef0-ec",
    "text": "Lataa täältä itsellesi hankkeen tilannekuva -raportti",
    "link": "https://www.generation-ai-stn.fi/tilannekuva-2022-tiivistelma/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Valitse jokin kolmesta vaihtoehdosta:</h2>


{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "647_e309f6-a6",
    "columns": 3,
    "colLayout": "equal",
    "padding": [
      "xxs",
      "",
      "3xl",
      ""
    ],
    "align": "full"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_931c84-d0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_528143-2d",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Olen opettaja tai muu opettamisesta ja oppimisesta kiinnostunut henkilö
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_7c28ba-66",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Tutki hankkeessa kehitettyjä ilmaisia  sovelluksia, materiaaleja ja menetelmiä, jotka on tarkoitettu erityisesti esi- ja perusopetuksen ammattilaisten käyttöön.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_564242-04",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_ada0dc-47",
    "text": "Lue lisää",
    "link": "https://www.generation-ai-stn.fi/opettajalle/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_6f3b11-dc",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_2fec08-fc",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Olen tutkija tai muu tieteestä innostunut ihminen
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_bd9206-55",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Perehdy hankkeessa tehtävään korkealuokkaiseen ja kansainväliseen tutkimukseen. Sovellukset, oppimateriaalit ja menetelmät perustuvat tähän tutkimukseen.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_ca0840-65",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_faba52-06",
    "text": "Lue lisää",
    "link": "https://www.generation-ai-stn.fi/generation-ai-hankkeessa-tehtava-tutkimus/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "647_e3f39a-ac",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_00bc74-2b",
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Olen tekoälystä muuten vain kiinnostunut kansalainen
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "647_f593b2-44",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Hankkeessamme työskentelee useita kansainvälisesti tunnettuja tekoälyä tuntevia huippuasiantuntijoita. Täältä löydät median tekemiä haastatteluita ja muita vastaavia sisältöjä.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "647_fb5396-e2",
    "hAlign": "left"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "647_f1e98b-b6",
    "text": "Lue lisää",
    "link": "https://www.generation-ai-stn.fi/medialle/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}
