---
title: Opettajalle
date: "2023-09-21T14:59:27"
updated: "2025-01-23T13:53:18"
slug: opettajalle
permalink: /opettajalle/
status: publish
sourceType: pages
excerpt: "Kehitämme sovelluksia ja materiaaleja yhdessä opettajien ja oppilaiden kanssa! Hanke järjestää sarjan osallistavia tekoälyyn liittyviä yhteissuunnitteluprojekteja ja käytännön harjoituksia opettajiksi opiskeleville sekä esi- ja perusopetuksen opettajille ja oppilaille. Käytännössä hankkeessa osallistetaan  90 opettajaa ja opettajaopiskelijaa  sekä 360 koululaista esi- ja perusopetuksessa.  Jotta oppijat saadaan mukaan suunnittelemaan ja toteuttamaan omia tekoälyyn ja koneoppimiseen perustuvia ratkaisujaan, käytämme…"
categories: []
tags: []
author: admin
layout: layouts/page.njk
pageHero: true
heroImage: "/media/wp-content/uploads/2022/12/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00.png"
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_bc33e5-d0",
    "colLayout": "equal",
    "padding": [
      "sm",
      "md",
      "sm",
      "sm"
    ],
    "align": "full"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_82c528-e2",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<!-- TODO: kadence/tableofcontents ei tuettu — alkuperäinen sisältö säilytetty -->
<div class="block-fallback block-fallback--tableofcontents" data-original-block="kadence/tableofcontents">

</div>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_52a95e-fd",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/slider",
  "shortName": "slider",
  "attrs": {
    "uniqueID": "1053_b3f09e-0a"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/slide",
  "shortName": "slide",
  "attrs": {
    "uniqueID": "1053_f49103-af"
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-medium-font-size"><strong>Kehitämme uusia esi- ja perusopetukseen soveltuvia tekoälyn opetusvälineiden ja -menetelmien sekä oppimiskokonaisuuksien yhdistelmiä</strong></p>
{% endset %}
{% include "blocks/kadence/slide.njk" %}

{% set kadenceBlock = {
  "name": "kadence/slide",
  "shortName": "slide",
  "attrs": {
    "uniqueID": "1053_550f87-30"
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-medium-font-size"><strong>Kehitämme pedagogisia puitteita tekoäly- ja turvallisuuskasvatukselle</strong></p>
{% endset %}
{% include "blocks/kadence/slide.njk" %}

{% set kadenceBlock = {
  "name": "kadence/slide",
  "shortName": "slide",
  "attrs": {
    "uniqueID": "1053_336241-0a"
  }
} %}
{% set kadenceInnerHtml %}
<p class="has-medium-font-size"><strong>Edistämme lasten oikeuksien toteutumista tekoälyyn perustuvissa järjestelmissä</strong></p>
{% endset %}
{% include "blocks/kadence/slide.njk" %}
{% endset %}
{% include "blocks/kadence/slider.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_752c17-0b",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "#304e58",
    "bottomSep": "mtns",
    "align": "full"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_d2346e-30",
    "margin": [
      "",
      "",
      "lg",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_c4e947-f4",
    "color": "var(--global-palette9)",
    "fontSize": [
      "lg",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Kehitämme sovelluksia ja materiaaleja yhdessä opettajien ja oppilaiden kanssa!
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<div class="wp-block-media-text alignfull is-stacked-on-mobile is-vertically-aligned-center is-image-fill-element" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--60)"><figure class="wp-block-media-text__media"><img src="https://www.generation-ai-stn.fi/wp-content/uploads/2023/10/Isometric_school_classroom_with_learners_and_teacher_cutaw_3b51ff66-cf5d-421b-b727-6bf835df472c-2-1024x1024.png" alt="" class="wp-image-1383 size-full" style="object-position:50% 50%"/></figure><div class="wp-block-media-text__content">
<p class="has-theme-palette-9-color has-text-color">Hanke järjestää sarjan osallistavia tekoälyyn liittyviä yhteissuunnitteluprojekteja ja käytännön harjoituksia opettajiksi opiskeleville sekä esi- ja perusopetuksen opettajille ja oppilaille. Käytännössä hankkeessa osallistetaan&nbsp; 90 opettajaa ja opettajaopiskelijaa&nbsp; sekä 360 koululaista esi- ja perusopetuksessa.&nbsp; </p>



<p class="has-theme-palette-9-color has-text-color">Jotta oppijat saadaan mukaan suunnittelemaan ja toteuttamaan omia tekoälyyn ja koneoppimiseen perustuvia ratkaisujaan, käytämme ikäkaudelle sopivia työkaluja, ja erityisesti hankkeessa kehitettyjä oppimisvälineitä ja -materiaaleja. </p>



<p class="has-theme-palette-9-color has-text-color">Tavoitteena on saada oppijat, opettajat ja opettajaksi opiskelevat ymmärtämään tekoälyyn/koneoppimiseen (AI/ML) liittyviä turvallisuuskysymyksiä sekä teknologioita ja malleja kokeilujen ja keksimisen kautta. </p>
</div></div>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_0cab39-d5",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "bottomSep": "mtns",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_aa7c97-2f",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_87301f-73",
    "level": 3,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "lg",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Kehitämme tekoälyn opetuskäyttöä tukevia sovelluksia
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_f6a55e-ef",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Kehitämme ja tarjoamme käyttöösi helppokäyttöisiä sovelluksia, joissa keskitytään erityisesti tekoälyn ja kyberturvallisuuden väliseen vuorovaikutukseen.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_17e10b-14",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Näiden avulla voidaan tukea kouluopetuksen lisäksi lasten ja perheiden itseopiskelua.&nbsp;
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_fa1b97-21",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Arvioimme kehittämiemme opetusvälineiden käytettävyyttä ja soveltuvuutta kyberturvallisuuteen sekä disinformaation, ennakkoluulojen ja stereotypioiden torjuntaan.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_a3fbe5-7f",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Jotta saavutetamme mahdollisimman laajan vaikuttavuuden suunnittelemme sovellukset<br>skaalautuviksi (toimivat kaikissa laitteissa) ja helposti käyttöön otettaviksi
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_8e9cbc-70",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_177070-01",
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "sm",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_b1c333-87",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_dd5118-70",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
GenAI opetettava kone
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_0e3b5f-b0",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}
<em>Opetettava kone</em>&nbsp;on havainnollinen sovellus, jonka avulla on helppo itse toteuttaa yksinkertainen tekoälysovellus. <br><br>Sen käyttö ei edellytä mitään esitietoja – riittää seurata suoraviivaisia ohjeita. <br><br>Sovellus soveltuu kaikenikäisille ja se on suunniteltu erityisesti lapsia ja nuoria silmälläpitäen.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "1053_1bd3b2-40"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "1053_3bc3cf-40",
    "text": "Siirry oppimateriaalisivulle",
    "link": "https://www.generation-ai-stn.fi/genai-opetettava-kone/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}


<p></p>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_611ae0-6b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_6fc4d1-2a",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Somekone
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_dd4fbf-db",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}
Olemme kehittämässä parhaillaan uutta sovellusta, joka on sosiaalisen median simulaattori.<br><br>Sen ennakkoversio on jo toiminnassa osoitteessa: <a href="https://somekone.generation-ai-stn.fi" target="_blank" rel="noopener" title="">https://somekone.generation-ai-stn.fi </a>
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_120ca0-51",
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_cfc4dc-df",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_dd97a0-95",
    "level": 3,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "lg",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Kehitämme opetus- ja oppimateriaaleja
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_867a09-fa",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Kehitämme ja tarjoamme helppokäyttöisiä opetus- ja oppimateriaaleja, joissa keskitytään erityisesti tekoälyn ja kyberturvallisuuden väliseen vuorovaikutukseen.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_6614cc-c2",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Näiden avulla voidaan tukea kouluopetuksen lisäksi myös lasten ja heidän perheidensä itseopiskelua.&nbsp;
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_3bbe88-99",
    "level": 3,
    "color": "var(--global-palette4)"
  }
} %}
{% set kadenceInnerHtml %}
Jotta saavutetaamme mahdollisimman laajan vaikuttavuuden oppimiskokonaisuudet ja opetustyökalut suunnitellaan skaalautuviksi ja helposti käyttöön otettaviksi.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_0abeef-07",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_e42222-87",
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "sm",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_dce3c7-ba",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_cfb0d7-87",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Opetettavan koneen materiaalit on julkaistu
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Olemme saaneet valmiiksi "otetaan tekoäly haltuun yhdessä" materiaalipaketin. <br><br>Se löytyy alla olevan painikkeen takaa ja osoitteesta: <a href="https://www.generation-ai-stn.fi/materiaalit" target="_blank" rel="noopener" title="">https://www.generation-ai-stn.fi/materiaalit</a><br></p>


{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "1053_8647da-4c"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "1053_3b4748-31",
    "text": "Siirry tarkastelemaan oppimateriaaleja",
    "link": "https://www.generation-ai-stn.fi/materiaalit"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_22089f-11",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_12973a-65",
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "bottomSep": "mtns",
    "align": "full",
    "bgColorClass": "theme-palette8"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_7aa036-95",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_633a52-ff",
    "level": 3,
    "align": "left",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "lg",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Julkaisemme lasten oikeuksia ja aikuisten velvollisuuksia käsitteleviä oppaita ja suosituksia
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Hanke lisää lasten oikeuksia (Convention on the Rights of the Child - CRC) koskevaa tutkimusta tekoälyn alalla. <strong>Teemme opettajille ja huoltajille oppaita ja suosituksia hankkeen aikana.</strong></p>



<p>Tutkimuksessa problematisoidaan oikeusdogmaattisen tutkimuksen avulla tietoviranomaisen oikeudellisia vaatimuksia ja yksilöidään tekoälyn riskejä lasten oikeuksille suojelun ja osallistumisen näkökulmasta. Oikeudellista kehystä verrataan oppijoiden asenteisiin ja käsityksiin heidän dataan ja algoritmiseen manipulointiin liittyvistä oikeuksistaan.&nbsp;</p>



<p> Toisella kolmivuotiskaudella hanke tuottaa suosituksia hallitukselle, huoltajille, opettajankouluttajille ja kasvattajille (esim. kouluille) siitä, miten ne voivat täyttää tekoälyä ja lasten oikeuksia koskevat velvoitteensa (liittyen esim. erityisiin tekoälyn läpinäkyvyyttä koskeviin vaatimuksiin, lasten tiedonhallintaan ja lasten verkossa profilointiin liittyviin ongelmiin).</p>



<p>Hankkeessa tutkitaan oikeudellisia käsitteitä, jotka koskevat lasten suostumusta ja päätöksentekokykyä tekoälypohjaisissa järjestelmissä. Siinä analysoidaan lasten (oikeuksien haltijoiden) suostumuksen lainsäädännöllisiä ikärajoja ja osoitetaan nuorempien lasten huoltajien vastuu suostumuksen antamisesta ja siirtämisestä kouluille. <br><br>Hankkeessa tarkastellaan kriittisesti lasten suostumusta koskevia oikeudellisia normeja, erityisesti tietosuoja-asetukseen liittyen. Siinä tarkastellaan myös päätöksenteon edellytyksiä tekoälyyn perustuvissa opetus- ja oppimistyökaluissa kuten sitä, millaista AI/ML:ää koulut voivat opetuksessa soveltaa lapsen suostumuksella, vanhempien luvalla ja koulun opetusmandaatilla.</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_092b0f-e3",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "1053_da13d0-7e",
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "sm",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_942908-68",
    "padding": [
      "0",
      "xxs",
      "",
      "xxs"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "background": "var(--global-var(--global-palette7))",
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/image",
  "shortName": "image",
  "attrs": {}
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/image.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_1152eb-a9",
    "level": 4,
    "align": "left",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "md",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
OPAS: Henkilötietojen käsittely alakoulussa
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_6e5622-aa",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}
Digitalisoituva perusopetus nostaa myös tietosuojaan liittyvät kysymykset keskeiseen asemaan.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_c07550-af",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}
Hankkeemme oikeustieteen asiantuntijat ovat laatineet asiasta oppaan opettajille ja rehtoreille.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedbtn",
  "shortName": "advancedbtn",
  "attrs": {
    "uniqueID": "1053_a1a4f2-e8"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/singlebtn",
  "shortName": "singlebtn",
  "attrs": {
    "uniqueID": "1053_9cc571-d8",
    "text": "Avaa opas tästä",
    "link": "https://www.generation-ai-stn.fi/henkilotietojen-kasittely-alakoulussa/"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/singlebtn.njk" %}
{% endset %}
{% include "blocks/kadence/advancedbtn.njk" %}


<p></p>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "1053_e4a4d3-ce",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "1053_844f44-be",
    "level": 3,
    "color": "var(--global-var(--global-var(--global-palette4)))"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/rowlayout.njk" %}
