---
title: Saavutettavuusseloste
date: "2023-08-28T14:02:52"
updated: "2023-08-28T14:09:08"
slug: saavutettavuusseloste
permalink: /saavutettavuusseloste/
status: publish
sourceType: pages
excerpt: "Saavutettavuusseloste Yleistä Tämä on Generation AI-hankkeen saavutettavuusseloste. generation-ai-stn-sivustoa koskee laki digitaalisten palvelujen tarjoamisesta, jossa edellytetään, että julkisten verkkopalvelujen on oltava saavutettavia. Tämä saavutettavuusseloste koskee sivustoa www.gen-ai-stn.fi ja on laadittu 28.08.2023. Tämän digipalvelun saavutettavuuden on arvioinut kolmannen osapuolen tekemä ohjelma Axe devtools, jota pidetään yhtenä parhaista saavutettavuuden arviointiohjelmistoista. Digipalvelun saavutettavuuden tila Palvelu on testattu koneellisesti ja…"
categories: []
tags: []
author: admin
layout: layouts/page.njk
pageHero: true
heroImage: "/media/wp-content/uploads/2022/12/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00.png"
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "591_790e74-2b",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "center",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "591_be01e1-36",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "591_c2c078-fb",
    "level": 1,
    "align": "center",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Saavutettavuusseloste
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading">Yleistä</h2>



<p>Tämä on Generation AI-hankkeen saavutettavuusseloste. generation-ai-stn-sivustoa koskee laki digitaalisten palvelujen tarjoamisesta, jossa edellytetään, että julkisten verkkopalvelujen on oltava saavutettavia. Tämä saavutettavuusseloste koskee sivustoa www.gen-ai-stn.fi ja on laadittu 28.08.2023. Tämän digipalvelun saavutettavuuden on arvioinut kolmannen osapuolen tekemä ohjelma Axe devtools, jota pidetään yhtenä parhaista saavutettavuuden arviointiohjelmistoista.</p>



<h2 class="wp-block-heading">Digipalvelun saavutettavuuden tila</h2>



<p>Palvelu on testattu koneellisesti ja siltä osin täyttää kaikki WCAG 2.1. AA saavutettavuusvaatimukset. </p>



<h2 class="wp-block-heading">Saavutettavuuspalaute</h2>



<p>Lähetä sähköpostia osoitteeseen info@generation-ai-stn.fi</p>



<h2 class="wp-block-heading">Valvontaviranomainen</h2>



<p>Jos huomaat sivustolla saavutettavuusongelmia, anna ensin palautetta meille eli sivuston ylläpitäjälle. Vastauksessa voi mennä 14 päivää. Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan kahden viikon aikana, <a href="https://www.saavutettavuusvaatimukset.fi/oikeutesi/" target="_blank" rel="noreferrer noopener">voit tehdä ilmoituksen Etelä-Suomen aluehallintovirastoon Avautuu uuteen ikkunaan</a>. Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten ilmoituksen voi tehdä ja miten asia käsitellään.</p>



<p><strong>VALVONTAVIRANOMAISEN YHTEYSTIEDOT</strong></p>



<p>Etelä-Suomen aluehallintovirasto<br>Saavutettavuuden valvonnan yksikkö<br>www.saavutettavuusvaatimukset.fi<br>saavutettavuus(at)avi.fi<br>puhelinnumero vaihde 0295 016 000</p>
