---
title: "Kuinka saan Somekoneen käyttööni? - siirretty"
permalink: /materiaalit/somekone/somekone-yleista/kuinka-saan-somekoneen-kayttooni/
eleventyExcludeFromCollections: true
layout: layouts/redirect.njk
lang: fi
sourceType: pages
redirectTo: https://www.gen-ai.fi/fi/materials/somekone-unit
redirectTitle: Kuinka saan Somekoneen käyttööni? - siirretty
redirectMessage: Sivu on siirretty uuteen osoitteeseen.
redirectLinkLabel: Siirry uuteen osoitteeseen
---
