---
title: Generation AI hanke mediassa
date: "2023-09-19T10:34:04"
updated: "2025-02-13T10:28:34"
slug: tietoa-tekoalysta-kenelle-tahansa
permalink: /tietoa-tekoalysta-kenelle-tahansa/
status: publish
sourceType: pages
sourceId: 903
sourceUrl: "https://www.generation-ai-stn.fi/tietoa-tekoalysta-kenelle-tahansa/"
excerpt: "Mikä ihmeen tekoäly? Mistä on kyse? Mikä ihmeen tekoäly? Prof. Teemu Roos kertoo Hankkeemme henkilöstö on myös mediasta tuttu. Tältä sivulta löydät paljon haastatteluita ja muita yleistajuisia sisältöjä, jotka auttavat hahmottamaan tätä monimutkaista ilmiötä nimeltä tekoäly! Hankkeessamme työskentelevä prof. Teemu Roos on kunnostautunut popularisoimalla Tekoäly ei ole mitään science fictionia, vaan se on jo läsnä…"
categories: []
tags: []
author: admin
layout: layouts/page.njk
kadenceBlocks:
  - advancedheading
  - column
  - postgrid
  - rowlayout
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "903_1a3a85-1c",
    "colLayout": "row",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "903_8c1ab0-d7",
    "padding": [
      "",
      "",
      "0",
      ""
    ],
    "margin": [
      "",
      "3xl",
      "",
      "3xl"
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "903_842710-05",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": [
      "sm",
      "",
      ""
    ],
    "textTransform": "uppercase"
  }
} %}
{% set kadenceInnerHtml %}
Mikä ihmeen tekoäly? Mistä on kyse?
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "903_9e8f03-64",
    "align": "center",
    "color": "var(--global-palette3)",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Mikä ihmeen tekoäly? Prof. Teemu Roos kertoo
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "903_6bea2a-df",
    "level": 1,
    "color": "var(--global-palette3)"
  }
} %}
{% set kadenceInnerHtml %}
Hankkeemme henkilöstö on myös mediasta tuttu. Tältä sivulta löydät paljon haastatteluita ja muita yleistajuisia sisältöjä, jotka auttavat hahmottamaan tätä monimutkaista ilmiötä nimeltä tekoäly! Hankkeessamme työskentelevä prof. Teemu Roos on kunnostautunut popularisoimalla
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<blockquote class="wp-block-quote">
<p>Tekoäly ei ole mitään science fictionia, vaan se on jo läsnä arjessamme, sanoo Helsingin yliopiston tietojenkäsittelytieteen professoriHän johtaa tekoälyn opetusta Suomen tekoälykeskus FCAI:ssa ja toimii suositun Elements of AI -verkkokurssin vastuuopettajana.</p>
<cite>Prof. Teemu Roos KU lehden haastattelussa 27.8.2023. https://www.ku.fi/artikkeli/4906774-tekoaly-on-jo-taalla-eika-siihen-pida-suhtautua-kuin-luonnonvoimaan-sanoo-tietojenkasittelytieteen-professori-teemu-roos</cite></blockquote>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "903_c58785-0c",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "903_21e87e-eb",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette8)",
    "align": "full",
    "bgColorClass": "theme-var(--global-var(--global-palette8))"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "903_67ded7-b9",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "903_dea95f-af"
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/postgrid.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Medianäkyvyys</h2>


{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "903_fe9036-46"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/postgrid.njk" %}


<h2 class="wp-block-heading has-text-align-center has-larger-font-size">Tapahtumat</h2>


{% set kadenceBlock = {
  "name": "kadence/postgrid",
  "shortName": "postgrid",
  "attrs": {
    "uniqueID": "903_0abea4-69"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/postgrid.njk" %}
