---
title: Tietosuojaseloste – Generation AI hankkeen www-sivut
date: "2025-01-23T11:46:15"
updated: "2026-03-16T00:00:00"
slug: tietosuojaseloste-generation-ai-hankkeen-www-sivut
permalink: /tietosuojaseloste-generation-ai-hankkeen-www-sivut/
status: publish
sourceType: pages
excerpt: "Tietosuojalaki (1050/2018) EU:n yleinen tietosuoja-asetus 2016/679Laadittu 23.1.2024. Päivitetty 13.2.2025. 1. Rekisterinpitäjä Oulun yliopistoPentti Kaiterankatu 1PL 8000, 90014 OULU 2. Yhteyshenkilö rekisteriä koskevissa asioissa Generation AI hankeYhteyshenkilö: Jari LaruOrganisaatio: Oulun yliopisto, Kasvatustieteiden ja psykologian tiedekuntaOsoite: Pentti Kaiterankatu 1 +358-40-5118478 Sähköposti: jari.laru@oulu.fi 3. Rekisterin nimi Generation Ai hankkeen www-sivusto 4. Rekisterin käyttötarkoitus Sivuston toteuttaminen Tietojasi käytetään Generation AI hankkeen…"
categories: []
tags: []
author: admin
layout: layouts/page.njk
---

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_de1a19-c0",
    "className": "has--font-size"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tietosuojalaki (1050/2018)&nbsp;<br>EU:n yleinen tietosuoja-asetus 2016/679<br>Laadittu 23.1.2024. Päivitetty 13.2.2025.
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_2ec27f-70",
    "className": "has--font-size"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
1. Rekisterinpitäjä
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_4f7165-6b"
  }
} %}
{% set _kb_save_2 = kadenceBlock %}
{% set kadenceInnerHtml %}
Oulun yliopisto<br>Pentti Kaiterankatu 1<br>PL 8000, 90014 OULU
{% endset %}
{% set kadenceBlock = _kb_save_2 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_e1a8f2-56",
    "className": "has--font-size"
  }
} %}
{% set _kb_save_3 = kadenceBlock %}
{% set kadenceInnerHtml %}
2. Yhteyshenkilö rekisteriä koskevissa asioissa
{% endset %}
{% set kadenceBlock = _kb_save_3 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_46d311-75"
  }
} %}
{% set _kb_save_4 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Generation AI hanke</strong><br><strong>Yhteyshenkilö: </strong>Jari Laru<br><strong>Organisaatio: </strong>Oulun yliopisto, Kasvatustieteiden ja psykologian tiedekunta<br><strong>Osoite: </strong>Pentti Kaiterankatu 1 +358-40-5118478 <br><strong>Sähköposti</strong>: jari.laru@oulu.fi<br>
{% endset %}
{% set kadenceBlock = _kb_save_4 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_53b646-d3",
    "className": "has--font-size"
  }
} %}
{% set _kb_save_5 = kadenceBlock %}
{% set kadenceInnerHtml %}
3. Rekisterin nimi
{% endset %}
{% set kadenceBlock = _kb_save_5 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_446a5a-9c",
    "className": "has--font-size"
  }
} %}
{% set _kb_save_6 = kadenceBlock %}
{% set kadenceInnerHtml %}
Generation Ai hankkeen www-sivusto
{% endset %}
{% set kadenceBlock = _kb_save_6 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_5c0152-b7",
    "className": "has--font-size"
  }
} %}
{% set _kb_save_7 = kadenceBlock %}
{% set kadenceInnerHtml %}
4. Rekisterin käyttötarkoitus
{% endset %}
{% set kadenceBlock = _kb_save_7 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_0bb5b6-4b"
  }
} %}
{% set _kb_save_8 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Sivuston toteuttaminen</strong>
{% endset %}
{% set kadenceBlock = _kb_save_8 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_62e211-5d"
  }
} %}
{% set _kb_save_9 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tietojasi käytetään Generation AI hankkeen www-sivujen käytännön toteuttamiseen. Keräämme vain välttämättömät tiedot ja pyrimme välttämään ulkopuolisten palveluiden käyttämistä mahdollisimman paljon. Emme esimerkiksi käytä sivustolla ulkopuolista käyttäjäanalytiikkaa tai upotettuja fontteja. Sivusto käyttää seuraavia kolmannen osapuolen palveluita: <strong>MailerLite</strong> (uutiskirjeen hallinta — käytetään vain markkinointievästeiden hyväksymisen jälkeen), <strong>Web3Forms</strong> (yhteystietolomakkeen välitys), <strong>YouTube-nocookie</strong> (videoupotukset — käyttää privacy-enhanced-moodia, ei tallenna evästeitä ilman toistoa) sekä <strong>vanilla-cookieconsent</strong> (evästeilmoitus, tallennetaan paikallisesti selaimeesi). Päivitetty 16.3.2026.
{% endset %}
{% set kadenceBlock = _kb_save_9 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_7984cf-0a"
  }
} %}
{% set _kb_save_10 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Sivuston ja Generation AI materiaalien ja sovellusten kehittäminen</strong>
{% endset %}
{% set kadenceBlock = _kb_save_10 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_13d2ff-de"
  }
} %}
{% set _kb_save_11 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tietojasi käytetään Generation AI hankkeen materiaalien ja sovellusten sekä tämän sivuston kehittämiseen. Henkilötietojasi voidaan käyttää Generation AI hankkeen toimintaan liittyviin kyselyihin. Tutkimusaineiston keruuta tämä tietosuojaseloste ei kata, eikä henkilötietojasi käytetä tutkimustarkoituksiin. <em>Tutkimuksellisesta ainestonkeruusta kerrotaan aina erikseen ja sellaisilla henkilötietojen keruulla on oma tietosuojaselostensa</em>.
{% endset %}
{% set kadenceBlock = _kb_save_11 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_d33cf2-cd"
  }
} %}
{% set _kb_save_12 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Sidosryhmäviestintä ja yhteisötyökalut</strong>
{% endset %}
{% set kadenceBlock = _kb_save_12 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_7db182-be"
  }
} %}
{% set _kb_save_13 = kadenceBlock %}
{% set kadenceInnerHtml %}
Henkilötietojasi voidaan käyttää Generation AI hankkeen tapahtumista, tutkimuksesta, sovelluksista ja materiaaleista tiedottamiseen ja informoimiseen. Kerättyjen henkilötietojesi ansiosta voit myös osallistua myöhemmin avattavaan yhteisöön (foorumi), joka on osa tätä sivustoa.
{% endset %}
{% set kadenceBlock = _kb_save_13 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_ac036e-8d"
  }
} %}
{% set _kb_save_14 = kadenceBlock %}
{% set kadenceInnerHtml %}
<strong>Huom! Hankkeessa kehitetyillä sovelluksilla on omat tietosuojaselosteensa</strong>
{% endset %}
{% set kadenceBlock = _kb_save_14 %}
{% include "blocks/kadence/advancedheading.njk" %}


<ul class="wp-block-list">
<li>Opetettava kone (GenAI TM): <a href="https://tm.gen-ai.fi/about" target="_blank" rel="noreferrer noopener">tietosuojaseloste</a> (toistaiseksi vain englanniksi)</li>



<li>Profilointipeli: <a href="https://classroom.gen-ai.fi/about" target="_blank" rel="noopener" title="">tietosuojaseloste</a> (toistaiseksi vain englanniksi)</li>



<li>Somekone: <a href="https://somekone.gen-ai.fi/about" target="_blank" rel="noreferrer noopener">tietosuojaseloste</a> (toistaiseksi vain englanniksi)</li>
</ul>


{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_23a2ce-60"
  }
} %}
{% set _kb_save_15 = kadenceBlock %}
{% set kadenceInnerHtml %}
5. Rekisterin tietosisältö
{% endset %}
{% set kadenceBlock = _kb_save_15 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_bc0114-47"
  }
} %}
{% set _kb_save_16 = kadenceBlock %}
{% set kadenceInnerHtml %}
Saatamme kysyä sinulta tämän sivun eri työkalujen ja osioiden yhteydessä tietoja, joita voit halutessasi antaa meille. Kysymme tietoja myös rekisteröitymisen yhteydessä tai osallistuessasi esim. arvontoihin tai kyselyihin. Jos www-sivuilla on esillä tutkimuspyyntö, perehdy asianomaisen tutkimusaineiston keruun tietosuojaselosteeseen erikseen, sillä tämä tietosuojaseloste ei kata henkilötietojen hyödyntämistä tutkimuksessa, emmekä kerää henkilötietoja tutkimuskäyttöön! <em>Huomioithan, että tutkittavia informoidaan henkilötiedon käsittelystä kuitenkin erikseen kyseisen tutkimuksen yhteydessä.</em>
{% endset %}
{% set kadenceBlock = _kb_save_16 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_560346-16"
  }
} %}
{% set _kb_save_17 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tätä sivustoa koskevaan rekisteriin tallennettavia tietoja ovat: henkilön nimi, asema, yritys/organisaatio, yhteystiedot (sähköpostiosoite), www-sivustojen osoitteet, verkkoyhteyden IP-osoite, muut asian hoitamiseen ja käytettyihin toimintoihin liittyvät tiedot.
{% endset %}
{% set kadenceBlock = _kb_save_17 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_d00abb-4a"
  }
} %}
{% set _kb_save_18 = kadenceBlock %}
{% set kadenceInnerHtml %}
Verkkosivuston vierailijoiden IP-osoitteita ja palvelun toiminnoille välttämättömiä evästeitä käsitellään oikeutetun edun perusteella mm. tietoturvasta huolehtimiseksi ja sivuston vierailijoiden tilastotietojen keruuta varten niissä tapauksissa, kun niiden voidaan katsoa olevan henkilötietoja. Kolmansien osapuolten evästeille pyydetään tarvittaessa suostumus erikseen.
{% endset %}
{% set kadenceBlock = _kb_save_18 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_1c11f9-9e",
    "level": 3
  }
} %}
{% set _kb_save_19 = kadenceBlock %}
{% set kadenceInnerHtml %}
5.1 Tietoa sivustolla käytetyistä evästeistä
{% endset %}
{% set kadenceBlock = _kb_save_19 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_cfa74f-91",
    "level": 4
  }
} %}
{% set _kb_save_20 = kadenceBlock %}
{% set kadenceInnerHtml %}
5.1.1 Mitä evästeet ovat?<br>
{% endset %}
{% set kadenceBlock = _kb_save_20 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_815aeb-a5",
    "level": 5
  }
} %}
{% set _kb_save_21 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tässä evästekäytännössä selitetään, mitä evästeet ovat ja miten käytämme niitä, minkä tyyppisiä evästeitä käytämme, eli mitä tietoja keräämme evästeiden avulla ja miten näitä tietoja käytetään sekä miten evästeasetuksia hallitaan.<br><br>Evästeet ovat pieniä tekstitiedostoja, joita käytetään pienten tietojen tallentamiseen. Ne tallennetaan laitteeseesi, kun verkkosivusto ladataan selaimeesi. Nämä evästeet auttavat meitä saamaan verkkosivuston toimimaan oikein, tekemään siitä turvallisemman, tarjoamaan paremman käyttökokemuksen ja ymmärtämään, miten verkkosivusto toimii, sekä analysoimaan, mikä toimii ja missä on parantamisen varaa.
{% endset %}
{% set kadenceBlock = _kb_save_21 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_133d3b-c5",
    "level": 4
  }
} %}
{% set _kb_save_22 = kadenceBlock %}
{% set kadenceInnerHtml %}
5.1.2 Miten käytämme evästeitä?
{% endset %}
{% set kadenceBlock = _kb_save_22 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_360d6b-da",
    "level": 5
  }
} %}
{% set _kb_save_23 = kadenceBlock %}
{% set kadenceInnerHtml %}
<br>Kuten useimmat verkkopalvelut, verkkosivustomme käyttää ensimmäisen osapuolen ja kolmannen osapuolen evästeitä useisiin eri tarkoituksiin. Ensimmäisen osapuolen evästeet ovat useimmiten välttämättömiä, jotta verkkosivusto toimisi oikein, eivätkä ne kerää mitään henkilökohtaisesti tunnistettavia tietojasi.<br><br>Verkkosivustollamme käytettävät kolmannen osapuolen evästeet ovat pääasiassa tarkoitettu ymmärtämään, miten verkkosivusto toimii, miten olet vuorovaikutuksessa verkkosivustomme kanssa, pitämään palvelumme turvallisena, tarjoamaan sinulle merkityksellisiä mainoksia ja kaiken kaikkiaan tarjoamaan sinulle paremman ja paremman käyttökokemuksen ja nopeuttamaan tulevia vuorovaikutustapojasi verkkosivustomme kanssa.
{% endset %}
{% set kadenceBlock = _kb_save_23 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_3c9fe8-b0"
  }
} %}
{% set _kb_save_24 = kadenceBlock %}
{% set kadenceInnerHtml %}
6. Säännönmukaiset tietolähteet
{% endset %}
{% set kadenceBlock = _kb_save_24 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_a9e39c-46"
  }
} %}
{% set _kb_save_25 = kadenceBlock %}
{% set kadenceInnerHtml %}
Verkkosivuston rekisteriin tallennettavat tiedot saadaan verkkosivuston vierailijalta mm. www-lomakkeilla ja forum keskusteluun lähetetyistä viesteistä, järjestelmään rekisteröitymisestä ja muista tilanteista, joissa käyttäjä luovuttaa tietojaan. Yhteystietoja voidaan kerätä myös tapahtumissa, joihin hanke ottaa osaa, käyttäen tämän sivun työkaluja tapahtumamarkkinoinnissa.
{% endset %}
{% set kadenceBlock = _kb_save_25 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_0cf412-b9"
  }
} %}
{% set _kb_save_26 = kadenceBlock %}
{% set kadenceInnerHtml %}
Sivusto on toteutettu staattisena Eleventy-sivustona. Sivuston kävijäseurantaan ei käytetä evästeitä tarvitsevia työkaluja, kuten Google Analyticsiä. Sivuston hakutoiminto (Pagefind) toimii täysin paikallisesti eikä lähetä tietoja ulkopuolelle. Evästeilmoitus on toteutettu vanilla-cookieconsent-kirjastolla, joka tallentaa suostumustietosi <code>cc_cookie</code>-evästeeseen paikallisesti selaimeesi (365 päivää).
{% endset %}
{% set kadenceBlock = _kb_save_26 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_320411-17"
  }
} %}
{% set _kb_save_27 = kadenceBlock %}
{% set kadenceInnerHtml %}
7. Tietoa sivustolla käytetyistä evästeistä
{% endset %}
{% set kadenceBlock = _kb_save_27 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_cea31b-9a",
    "level": 3
  }
} %}
{% set _kb_save_28 = kadenceBlock %}
{% set kadenceInnerHtml %}
7.1. Mitä evästeet ovat?
{% endset %}
{% set kadenceBlock = _kb_save_28 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_c0e863-f3"
  }
} %}
{% set _kb_save_29 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tässä evästekäytännössä selitetään, mitä evästeet ovat ja miten käytämme niitä, minkä tyyppisiä evästeitä käytämme, eli mitä tietoja keräämme evästeiden avulla ja miten näitä tietoja käytetään sekä miten evästeasetuksia hallitaan.<br><br>Evästeet ovat pieniä tekstitiedostoja, joita käytetään pienten tietojen tallentamiseen. Ne tallennetaan laitteeseesi, kun verkkosivusto ladataan selaimeesi. Nämä evästeet auttavat meitä saamaan verkkosivuston toimimaan oikein, tekemään siitä turvallisemman, tarjoamaan paremman käyttökokemuksen ja ymmärtämään, miten verkkosivusto toimii, sekä analysoimaan, mikä toimii ja missä on parantamisen varaa.
{% endset %}
{% set kadenceBlock = _kb_save_29 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_54b364-ed"
  }
} %}
{% set _kb_save_30 = kadenceBlock %}
{% set kadenceInnerHtml %}
Huom! Emme käytä evästepohjaista analytiikkaa (esim. Google Analytics) käyttäjien tilastointiin.
{% endset %}
{% set kadenceBlock = _kb_save_30 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_314904-72",
    "level": 3
  }
} %}
{% set _kb_save_31 = kadenceBlock %}
{% set kadenceInnerHtml %}
7.2 Miten käytämme evästeitä?
{% endset %}
{% set kadenceBlock = _kb_save_31 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_0cf3c3-07"
  }
} %}
{% set _kb_save_32 = kadenceBlock %}
{% set kadenceInnerHtml %}
Verkkosivustomme käyttää ensimmäisen osapuolen evästeitä sivuston toimintaan sekä evästeilmoituksen suostumustiedon tallentamiseen (<code>cc_cookie</code>). Kolmannen osapuolen evästeitä käytetään vain suostumuksellasi: <strong>MailerLite</strong> (uutiskirjeen seuranta, ml_*-evästeet) ladataan vasta markkinointikategorian hyväksymisen jälkeen. YouTube-nocookie-videoita voidaan toistaa ilman evästeitä; evästeet asetetaan vasta kun käyttäjä aloittaa videon toiston.
{% endset %}
{% set kadenceBlock = _kb_save_32 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_056be4-d8"
  }
} %}
{% set _kb_save_33 = kadenceBlock %}
{% set kadenceInnerHtml %}
7. Tietojen säännönmukaiset luovutukset ja tietojen siirto EU:n tai ETA:n ulkopuolelle
{% endset %}
{% set kadenceBlock = _kb_save_33 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_1dd6c8-7e"
  }
} %}
{% set _kb_save_34 = kadenceBlock %}
{% set kadenceInnerHtml %}
Pääsy rekisterin tietoihin on kyselyn luoneella Generation AI hankkeen työntekijällä ja tapauskohtaisesti muila hankkeen työntekijöillä, joille on luovutettu kyselyn käyttöoikeudet välttämättömien työtehtävien hoitamiseksi. Tietoja ei luovuteta ulkopuolisille tai kolmansille tahoille ilman rekisteröidyn lupaa muuten kuin lain sallimissa ja velvoittamissa rajoissa tai viranomaisten vaatimusten edellyttämällä tavalla.
{% endset %}
{% set kadenceBlock = _kb_save_34 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_8eb73f-46"
  }
} %}
{% set _kb_save_35 = kadenceBlock %}
{% set kadenceInnerHtml %}
8. Tietojen säilytysoikeus
{% endset %}
{% set kadenceBlock = _kb_save_35 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_50fb86-1e"
  }
} %}
{% set _kb_save_36 = kadenceBlock %}
{% set kadenceInnerHtml %}
Rekisterinpitäjä säilyttää tietoja vain niin kauan, kun on tarpeen rekisterin käyttötarkoituksen kannalta.
{% endset %}
{% set kadenceBlock = _kb_save_36 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_8bfc9f-e0"
  }
} %}
{% set _kb_save_37 = kadenceBlock %}
{% set kadenceInnerHtml %}
9. Rekisterin suojaus
{% endset %}
{% set kadenceBlock = _kb_save_37 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_4939fd-6f"
  }
} %}
{% set _kb_save_38 = kadenceBlock %}
{% set kadenceInnerHtml %}
Tietokannat, joihin tietoja tallennetaan, ovat teknisesti ja fyysisesti suojattu, siten ettei ulkopuolella ole niihin pääsyä. Pääsy tietoihin on vain niillä, joille se on tarpeen työtehtävien hoitamiseksi. Www-sivut sijaitsevat suomalaisen Zoner Oy:n palvelimella Euroopassa.
{% endset %}
{% set kadenceBlock = _kb_save_38 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_708eab-49"
  }
} %}
{% set _kb_save_39 = kadenceBlock %}
{% set kadenceInnerHtml %}
10. Tarkastus- ja korjausoikeus sekä oikeus tietojen poistamiseen
{% endset %}
{% set kadenceBlock = _kb_save_39 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_0067da-17"
  }
} %}
{% set _kb_save_40 = kadenceBlock %}
{% set kadenceInnerHtml %}
Jokaisella rekisterissä olevalla henkilöllä on oikeus tarkistaa rekisteriin tallennetut tietonsa ja vaatia mahdollisen virheellisen tiedon korjaamista tai puutteellisen tiedon täydentämistä. Mikäli henkilö haluaa tarkistaa hänestä tallennetut tiedot tai vaatia niihin oikaisua, pyyntö tulee&nbsp;lähettää kirjallisesti&nbsp;rekisterinpitäjälle. Rekisterinpitäjä voi pyytää tarvittaessa pyynnön esittäjää todistamaan henkilöllisyytensä. Rekisterinpitäjä vastaa asiakkaalle EU:n tietosuoja-asetuksessa säädetyssä ajassa (pääsääntöisesti kuukauden kuluessa).
{% endset %}
{% set kadenceBlock = _kb_save_40 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_dd7fa9-e9"
  }
} %}
{% set _kb_save_41 = kadenceBlock %}
{% set kadenceInnerHtml %}
11. Siirto- ja kielto-oikeus
{% endset %}
{% set kadenceBlock = _kb_save_41 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_5c342f-46"
  }
} %}
{% set _kb_save_42 = kadenceBlock %}
{% set kadenceInnerHtml %}
Rekisteröidyllä on oikeus saada häntä koskevat henkilötiedot, jotka hän on toimittanut rekisterinpitäjälle, jäsennetyssä, yleisesti käytetyssä ja koneellisesti luettavassa muodossa, jos käsittely perustuu suostumukseen tai sopimukseen ja käsittely suoritetaan automaattisesti.<br>Rekisteröidyllä on EU:n tietosuoja-asetuksen 18 artiklan mukainen oikeus tietojen käsittelyn rajoittamiseen.
{% endset %}
{% set kadenceBlock = _kb_save_42 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_182411-c5"
  }
} %}
{% set _kb_save_43 = kadenceBlock %}
{% set kadenceInnerHtml %}
12. Tietosuojaselosteen muuttaminen
{% endset %}
{% set kadenceBlock = _kb_save_43 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_fb155c-ce"
  }
} %}
{% set _kb_save_44 = kadenceBlock %}
{% set kadenceInnerHtml %}
Rekisterinpitäjä pidättää oikeuden päivittää ja muuttaa tietosuojaselostetta. Lainsäädännön niin vaatiessa ilmoitamme siitä rekisteröidyille.
{% endset %}
{% set kadenceBlock = _kb_save_44 %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "2989_5165db-87"
  }
} %}
{% set _kb_save_45 = kadenceBlock %}
{% set kadenceInnerHtml %}

{% endset %}
{% set kadenceBlock = _kb_save_45 %}
{% include "blocks/kadence/advancedheading.njk" %}
