---
title: Uutiskirjeen tietosuojaseloste
date: "2023-08-28T09:20:07"
updated: "2023-08-28T10:00:53"
slug: uutiskirjeen-tietosuojaseloste
permalink: /uutiskirjeen-tietosuojaseloste/
status: publish
sourceType: pages
excerpt: "Uutiskirjeen tietosuojaseloste Generation AI hankkeen uutiskirje Generation AI julkaisee sähköistä uutiskirjettä, jonka voi tilata hankkeen verkkosivujen kautta. Kirje lähetetään sähköpostitse sen tilanneille (opt-in). Henkilötietoja käytetään vain uutiskirjeen lähettämiseen. Kirjeen tilaajista tallennetaan vain sähköpostiosoite, nimi ja organisaatio. Näistä tiedoista vain sähköpostiosoitteen antaminen on pakollista. Myös sellaisia rekisteröidyn antamia lisätietoja voidaan käsitellä, jotka ovat tarpeen uutiskirjeen kohdentamiseksi esimerkiksi…"
categories: []
tags: []
author: admin
layout: layouts/page.njk
pageHero: true
heroImage: "/media/wp-content/uploads/2022/12/Child_using_a_mobile_phone_hypnotized_computer_hyper_reali_7e5fceac-75e4-4087-8364-b0ae1a8e0b00.png"
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "572_c37073-38",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette9)",
    "padding": [
      "xxl",
      "",
      "xxl",
      ""
    ],
    "align": "full",
    "bgColorClass": "theme-palette9"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "572_2cb44f-b0",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "572_78198d-ba",
    "columns": 1,
    "colLayout": "equal",
    "padding": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "572_675b55-22",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "572_f5362c-7d",
    "align": "center",
    "color": "var(--global-var(--global-var(--global-palette3)))",
    "fontSize": [
      "xxl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Uutiskirjeen tietosuojaseloste
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}


<h3 class="wp-block-heading">Generation AI hankkeen uutiskirje</h3>



<p>Generation AI julkaisee sähköistä uutiskirjettä, jonka voi tilata hankkeen verkkosivujen kautta. Kirje lähetetään sähköpostitse sen tilanneille (opt-in). Henkilötietoja käytetään vain uutiskirjeen lähettämiseen.</p>



<p>Kirjeen tilaajista tallennetaan&nbsp;vain sähköpostiosoite, nimi ja organisaatio. Näistä tiedoista vain sähköpostiosoitteen antaminen on pakollista. Myös sellaisia rekisteröidyn antamia lisätietoja voidaan käsitellä, jotka ovat tarpeen uutiskirjeen kohdentamiseksi esimerkiksi organisaation toimialan mukaan. Henkilötietoja säilytetään niin pitkään kuin on tarpeellista uutiskirjeen lähettämiseksi (kunnes tilaus peruutetaan tai uutiskirjepalvelun olemassaolo lakkaa).</p>



<p>Uutiskirjeen tilaajalla on jokaisen uutiskirjeen vastaanottamisen yhteydessä mahdollisuus perua tilaus tai muuttaa tilauksen asetuksia. Tilauksen voi perua myös&nbsp;<strong>Generation AI hankkeen verkkosivujen kautta</strong>.&nbsp;Uutiskirjeen tilauksen peruneiden henkilötiedot tuhotaan viivytyksettä.</p>



<p>Palvelu kerää ja tallennaa tietoja uutiskirjeiden avauksista tai klikkauksista Generation AI hankkeen rahoittajan vaatimiin raportointitarpeisiin. Tilaajiin kohdistetaan vain hankkeen raportoinnin vaatimaa tarkkailua, seurantaa tai valvontaa uutiskirjeen tilaamisen tai vastaanottamisen yhteydessä.</p>



<h4 class="wp-block-heading">Mihin käsittelymme perustuu</h4>



<p>Käsittelemme uutiskirjeen henkilötietoja rekisterinpitäjän oikeutetun edun perusteella.</p>



<h4 class="wp-block-heading">Henkilötietojen luovuttaminen ja siirto</h4>



<p>Henkilötietojen käsittelijänä toimii Generation AI hankkeen vuorovaikutuksesta vastaava työpaketti Oulun yliopiston kasvatustieteiden ja psykologian tiedekunnassa. </p>



<p>Uutiskirje on osa Generation AI hankkeen www-sivuja, jotka toimivat suomalaisen Zoner yrityksen www-palvelimella Wordpress-alustalla. Uutiskirje perustuu Newsletter nimiseen wordpress-laajennukseen. Laajennus on täysin gdpr-yhteensopiva.</p>



<p>Tietoja ei luovuteta suoramarkkinointia ja mielipide- tai markkinatutkimusta varten, ellei luovuttamisesta tähän tarkoitukseen ole erikseen säädetty.</p>



<p>Henkilötietojen käsittely suoritetaan EU/ETA-alueella. Henkilötietoja ei tulla siirtämään kolmansiin maihin tai kansainvälisille järjestöille.</p>



<h4 class="wp-block-heading">Henkilötietojen käsittelyyn liittyvät tietosuojaoikeutesi</h4>



<p>Tässä osiossa kerromme Generation AI hankkeen sähköiseen uutiskirjeeseen liittyvistä tietosuojaoikeuksistasi.</p>



<h5 class="wp-block-heading">Oikeus saada informaatiota henkilötietojen käsittelystä</h5>



<ul>
<li>sinulla on oikeus saada tietää, mihin tarkoituksiin ja millä tavoilla käsittelemme henkilötietojasi</li>



<li>pyrimme tällä kuvauksella tietosuojakäytännöistämme antamaan kattavan kuvan henkilötietojen käsittelystä toiminnassamme. Jos jokin osa toteuttamastamme henkilötietojen käsittelystä jää kuitenkin edelleen epäselväksi, emme ole onnistuneet pyrkimyksessämme. Tällöin voit esittää tarkentavia kysymyksiä lähettämällä kysymyksesi Generation hankkeen vuorovaikutustiimille sähköpostilla (ks. yhteystiedot alla)</li>
</ul>



<h5 class="wp-block-heading">Oikeus saada pääsy tietoihin</h5>



<ul>
<li>sinulla on oikeus saada tietää, käsittelemmekö sinua koskevia henkilötietoja. Jos käsittelemme, sinulla on oikeus saada jäljennös näistä tiedoista, ellei meillä ole lainmukaista perustetta kieltäytyä oikeuden toteuttamisesta</li>
</ul>



<h5 class="wp-block-heading">Oikeus oikaista tietoja</h5>



<ul>
<li>jos sinua koskevat henkilötiedot, joita käsittelemme, ovat virheellisiä, voit pyytää meitä oikaisemaan tiedot</li>



<li>jos oikaisemme tietoja pyyntösi perusteella, olemme velvollisia mahdollisuuksien mukaan ilmoittamaan oikaisusta kaikille niille, joille tietoja on aikaisemmin luovutettu</li>
</ul>



<h5 class="wp-block-heading">Oikeus rajoittaa tietojen käsittelyä</h5>



<ul>
<li>jos käsittelemämme sinua koskevat tiedot ovat mielestäsi virheellisiä, niitä käsitellään lainvastaisesti tai olet vastustanut tietojesi käsittelyä, voit pyytää meitä rajoittamaan tietojesi käsittelyä</li>



<li>tällöin voimme käsitellä tietojasi vain sinun suostumuksellasi
<ul>
<li>jos tarvitsemme tietoja oikeusvaateen laatimisen, esittämisen tai puolustamisen takia</li>



<li>yleisen edun vuoksi, tai</li>



<li>jonkun toisen henkilön oikeuksien suojaamiseksi</li>
</ul>
</li>



<li>jos rajoitamme tietojen käsittelyä pyyntösi perusteella, olemme velvollisia mahdollisuuksien mukaan ilmoittamaan rajoituksesta kaikille niille, joille tietoja on aikaisemmin luovutettu</li>
</ul>



<h4 class="wp-block-heading">Henkilötietojen poistoa tai oikaisua koskeva ilmoitusvelvollisuus</h4>



<p>Generation AI hankkeen on ilmoitettava kaikenlaisesta henkilötietojen oikaisuista tai käsittelyn rajoituksista jokaiselle vastaanottajalle, jolle henkilötietoja on luovutettu.</p>



<h4 class="wp-block-heading">Oikeus vastustaa henkilötietojen käsittelyä<br></h4>



<p>Sinulla on halutessasi oikeus vastustaa toteuttamaamme henkilötietojesi käsittelyä. Voit tehdä sen milloin tahansa henkilökohtaiseen erityiseen tilanteeseesi liittyvällä perusteella. </p>



<p>Tällöin emme enää saa käsitellä henkilötietojasi, paitsi jos käsittelyyn on olemassa huomattavan tärkeä ja perusteltu syy, joka syrjäyttää sinun etusi, oikeutesi ja vapautesi, tai jos tietojen käsittely on tarpeen oikeusvaateen laatimiseksi, esittämiseksi tai puolustamiseksi.</p>



<h4 class="wp-block-heading">Yhteystiedot oikeuksiesi käyttämiseksi</h4>



<p>Voit esittää tietosuojaoikeuksiasi koskevan pyynnön Generation AI hankkeen vuorovaikutusvastaavalle sähköpostilla (info@generation-ai-stn.fi)&nbsp;</p>
