---
title: Uutiskirje
date: "2023-08-22T14:43:58"
updated: "2023-10-12T22:07:24"
slug: uutiskirje
permalink: /uutiskirje/
status: publish
sourceType: pages
excerpt: "Tietoa uutiskirjeestä Hankkeella on tällä hetkellä kolme erilaista uutiskirjettä: 1) automaattinen viikottain ilmestyvä kirje; 2) automaattinen kuukausittain ilmestyvä uutiskirje ja 3) harvakseltaan ilmestyvä käsin ylläpidettävä uutiskirje. Riippumatta siitä mitä uutiskirjettä tilaat, saat hankkeen merkittävimmät uutiset kirjeen kautta sähköpostiisi. Kuukausikirje ja viikkokirje pitävät sinut ajan tasalla myös muusta hankkeemme toiminnasta. Voit tilata halutessasi vaikka jokaisen uutiskirjeen,…"
categories: []
tags: []
author: admin
featuredImage: "https://www.generation-ai-stn.fi/wp-content/uploads/2023/04/339134953_797654448447197_4408377303500786199_n.jpg"
layout: layouts/page.njk
pageHero: true
---

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "560_de7a35-c4",
    "columns": 1,
    "colLayout": "equal",
    "bgColor": "var(--global-palette7)",
    "padding": [
      100,
      "",
      "",
      0
    ],
    "margin": [
      "",
      "",
      null,
      ""
    ],
    "bottomSep": "mtns",
    "align": "full",
    "bgColorClass": "theme-palette7"
  }
} %}
{% set _kb_save_0 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "560_ca56d1-3b",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "middle"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "560_335896-8e",
    "columns": 1,
    "colLayout": "equal"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "560_8d08f6-c2",
    "padding": [
      "",
      "",
      "md",
      "md"
    ],
    "margin": [
      "",
      null,
      "",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ],
    "className": "inner-column-1",
    "verticalAlignment": "top"
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "560_dc75a6-73",
    "color": "var(--global-var(--global-var(--global-palette9)))",
    "fontSize": [
      "xxl",
      "",
      "xxl"
    ]
  }
} %}
{% set kadenceInnerHtml %}

{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% include "blocks/kadence/rowlayout.njk" %}
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_0 %}
{% include "blocks/kadence/rowlayout.njk" %}

{% set kadenceBlock = {
  "name": "kadence/rowlayout",
  "shortName": "rowlayout",
  "attrs": {
    "uniqueID": "560_bf5162-ae",
    "colLayout": "equal",
    "padding": [
      "xl",
      "0",
      "xl",
      "xl"
    ],
    "bottomSep": "mtns",
    "align": "full"
  }
} %}
{% set _kb_save_1 = kadenceBlock %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "560_a9e0aa-23",
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "560_9df63a-78",
    "fontSize": [
      "xl",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
Tietoa uutiskirjeestä
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}

{% set kadenceBlock = {
  "name": "kadence/advancedheading",
  "shortName": "advancedheading",
  "attrs": {
    "uniqueID": "560_0fc03f-c9"
  }
} %}
{% set kadenceInnerHtml %}
Hankkeella on tällä hetkellä kolme erilaista uutiskirjettä: 1) automaattinen viikottain ilmestyvä kirje; 2) automaattinen kuukausittain ilmestyvä uutiskirje ja 3) harvakseltaan ilmestyvä käsin ylläpidettävä uutiskirje.<br><br>Riippumatta siitä mitä uutiskirjettä tilaat, saat hankkeen merkittävimmät uutiset kirjeen kautta sähköpostiisi. Kuukausikirje ja viikkokirje pitävät sinut ajan tasalla myös muusta hankkeemme toiminnasta.
{% endset %}
{% include "blocks/kadence/advancedheading.njk" %}


<p>Voit tilata halutessasi vaikka jokaisen uutiskirjeen, mutta viikko- ja kuukausikirjeiden sisällöissä voi olla päällekkäisyyksiä.</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}

{% set kadenceBlock = {
  "name": "kadence/column",
  "shortName": "column",
  "attrs": {
    "uniqueID": "560_5b4a95-32",
    "padding": [
      "lg",
      "",
      "lg",
      ""
    ],
    "borderWidth": [
      "",
      "",
      "",
      ""
    ]
  }
} %}
{% set kadenceInnerHtml %}
<p>[newsletter]</p>
{% endset %}
{% include "blocks/kadence/column.njk" %}
{% endset %}
{% set kadenceBlock = _kb_save_1 %}
{% include "blocks/kadence/rowlayout.njk" %}


<p></p>
