---
layout: layouts/base.njk
---
<main class="page search-page" data-pagefind-ignore>
  <h1 class="page-title">{{ title }}</h1>
  <pagefind-input></pagefind-input>
  <pagefind-results show-images></pagefind-results>
</main>
<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script type="module" src="/pagefind/pagefind-component-ui.js"></script>
<script type="module">
  var params = new URLSearchParams(location.search);
  var q = params.get('q');
  if (q) {
    await customElements.whenDefined('pagefind-input');
    var inp = document.querySelector('pagefind-input');
    if (inp) inp.setAttribute('value', q);
  }
</script>
